{{ _p_target_registry_hostname }}{% if _p_target_registry_port | default('') != '' %}:{{ _p_target_registry_port }}{% endif %}{% if _p_target_registry_namespace | default('') != '' %}/{{ _p_target_registry_namespace }}{% endif %}