mirror-images \
    --release={{ _p_cp4d_version }} \
{% if _p_cp4d_version >= '5.4.0' and _p_cp4d_patch_id != '' -%}
    --patch_id={{ _p_cp4d_patch_id }} \
{% endif %}
{% if _p_mirror_motion == 'portable-to-private' %}
    --source_registry={{ _v_portable_registry }}:{{ _v_portable_registry_port }} \
{% endif -%}
{% if _p_mirror_motion == 'entitled-to-portable' %}
    --target={{ _v_portable_registry }}:{{ _v_portable_registry_port }} \
{% elif _p_mirror_motion.endswith('private') %}
    --target_registry={{ _registry_full_path }} \
{% endif -%}    
    --arch={{ _openshift_processor_arch }} \
    -v \
    --case_download=false \
    --components=ibm-cert-manager,ibm-licensing,{{ _cartridges_to_mirror_list }}