apiVersion: v1
kind: Secret
metadata:
  name: ibm-dba-ads-runtime-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  decisionServiceUsername: drs
  decisionServicePassword: "{{ cp4ba_universal_password }}"
  decisionServiceManagerUsername: drsManager
  decisionServiceManagerPassword: "{{ cp4ba_universal_password }}"
  decisionRuntimeMonitorUsername: drsMonitor
  decisionRuntimeMonitorPassword: "{{ cp4ba_universal_password }}"
  deploymentSpaceManagerUsername: depManager
  deploymentSpaceManagerPassword: "{{ cp4ba_universal_password }}"
  asraManagerUsername: asraManager
  asraManagerPassword: "{{ cp4ba_universal_password }}"
  encryptionKeys: |
    {"activeKey":"key1","secretKeyList":[{"secretKeyId":"key1",
    "value":"123344566745435"}]}
  mlConfig: ""
  sslKeystorePassword: "{{ cp4ba_universal_password }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: ibm-dba-ads-mongo-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  # mongodb+srv switched for mongodb protocol only. srv is for DNS replica resolution which is not in place
  gitMongoUri: "mongodb://{{ cp4ba_mongodb_admin_user }}:{{ cp4ba_universal_password }}@{{ cp4ba_mongodb_hostname }}:27017/ads-git?retryWrites=true&w=majority&authSource=admin"
  mongoUri: "mongodb://{{ cp4ba_mongodb_admin_user }}:{{ cp4ba_universal_password }}@{{ cp4ba_mongodb_hostname }}:27017/ads?retryWrites=true&w=majority&authSource=admin"
  mongoHistoryUri: "mongodb://{{ cp4ba_mongodb_admin_user }}:{{ cp4ba_universal_password }}@{{ cp4ba_mongodb_hostname }}:27017/ads-history?retryWrites=true&w=majority&authSource=admin"
  runtimeMongoUri: "mongodb://{{ cp4ba_mongodb_admin_user }}:{{ cp4ba_universal_password }}@{{ cp4ba_mongodb_hostname }}:27017/ads-runtime?retryWrites=true&w=majority&authSource=admin"
