spec:
  ads_configuration:
    # Based on https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/24.0.0?topic=services-configuring-generative-ai-secret
    genai_secret_name: ads-genai-secret
    decision_designer:
      enabled: true
    credentials_service:
      resources:
        limits:
          ephemeral_storage: 1Gi
    parsing_service:
      resources:
        limits:
          ephemeral_storage: 1Gi
