spec:
  ads_configuration:
    decision_designer:
      enabled: true
    credentials_service:
      resources:
        limits:
          ephemeral_storage: 1Gi
    parsing_service:
      resources:
        limits:
          ephemeral_storage: 1Gi
