spec:
  ads_configuration:
    decision_designer:
      enabled: true
    embedded_build_service:
      replica_count: 1
    front:
      replica_count: 1
    download_service:
      replica_count: 1
    rest_api:
      replica_count: 1
    credentials_service:
      replica_count: 1
      resources:
        limits:
          ephemeral_storage: 1Gi
    git_service:
      replica_count: 1
    parsing_service:
      replica_count: 1
      resources:
        limits:
          ephemeral_storage: 1Gi
    run_service:
      replica_count: 1
