spec:
  ads_configuration:
    decision_runtime:
      enabled: true
      autoscaling:
        enabled: false
    decision_runtime_service:
      tls:
        allow_self_signed: true
      autoscaling:
        enabled: false
