kind: Secret
apiVersion: v1
metadata:
  name: mongodb-password
  namespace: "{{ mongodb_project_name }}"
  labels:
    app: mongodb
stringData:
  mongodb-root-password: "{{ mongodb_universal_password }}"
type: Opaque
