kind: Service
apiVersion: v1
metadata:
  name: mongodb
  namespace: "{{ mongodb_project_name }}"
  labels:
    app: mongodb
spec:
  type: NodePort
  ports:
    - name: mongodb
      protocol: TCP
      port: 27017
      targetPort: mongodb
  selector:
    app: mongodb
