image:
  tag: "{{ mongodb_image_tag }}"
architecture: standalone
auth:
  enabled: true
  rootPassword: "{{ mongodb_universal_password }}"
resources:
  limits:
    cpu: 1000m
    memory: 1024Mi
  requests:
    cpu: 500m
    memory: 256Mi
persistence:
  size: 8Gi
  storageClass: "{{ mongodb_storage_class_name }}"
arbiter:
  enabled: false
serviceAccount:
  create: false
service:
  type: NodePort
# Custom needed as newer Charts are using mongosh which is not present in older mongo images.
customReadinessProbe:
  exec:
    command:
      - bash
      - '-ec'
      - >
        # Run the proper check depending on the version

        [[ $(mongo --version | grep "MongoDB shell") =~
        ([0-9]+\.[0-9]+\.[0-9]+) ]] && VERSION=${BASH_REMATCH[1]}

        . /opt/bitnami/scripts/libversion.sh

        VERSION_MAJOR="$(get_sematic_version "$VERSION" 1)"

        VERSION_MINOR="$(get_sematic_version "$VERSION" 2)"

        VERSION_PATCH="$(get_sematic_version "$VERSION" 3)"

        if [[ "$VERSION_MAJOR" -ge 4 ]] && [[ "$VERSION_MINOR" -ge 4 ]] &&
        [[ "$VERSION_PATCH" -ge 2 ]]; then
            mongo --disableImplicitSessions $TLS_OPTIONS --eval 'db.hello().isWritablePrimary || db.hello().secondary' | grep -q 'true'
        else
            mongo --disableImplicitSessions $TLS_OPTIONS --eval 'db.isMaster().ismaster || db.isMaster().secondary' | grep -q 'true'
        fi
  initialDelaySeconds: 5
  timeoutSeconds: 5
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 6
customLivenessProbe:
  exec:
    command:
      - mongo
      - '--disableImplicitSessions'
      - '--eval'
      - db.adminCommand('ping')
  initialDelaySeconds: 30
  timeoutSeconds: 5
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 6
startupProbe:
  enabled: false