# IBM License Manager https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-licensing

---
# IBM License Manager 4.2.24
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-licensing-catalog
  namespace: ibm-licensing
spec:
  displayName: ibm-licensing-4.2.24
  publisher: IBM
  image: icr.io/cpopen/ibm-licensing-catalog@sha256:8e2bee469a186599167283316e29f9e6e4f413b7bc7cdebcd3828ecf8f81b956
  sourceType: grpc
  grpcPodConfig:
    securityContextConfig: restricted
