# IBM License Service Reporter https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-license-service-reporter-bundle
## image digest in ibm-license-service-reporter-bundle\inventory\ibmLicenseServiceReporterOperatorSetup\resources.yaml 'image: cpopen/ibm-license-service-reporter-operator-catalog'

---
# IBM License Service Reporter 4.2.21
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-license-service-reporter-operator-catalog
  namespace: ibm-lsr
spec:
  displayName: IBM License Service Reporter Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-license-service-reporter-operator-catalog@sha256:adc1fa50d123ed3cabdd832ddc3beca32787d7ee2e1174dba34469161bd70a75
  updateStrategy:
   registryPoll:
    interval: 45m