# IBM License Manager https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-licensing

---
# IBM License Manager 4.2.23
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-licensing-catalog
  namespace: ibm-licensing
spec:
  displayName: ibm-licensing-4.2.23
  publisher: IBM
  image: icr.io/cpopen/ibm-licensing-catalog@sha256:dc50f5d6e34b63d05e486bec83064a702fe60dd7ecaa0a827a154c4bf3a426d1
  sourceType: grpc
  grpcPodConfig:
    securityContextConfig: restricted    