# IBM License Manager https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-licensing

---
# IBM License Manager 4.2.15
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-licensing-catalog
  namespace: ibm-licensing
spec:
  displayName: ibm-licensing-4.2.15
  publisher: IBM
  image: icr.io/cpopen/ibm-licensing-catalog@sha256:5c5fda8dc9958f1420ccccb4872c58fd6639d5f2c70694c06eb14f59816a4be8
  sourceType: grpc