
# IBM Certificate Manager https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cert-manager
# IBM License Manager https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-licensing
# IBM License Service Reporter https://github.com/IBM/cloud-pak/tree/afa5f33d3728fd03b87a5481fc223d5c50cf9015/repo/case/ibm-license-service-reporter-bundle

---
# IBM Certificate Manager 4.2.2
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cert-manager-catalog
  namespace: ibm-cert-manager
spec:
  displayName: ibm-cert-manager-4.2.4
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cert-manager-operator-catalog@sha256:41084f653ef84c61443bb1bfffedeffb0bca65f267a56f14fb8757410c6412aa
  updateStrategy:
    registryPoll:
      interval: 45m
---
# IBM License Manager 4.2.2
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-licensing-catalog
  namespace: ibm-licensing
spec:
  displayName: ibm-licensing-4.2.4
  publisher: IBM
  image: icr.io/cpopen/ibm-licensing-catalog@sha256:7435cec615ad3cde5f04a2ad7d22fe8bf22ae063816daac9a211258da21c6866
  sourceType: grpc
  updateStrategy:
    registryPoll:
      interval: 45m
---
# IBM License Service Reporter 4.2.1
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-license-service-reporter-operator-catalog
  namespace: ibm-lsr
spec:
  displayName: IBM License Service Reporter Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-license-service-reporter-operator-catalog
  updateStrategy:
   registryPoll:
    interval: 45m