# IBM License Service Reporter https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-license-service-reporter-bundle
## image digest in ibm-license-service-reporter-bundle\inventory\ibmLicenseServiceReporterOperatorSetup\resources.yaml 'image: cpopen/ibm-license-service-reporter-operator-catalog'

---
# IBM License Service Reporter 4.2.19
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-license-service-reporter-operator-catalog
  namespace: ibm-lsr
spec:
  displayName: IBM License Service Reporter Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-license-service-reporter-operator-catalog@sha256:c2dcb0bb5ff0902ac0e5bc48424de68bd6933b7b09d4a027e9d39e0f6357375d
  updateStrategy:
   registryPoll:
    interval: 45m