# IBM License Service Reporter https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-license-service-reporter-bundle
## image digest in ibm-license-service-reporter-bundle\inventory\ibmLicenseServiceReporterOperatorSetup\resources.yaml 'image: cpopen/ibm-license-service-reporter-operator-catalog'

---
# IBM License Service Reporter 4.2.18
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-license-service-reporter-operator-catalog
  namespace: ibm-lsr
spec:
  displayName: IBM License Service Reporter Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-license-service-reporter-operator-catalog@sha256:0fae3acfd961ceaf23de9aa25db011f6082daf750e1f1cbe2a226b4f5a6ac5e0
  updateStrategy:
   registryPoll:
    interval: 45m