# https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cp-common-services
# Also update install waiting for catalog sources base don the name of this catalog source
# IBM Cloud Foundational Services 4.1
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: opencloud-operators-v4-1
  namespace: openshift-marketplace
  annotations:
    bedrock_catalogsource_priority: '1'
spec:
  displayName: IBMCS Operators
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-common-service-catalog@sha256:c1fbc5080364b95be0a499b944f37b09ad662913c1bca3abc3f3da733a8a7dac
  updateStrategy:
    registryPoll:
      interval: 45m
  priority: 100    
---
# https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-bts-bundle
# IBM Business Teams Service version 3.28.0
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: bts-operator
  namespace: openshift-marketplace
  annotations:
    bedrock_catalogsource_priority: '1'
spec:
  displayName: BTS Operator
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-bts-operator-catalog@sha256:6460b1172321e6088d2d97bb7da6a0ca9a50c23eb5973dc3ac6295eaf3e52229
  updateStrategy:
    registryPoll:
      interval: 45m
---
# https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cs-flink
# IBM CS Flink Operator Catalog 1.3.14
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cs-flink-operator-catalog
  namespace: openshift-marketplace
spec:
  displayName: IBM CS Flink Operator
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cs-flink-operator-catalog@sha256:732e3afb4c43bb3367175c0e2d4461faed9a29eb1ba47c63875efdcb7d6ae54f
  updateStrategy:
    registryPoll:
      interval: 45m
  priority: 100
---
# https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cs-elastic
# IBM CS Elastic Operator Catalog 1.3.14
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cs-elastic-operator-catalog
  namespace: openshift-marketplace
spec:
  displayName: IBM CS Elastic Search Operator
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cs-elastic-operator-catalog@sha256:a41ad89177f39a200f666310d7505848c7953965db08017a97781c5d51f78642
  updateStrategy:
    registryPoll:
      interval: 45m
  priority: 100
---
# https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cert-manager
# IBM Certificate Manager 4.1
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cert-manager-catalog
  namespace: openshift-marketplace
spec:
  displayName: ibm-cert-manager-4.1.0
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cert-manager-operator-catalog@sha256:c1b6196c5499a5c0abcaddba4d64cee67d9893d672c96d839020bc68392089d0
  updateStrategy:
    registryPoll:
      interval: 45m
---
# https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-licensing
# IBM License Manager 4.1
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-licensing-catalog
  namespace: openshift-marketplace
spec:
  displayName: ibm-licensing-4.1.0
  publisher: IBM
  image: icr.io/cpopen/ibm-licensing-catalog@sha256:3c5a9afce735053967b8458a9170fb99efff5cb442533db222c76d20e06295c8
  sourceType: grpc
  updateStrategy:
    registryPoll:
      interval: 45m
---
# https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cloud-native-postgresql
# Cloud Native PostgresSQL 4.14.0+20230619
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: cloud-native-postgresql-catalog
  namespace: openshift-marketplace
  annotations:
    bedrock_catalogsource_priority: '1'
spec:
  displayName: Cloud Native Postgresql Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cpd-cloud-native-postgresql-operator-catalog@sha256:a06b9c054e58e089652f0e4400178c4a1b685255de9789b80fe5d5f526f9e732
  updateStrategy:
    registryPoll:
      interval: 45m
  priority: 100