apiVersion: v1
kind: ConfigMap
metadata:
  name: common-service-maps
  namespace: kube-public
data: 
  common-service-maps.yaml: |
    controlNamespace: cs-control
    namespaceMapping:
      - requested-from-namespace:
          - "{{ cpfs_cp4ba_project_name }}"
        map-to-common-service-namespace: "{{ cpfs_cp4ba_project_name }}"
