apiVersion: operator.ibm.com/v1alpha1
kind: IBMLicenseServiceReporter
metadata:
  labels:
    app.kubernetes.io/instance: ibm-licensing-operator
    app.kubernetes.io/managed-by: ibm-licensing-operator
    app.kubernetes.io/name: ibm-licensing
    operator.ibm.com/opreq-control: 'true'
  name: instance
  namespace: cs-control
spec:
  storageClass: "{{cpfs_storage_class_name}}"
