{
  "name": "OpenLDAP",
  "description": "",
  "protocol": "ldap",
  "type": "Custom",
  "idp_config": {
    "ldap_id": "OpenLDAP",
    "ldap_url": "{{ 'ldap' if not lc_ldap_ssl_enabled else 'ldaps' }}://{{ lc_ldap_server }}:{{ lc_ldap_port }}",
    "ldap_basedn": "{{ lc_ldap_base_dn }}",
    "ldap_binddn": "{{ lc_bind_admin_user }}",
    "ldap_bindpassword": "{{ lc_bind_admin_password | b64encode }}",
    "ldap_type": "Custom",
    "ldap_userfilter": "{{ lc_tds_user_filter if 'IBM Security Directory Server' in lc_selected_ldap_type else (lc_ad_user_filter if 'Microsoft Active Directory' in lc_selected_ldap_type else lc_custom_user_filter) }}",
    "ldap_groupfilter": "{{ lc_tds_group_filter if 'IBM Security Directory Server' in lc_selected_ldap_type else (lc_ad_group_filter if 'Microsoft Active Directory' in lc_selected_ldap_type else lc_custom_group_filter) }}",
    "ldap_useridmap": "{{ lc_ldap_user_name_attribute }}",
    "ldap_groupidmap": "{{ lc_ldap_group_name_attribute }}",
    "ldap_groupmemberidmap": "{{ lc_ldap_group_member_id_map }}"
  }
}
