{
  "LDAP_ID": "LDAP",
  "LDAP_URL": "{{ 'ldap' if not lc_ldap_ssl_enabled else 'ldaps' }}://{{ lc_ldap_server }}:{{ lc_ldap_port }}",
  "LDAP_BASEDN": "{{ lc_ldap_base_dn }}",
  "LDAP_BINDDN": "{{ lc_bind_admin_user }}",
  "LDAP_BINDPASSWORD": "{{ lc_bind_admin_password | b64encode }}",
  "LDAP_TYPE": "Custom",
  "LDAP_USERFILTER": "{{ lc_tds_user_filter if 'IBM Security Directory Server' in lc_selected_ldap_type else (lc_ad_user_filter if 'Microsoft Active Directory' in lc_selected_ldap_type else lc_custom_user_filter) }}",
  "LDAP_GROUPFILTER": "{{ lc_tds_group_filter if 'IBM Security Directory Server' in lc_selected_ldap_type else (lc_ad_group_filter if 'Microsoft Active Directory' in lc_selected_ldap_type else lc_custom_group_filter) }}",
  "LDAP_USERIDMAP": "{{ lc_ldap_user_name_attribute }}",
  "LDAP_GROUPIDMAP": "{{ lc_ldap_group_name_attribute }}",
  "LDAP_GROUPMEMBERIDMAP": "{{ lc_ldap_group_member_id_map }}"
}
