apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ibm-license-service-reporter-operator
  namespace: ibm-lsr
spec:
  channel: "{{cpfs_lsr_operator_channel}}"
  installPlanApproval: Automatic
  name: ibm-license-service-reporter-operator
  source: ibm-license-service-reporter-operator-catalog
  sourceNamespace: ibm-lsr