kind: Secret
apiVersion: v1
metadata:
  name: ibm-license-service-reporter-credentials
  namespace: ibm-lsr
  labels:
    app.kubernetes.io/component: ibm-license-service-reporter-svc
    app.kubernetes.io/instance: ibm-license-service-reporter
    app.kubernetes.io/managed-by: operator
    app.kubernetes.io/name: ibm-license-service-reporter-instance
    release: ibm-license-service-reporter
stringData:
  password: "{{ cp4ba_universal_password }}"
  username: "{{ lc_principal_admin_user }}"
type: kubernetes.io/basic-auth
