apiVersion: operator.ibm.com/v1alpha1
kind: OperandRequest
metadata:
  name: common-service
  namespace: "{{ cpfs_cp4ba_project_name }}"
spec:
  requests:
    - operands:
        - name: ibm-im-mongodb-operator
        - name: ibm-im-operator
        - name: ibm-idp-config-ui-operator
        - name: ibm-platformui-operator
      registry: common-service
