apiVersion: operator.ibm.com/v1alpha1
kind: OperandRequest
metadata:
  name: common-service
  namespace: "{{ cpfs_cp4ba_project_name }}"
spec:
  requests:
    - operands:
        - name: ibm-licensing-operator
        - name: ibm-mongodb-operator
        - name: ibm-iam-operator
        - name: ibm-management-ingress-operator
        - name: ibm-platform-api-operator
        - name: ibm-commonui-operator
        - name: ibm-cert-manager-operator
      registry: common-service
