apiVersion: operators.coreos.com/v1alpha2
kind: OperatorGroup
metadata:
  name: operatorgroup
  namespace: "{{ cpfs_cp4ba_project_name }}"
spec:
  targetNamespaces:
  - "{{ cpfs_cp4ba_project_name }}"
