kind: Secret
apiVersion: v1
metadata:
  name: route-tls-secret
  namespace: "{{ cpfs_cp4ba_project_name }}"
data:
  tls.key: "{{_tls_key}}"
  tls.crt: "{{_tls_crt}}"
  ca.crt: "{{_ca_tls_crt}}"
type: Opaque
