apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ibm-common-service-operator
  namespace: "{{ cpfs_cp4ba_project_name }}"
spec:
  channel: "{{cpfs_operator_channel}}"
  name: ibm-common-service-operator
  source: opencloud-operators
  sourceNamespace: openshift-marketplace
