apiVersion: ca.cpd.ibm.com/v1
kind: CAService
metadata:
  name: ca-addon-cr
  namespace: {{ current_cp4d_cluster.project }}
spec:
  namespace: {{ current_cp4d_cluster.project }}
  license:
    accept: true
    license: Enterprise
  version: {{ current_cp4d_cartridge.version }}
  storage_class: {{ nfs_storage_class_name }}
{% if use_entitled_registry | bool %}
  docker_registry_prefix: cp.icr.io/cp/cpd
{% else %}
  docker_registry_prefix: {{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}/cp/cpd
{% endif %}