apiVersion: dfd.cpd.ibm.com/v1alpha1
kind: DataStageService
metadata:
  name: datastage-cr
  namespace: {{ current_cp4d_cluster.project }}
spec:
  license:
    accept: true
    license: Enterprise
  version: {{ current_cp4d_cartridge.version }}
