apiVersion: dods.cpd.ibm.com/v1beta1
kind: DODS
metadata:
  name: dods-cr
  namespace: {{ current_cp4d_cluster.project }}
spec:
  license:
    accept: true
    license: Enterprise
  version: {{ current_cp4d_cartridge.version }}