apiVersion: db2u.databases.ibm.com/v1
kind: DvService
metadata:
  name: dv-service
  namespace: {{ current_cp4d_cluster.project }}
spec:
  license:
    accept: true
    license: Enterprise
  version: {{ current_cp4d_cartridge.version }}
  size: {{ current_cp4d_cartridge.size }}

