apiVersion: db2u.databases.ibm.com/v1
kind: DvService
metadata:
  name: dv-service
  namespace: {{ current_cp4d_cluster.project }}
spec:
  license:
    accept: true
    license: Enterprise
  version: {{ current_cp4d_cartridge.version }}
  size: {{ current_cp4d_cartridge.size }}
# {% if use_entitled_registry | bool %}
#  docker_registry_prefix: cp.icr.io/cp/cpd
# {% else %}
#  docker_registry_prefix: {{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}/cp/cpd
# {% endif %}
