apiVersion: rstudio.cpd.ibm.com/v1beta1
kind: RStudioAddon
metadata:
  name: rstudio-cr
  namespace: {{ current_cp4d_cluster.project }}
spec:
  scaleConfig: {{ current_cp4d_cartridge.size }}
  storageClass: {{ ocp_storage_class_file }}
  license:
    license: Enterprise
    accept: true
