apiVersion: ws.cpd.ibm.com/v1beta1
kind: WS
metadata:
  name: ws-cr
  namespace: {{ current_cp4d_cluster.project }}
spec:
  license:
    accept: true
    license: Enterprise
  version: {{ current_cp4d_cartridge.version }}
  storageClass: {{ ocp_storage_class_file }}
# {% if use_entitled_registry | bool %}
#  docker_registry_prefix: cp.icr.io/cp/cpd
# {% else %}
#  docker_registry_prefix: {{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}/cp/cpd
# {% endif %}
