spec:
  datasource_configuration:
    dc_icn_datasource:
      dc_database_type: postgresql
      dc_common_icn_datasource_name: ECMClientDS
      database_servername: "{{ cp4ba_postgresql_hostname }}"
      database_port: "5432"
      database_name: icndb
  navigator_configuration:
    ban_secret_name: ibm-ban-secret
    icn_production_setting:
      jvm_customize_options: ""
      icn_table_space: icndb_tbs
      copy_files_to_war: navigator_war_filesources.xml
    auto_scaling:
      enabled: false
    java_mail:
      host: "{{ cp4ba_mail_hostname }}"
      sender: "system@cp.internal"
