apiVersion: v1
kind: Secret
metadata:
  name: bas-admin-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  dbUsername: bas
  dbPassword: "{{ cp4ba_postgresql_universal_password }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: playback-server-admin-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  AE_DATABASE_PWD: "{{ cp4ba_postgresql_universal_password }}"
  AE_DATABASE_USER: pb
  REDIS_PASSWORD: "{{ cp4ba_universal_password }}"
