apiVersion: v1
kind: Secret
metadata:
  name: bas-custom
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  sensitiveCustom.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <server>
      <authData id="Git-J2C-Auth-Alias-Name" user="your_user_name" password="your_access_token"/>
    </server>