apiVersion: v1
kind: Secret
metadata:
  name: "{{ cp4ba_cr_meta_name }}-bas-admin-secret"
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  dbUsername: basdb
  dbPassword: "{{ cp4ba_postgresql_universal_password }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ cp4ba_cr_meta_name }}-pbk-app-engine-admin-secret"
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  AE_DATABASE_PWD: "{{ cp4ba_postgresql_universal_password }}"
  AE_DATABASE_USER: appdb
  REDIS_PASSWORD: "{{ cp4ba_universal_password }}"
