spec:
  bastudio_configuration:
    admin_secret_name: bas-admin-secret
    admin_user: "{{ lc_principal_admin_user }}"
    database:
      host: "{{ cp4ba_postgresql_hostname }}"
      type: postgresql
      name: bas
      port: "5432"
    autoscaling:
      enabled: false
    jms_server:
      storage:
        persistent: true
        use_dynamic_provisioning: true
        storage_class: "{{ cp4ba_storage_class_name }}"
    playback_server:
      admin_secret_name: playback-server-admin-secret
      admin_user: "{{ lc_principal_admin_user }}"
      autoscaling:
        enabled: false
      database:
        host: "{{ cp4ba_postgresql_hostname }}"
        name: pb
        port: "5432"
        type: postgresql
      env:
        server_env_type: development
