kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: openldap-data
  namespace: "{{ _openldap_project_name }}"
  labels:
    app: openldap
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 8Gi
  storageClassName: "{{ ocp_storage_class_file }}"
  volumeMode: Filesystem