kind: Secret
apiVersion: v1
metadata:
  name: openldap-password
  namespace: "{{ _openldap_project_name }}"
  labels:
    app: openldap
stringData:
  LDAP_ADMIN_PASSWORD: "{{ _openldap_bind_password }}"