kind: Service
apiVersion: v1
metadata:
  name: openldap
  namespace: "{{ _openldap_project_name }}"
  labels:
    app: openldap
spec:
  ports:
    - name: ldap-port
      protocol: TCP
      port: 389
      targetPort: ldap-port
  type: NodePort
  selector:
    app: openldap 