[
  {
    "path":"/properties/database",    
{% if not ( _cp4d_connection_existing_result_json.resources[0].entity.properties.database|default("") == _cp4d_database_database) %}
    "value":"{{ _cp4d_database_database }}"
{% else %}
    "value":"no change"
{% endif %}
  },
  {
    "path":"/properties/username",
{% if not ( _cp4d_connection_existing_result_json.resources[0].entity.properties.username|default("") == _cp4d_database_credentials_username) %}
    "value":"{{ _cp4d_database_credentials_username }}"
{% else %}
    "value":"no change"
{% endif %}
  },
  {
    "path":"/properties/password",
{% if not ( _cp4d_connection_existing_result_json.resources[0].entity.properties.password|default("") == _cp4d_database_credentials_password) %}
    "value":"{{ _cp4d_database_credentials_password }}"
{% else %}
    "value":"no change"
{% endif %}
  },
  {
    "path":"/properties/ssl",
{% if not ( _cp4d_connection_existing_result_json.resources[0].entity.properties.ssl|default("") == _cp4d_database_port_ssl|lower) %}
    "value":"{{ _cp4d_database_port_ssl|lower }}"
{% else %}
    "value":"no change"
{% endif %}
  },
  {
    "path":"/properties/ssl_certificate",
{% if not ( _cp4d_connection_existing_result_json.resources[0].entity.properties.ssl_certificate|default("") == _cp4d_database_ssl_certificate) %}
    "value":"{{ _cp4d_database_ssl_certificate_line_breaks }}"
{% else %}
    "value":"no change"
{% endif %}
  },
  {
    "path":"/properties/host",
{% if not ( _cp4d_connection_existing_result_json.resources[0].entity.properties.host|default("") == _cp4d_database_hostname) %}
    "value":"{{ _cp4d_database_hostname }}"
{% else %}
    "value":"no change"
{% endif %}
  },
  {
    "path":"/properties/port",
{% if not ( _cp4d_connection_existing_result_json.resources[0].entity.properties.port|default("") == _cp4d_database_port) %}
    "value":"{{ _cp4d_database_port }}"
{% else %}
    "value":"no change"
{% endif %}
  }
]
