cloudctl case save \
    --repo {{ current_cp4waiops_feature.case_github_url }} \
    --case {{ current_cp4waiops_feature.case_name }} \
    --version {{ current_cp4waiops_feature.case_version }} \
    --outputdir {{ _case_dir }}