{
    "CollectionCred": {
        "user": "{{ _db2_running_instance.metadata['database-connection-status']['user'] }}",
        "password": "{{ _db2_instance_password.stdout }}",
        "securityMechanism": "9"
    },
    "databaseName": "{{ _db2_running_instance.metadata['database-name'] }}",
    "dbInstanceId": "{{ _db2_running_instance.id }}",
    "dbType": "{{ _db2_running_instance.addon_type }}",
    "display_name": "{{ _db2_running_instance['display_name'] }}",
    "dmcInstanceId": "{{ _dmc_instance.id }}",
    "host": "c-db2oltp-{{ _db2_running_instance.id }}-db2u",
    "plan": "smp",
    "port": {{ _db2_running_instance.metadata['secure-jdbc-port'] }},
    "sslCertLocation": "/opt/ibm-datasrvrmgr/Config/cpd-internal-tls/ca.crt",
    "sslConnection": true
}