# case 5.1.3 / csv 3.2.0 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-db2uoperator
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-db2uoperator-catalog
  namespace: db2
spec:
  sourceType: grpc
  image: icr.io/cpopen/ibm-db2uoperator-catalog@sha256:269b92119828b09069df70f61f0032262eee7bae413e08935b2d0d68f65062d1
  displayName: IBM Db2U Catalog
  publisher: IBM
  updateStrategy:
    registryPoll:
      interval: 45m
