# Required for the NFS support
# https://www.ibm.com/docs/en/db2/11.5?topic=SSEPGG_11.5.0/com.ibm.db2.luw.db2u_openshift.doc/aese-cfg-nfs-filegold.html

apiVersion: v1
kind: ServiceAccount
metadata:
  name: norootsquash
  namespace: db2