apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: db2u-operator
  namespace: db2
spec:
  channel: "{{ db2_operator_channel }}"
  name: db2u-operator
  source: ibm-db2uoperator-catalog
  sourceNamespace: db2
