spec:
  datasource_configuration:
    dc_odm_datasource:
      dc_database_type: postgresql
      database_servername: "{{ cp4ba_postgresql_hostname }}"
      dc_common_database_port: "5432"
      dc_common_database_name: odmdb
      dc_common_ssl_enabled: false
  odm_configuration:
    customization:
      authSecretRef: odm-web-security-secret
