spec:
  datasource_configuration:
    dc_odm_decisioncenter_datasource:
      database_type: postgresql
      database_servername: "{{ cp4ba_postgresql_hostname }}"
      database_port: "5432"
      database_name: odmdc
      database_instance_secret: odmdc-db-secret
    dc_odm_decisionserver_datasource:
      database_type: postgresql
      database_servername: "{{ cp4ba_postgresql_hostname }}"
      database_port: "5432"
      database_name: odmres
      database_instance_secret: odmres-db-secret
  odm_configuration:
    customization:
      authSecretRef: odm-web-security-secret
    livenessProbe:
      initialDelaySeconds: 500
