spec:
  datasource_configuration:
    dc_odm_datasource:
      database_type: postgresql
      database_servername: "{{ cp4ba_postgresql_hostname }}"
      database_port: "5432"
      database_name: odmdb
  odm_configuration:
    customization:
      authSecretRef: odm-web-security-secret
