apiVersion: v1
kind: Secret
metadata:
  name: odmdc-db-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  db-user: odmdc
  db-password: "{{ cp4ba_postgresql_universal_password }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: odmres-db-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  db-user: odmres
  db-password: "{{ cp4ba_postgresql_universal_password }}"
