apiVersion: v1
kind: Secret
metadata:
  name: odm-db-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  db-user: odmdb
  db-password: "{{ cp4ba_postgresql_universal_password }}"
