apiVersion: v1
kind: Secret
metadata:
  name: odm-web-security-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  webSecurity.xml: |
    <server>
      <basicRegistry id="basic" realm="basic">
        <user name="odmAdmin" password="{{ lc_principal_admin_password }}"/>
        <user name="resExecutor" password="resExecutor"/>
        <group name="basicRtsAdministrators">
          <member name="odmAdmin" />
        </group>
        <group name="resExecutors">
          <member name="resExecutor" />
          <member name="odmAdmin" />
        </group>
      </basicRegistry>

      <variable name="odm.rtsAdministrators.group1" value="group:basic/basicRtsAdministrators"/>
      <variable name="odm.rtsConfigManagers.group1" value="group:basic/basicRtsAdministrators"/>
      <variable name="odm.rtsInstallers.group1" value="group:basic/basicRtsAdministrators"/>
      <variable name="odm.resAdministrators.group1" value="group:basic/basicRtsAdministrators"/>
      <variable name="odm.resDeployers.group1" value="group:basic/basicRtsAdministrators"/>
      <variable name="odm.resMonitors.group1" value="group:basic/basicRtsAdministrators"/>
      <variable name="odm.resExecutors.group1" value="group:basic/resExecutors"/>
    </server>   
