apply-entitlement \
    --cpd_instance_ns={{ current_cp4d_cluster.project }} \
    --entitlement={{ _p_entitlement }} \
    --production={{ _p_cp4d_production_license }} {% if _p_cp4d_version < '5.3.0' %}--apply_branding=true{% endif %}