apiVersion: v1
kind: Secret
metadata:
  name: ibm-adp-secret
  namespace: "{{ cp4ba_project_name }}"
stringData:
  serviceUser: "{{ lc_ldap_user_id_attribute }}={{ lc_principal_admin_user }},{{ lc_ldap_user_base_dn }}"
  servicePwd: "{{ lc_principal_admin_password }}"
  serviceUserBas: "{{ lc_ldap_user_id_attribute }}={{ lc_principal_admin_user }},{{ lc_ldap_user_base_dn }}"
  servicePwdBas: "{{ lc_principal_admin_password }}"
  serviceUserCa: "{{ lc_ldap_user_id_attribute }}={{ lc_principal_admin_user }},{{ lc_ldap_user_base_dn }}"
  servicePwdCa: "{{ lc_principal_admin_password }}"
  envOwnerUser: "{{ lc_ldap_user_id_attribute }}={{ lc_principal_admin_user }},{{ lc_ldap_user_base_dn }}"
  envOwnerPwd: "{{ lc_principal_admin_password }}"
  # TODO Custom Mongo not working and not described
  #mongoUri: 'mongodb://{{ cp4ba_mongodb_hostname }}:27017/?authSource=admin&connectTimeoutMS=3000'
  #mongoUser: root
  #mongoPwd: "{{ cp4ba_universal_password }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: aca-basedb
  namespace: "{{ cp4ba_project_name }}"
stringData:
  BASE_DB_USER: adpbase
  BASE_DB_CONFIG: "{{ cp4ba_postgresql_universal_password }}"
  PROJ1_DB_CONFIG: "{{ cp4ba_postgresql_universal_password }}"
  PROJ2_DB_CONFIG: "{{ cp4ba_postgresql_universal_password }}"
