spec:
  datasource_configuration:
    dc_ca_datasource:
      dc_database_type: postgresql
      database_servername: "{{ cp4ba_postgresql_hostname }}"
      database_name: adpbase
      tenant_databases:
        - proj1
        - proj2
        - proj3
        - proj4
        - proj5
        - proj6
      database_port: "5432"
      dc_database_ssl_enabled: false
    dc_adp_datasource:
      dc_use_postgres: false
      dc_database_type: "postgresql"
      database_servername: "{{ cp4ba_postgresql_hostname }}"
      database_port: "5432"
      database_name: adpggdb
    dc_os_datasources:
      - dc_database_type: postgresql
        dc_os_label: devos1
        dc_common_os_datasource_name: DEVOS1DS
        dc_common_os_xa_datasource_name: DEVOS1DSXA
        database_servername: "{{ cp4ba_postgresql_hostname }}"
        database_name: devos1
        database_port: "5432"
  ecm_configuration:
    document_processing:
      gitgateway:
        auto_scaling:
          enabled: false
      cds:
        auto_scaling:
          enabled: false
      cdra:
        auto_scaling:
          enabled: false
      cpds:
        auto_scaling:
          enabled: false
      viewone:
        auto_scaling:
          enabled: false
        # TODO temporary workaround for viewone pod to startup, last seen in 24.0.0 GA
        viewone_production_setting:
          jvm_initial_heap_percentage: 20
          jvm_max_heap_percentage: 33
  initialize_configuration:
    ic_obj_store_creation:
      object_stores:
        - oc_cpe_obj_store_display_name: DEVOS1
          oc_cpe_obj_store_symb_name: DEVOS1
          oc_cpe_obj_store_conn:
            name: DEVOS1_dbconnection
            dc_os_datasource_name: DEVOS1DS
            dc_os_xa_datasource_name: DEVOS1DSXA
          oc_cpe_obj_store_admin_user_groups: [{% for item in (lc_admin_groups+lc_admin_users) %}'{{ item }}'{{ "," if not loop.last else "" }}{% endfor %}]
          oc_cpe_obj_store_enable_workflow: true
          oc_cpe_obj_store_workflow_region_name: devos1_region_name
          oc_cpe_obj_store_workflow_data_tbl_space: devos1_tbs
          oc_cpe_obj_store_workflow_admin_group: "{{ lc_principal_admin_group }}"
          oc_cpe_obj_store_workflow_config_group: "{{ lc_principal_admin_group }}"
          oc_cpe_obj_store_workflow_pe_conn_point_name: pe_conn_devos1
    ic_icn_init_info:
      icn_repos:
        - add_repo_id: DEVOS1
          add_repo_os_sym_name: DEVOS1
          add_repo_os_dis_name: DEVOS1
      icn_desktop:
        - add_desktop_id: DEVOS1
          add_desktop_name: DEVOS1
          add_desktop_description: DEVOS1
          add_desktop_repo_id: DEVOS1
{% if _current_cp4ba_cluster.cp4ba.patterns.content.optional_components.css %}
    ic_css_index_area:
      - object_store_name: DEVOS1
        index_area_name: devos1_index_area
    ic_enable_cbr:
      - object_store_name: DEVOS1
{% endif %}
  verify_configuration:
    vc_icn_verification:
      - vc_icn_repository: DEVOS1
        vc_icn_desktop_id: DEVOS1
{% if _current_cp4ba_cluster.cp4ba.patterns.content.optional_components.css %}        
    vc_cpe_verification:
      vc_cpe_cbr:
        - cbr_cpe_obj_store_name: DEVOS1
{% endif %}
