#!/bin/bash
SCRIPT_DIR=$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )

cpd-cli config users set {{ _p_current_cp4d_cluster.project }}-{{ _cp4d_user }} \
    --username {{ _cp4d_user }} \
    --apikey {{ _cp4d_admin_api_key }}

cpd-cli config profiles set {{ _p_current_cp4d_cluster.project }}-{{ _cp4d_user }} \
    --user {{ _p_current_cp4d_cluster.project }}-{{ _cp4d_user }} \
    --url https://{{ cp4d_url.stdout }}