apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: noi-operator-group
  namespace: {{current_cp4waiops_cluster.project}}
spec:
  targetNamespaces:
    - {{current_cp4waiops_cluster.project}}
