apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: noi-operator
  namespace: {{current_cp4waiops_cluster.project}}
spec:
  channel: {{current_cp4waiops_feature.subscription_channel}}
  installPlanApproval: Automatic
  name: noi
  source: ibm-operator-catalog
  sourceNamespace: openshift-marketplace
  startingCSV: {{current_cp4waiops_feature.starting_csv}}
