kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: 'pgadmin-anyuid'
  namespace: pgadmin
subjects:
  - kind: ServiceAccount
    name: default
    namespace: pgadmin
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: 'system:openshift:scc:anyuid'
