kind: ConfigMap
apiVersion: v1
metadata:
  name: pgadmin-config
  namespace: pgadmin
data:
  servers.json: |
    {
        "Servers": {
          "1": {
            "Name": "CP4BA Instance",
            "Group": "Servers",
            "Port": 5432,
            "Username": "{{ pgadmin_postgresql_username }}",
            "Host": "{{ pgadmin_postgresql_hostname }}",
            "SSLMode": "disable",
            "MaintenanceDB": "postgres"
          }
        }
    }