apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pgadmin-data
  namespace: pgadmin
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: "{{ pgadmin_storage_class_name }}"
  resources:
    requests:
      storage: 3Gi
