kind: Secret
apiVersion: v1
metadata:
  name: pgadmin
  namespace: pgadmin
type: Opaque
stringData:
  pgadmin-password: "{{ pgadmin_universal_password }}"
# ---
# kind: Secret
# apiVersion: v1
# metadata:
#   name: pgpassfile
#   namespace: pgadmin
# type: Opaque
# stringData:
#   pgpassfile: "*:*:*:{{ pgadmin_postgresql_username }}:{{ pgadmin_universal_password }}"
