kind: Service
apiVersion: v1
metadata:
  name: pgadmin
  namespace: pgadmin
spec:
  ports:
    - protocol: TCP
      port: 80
      targetPort: http
  selector:
    app: pgadmin
  type: ClusterIP
  sessionAffinity: None
