scrap*
.vscode
.DS_Store
*.pyc
__pycache__
deployer-web/ui/package-lock.json
deployer-web/ui/yarn.lock
playbooks/cpd-cli-workspace/logs/CPD-CLI-*.log
playbooks/ier_configmgr_workspace
.version-info
*ier_configmgr_workspace
.ansible