[defaults]
forks=50
timeout=30
host_key_checking=False
callback_whitelist=profile_tasks
interpreter_python=auto_silent

# Use the YAML callback plugin.
stdout_callback = yaml

# Ansible log path
log_path=/tmp/ansible.log

# Ansible roles path
roles_path=automation-roles/vault:automation-roles/preprocess:automation-roles/icr:automation-roles/login_cloud:automation-roles/roks:automation-roles/cp4d:automation-roles/vault/internal

[callback_profile_tasks]
task_output_limit = 100

