[defaults]
forks=50
timeout=30
host_key_checking=False
callback_whitelist=profile_tasks
interpreter_python=auto_silent
ssh_args='-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'

# Use the YAML callback plugin.
stdout_callback = yaml

# Ansible log path
log_path=/tmp/ansible.log

# Ansible roles path
roles_path=automation-roles/terraform:automation-roles/vault:automation-roles/preprocess:automation-roles/preprocess/generators:automation-roles/preprocess/internal:automation-roles/container-registry:automation-roles/container-registry/internal:automation-roles/storage:automation-roles/storage/internal:automation-roles/login_cloud:automation-roles/openshift:automation-roles/openshift/internal:automation-roles/cp4d

[callback_profile_tasks]
task_output_limit = 10

