[defaults]
forks=50
timeout=30
host_key_checking=False
callbacks_enabled=profile_tasks
callback_whitelist=profile_tasks
interpreter_python=auto_legacy_silent
ssh_args='-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'

# Use custom output to suppress most messages for Vault
# Uncomment one ot the below lines to select output type
stdout_callback=community.general.diy
# stdout_callback=default

# Ansible log path
log_path=/tmp/ansible.log

# Ansible roles path
roles_path=automation-roles/10-validation:automation-roles/20-prepare:automation-roles/30-provision-infra:automation-roles/40-configure-infra:automation-roles/50-install-cloud-pak/cpfs:automation-roles/50-install-cloud-pak/cp4ba:automation-roles/50-install-cloud-pak/cp4d:automation-roles/50-install-cloud-pak/cp4i:automation-roles/50-install-cloud-pak/cp4waiops:automation-roles/60-configure-cloud-pak:automation-roles/60-configure-cloud-pak/cp4ba:automation-roles/60-configure-cloud-pak/cp4d:automation-roles/60-configure-cloud-pak/cp4i:automation-roles/70-deploy-assets:automation-roles/70-deploy-assets/cp4ba:automation-roles/70-deploy-assets/cp4d:automation-roles/70-deploy-assets/cp4i:automation-roles/80-smoke-tests:automation-roles/99-generic:automation-roles/99-generic/vault:automation-roles/99-generic/openshift:automation-roles/99-generic/ibmcloud:automation-roles/99-generic/aws:automation-roles/99-generic/terraform:automation-roles/99-generic/cloudctl:automation-roles/99-generic/cpd-cli:automation-roles/99-generic/infra:automation-roles/99-generic/azure:automation-roles/99-generic/deployer:automation-roles/99-generic/ibm-pak

[callback_diy]
# Accept on_skipped_msg or ansible_callback_diy_runner_on_skipped_msg as input vars
# If neither are supplied, omit the option
runner_on_skipped_msg="{{ on_skipped_msg | default(ansible_callback_diy_runner_on_skipped_msg) | default(omit) }}"
