apiVersion: infra.management.ibm.com/v1alpha1
kind: IMInstall
metadata:
  labels:
    app.kubernetes.io/instance: ibm-infra-management-install-operator
    app.kubernetes.io/managed-by: ibm-infra-management-install-operator
    app.kubernetes.io/name: ibm-infra-management-install-operator
  name: im-iminstall
  namespace: {{ current_cp4waiops_cluster.project }}
spec:
  applicationDomain: {{ INFRA_NAME }}
  imagePullPolicy: Always
  imagePullSecret: ibm-management-pull-secret
  initialAdminGroupName: demo
  license:
    accept: true

