kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: mssql-data
  namespace: mssql
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 8Gi
  storageClassName: "{{ mssql_storage_class_name }}"
