kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: 'mssql-anyuid'
  namespace: "{{ mssql_project_name }}"
  labels:
    app: mssql  
subjects:
  - kind: ServiceAccount
    name: default
    namespace: "{{ mssql_project_name }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: 'system:openshift:scc:anyuid'
