apiVersion: v1
kind: Service
metadata:
  name: mssql
  namespace: "{{ mssql_project_name }}"
  labels:
    app: mssql  
spec:
  selector:
    app: mssql
  type: NodePort
  ports:
    - protocol: TCP
      port: 1433
      targetPort: db
