# case 1.13.0 / csv 1.13.0 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-robotic-process-automation
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-robotic-process-automation-catalog
  namespace: openshift-marketplace
spec:
  displayName: IBM Robotic Process Automation Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-rpa-operator-catalog@sha256:f1fedc08072da84a4f3397d687d8bc1449d0431d8f5e60a82f14e705b0f918e4
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.6.6 / csv 1.6.6 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cloud-databases-redis
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cloud-databases-redis-operator-catalog
  namespace: openshift-marketplace
spec:
  displayName: ibm-cloud-databases-redis-operator-catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cloud-databases-redis-catalog@sha256:fddf96636005a9c276aec061a3b514036ce6d79bd91fd7e242126b2f52394a78
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 2.0.10 / csv 2.0.10 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-mq
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibmmq-operator-catalogsource
  namespace: openshift-marketplace
spec:
  displayName: IBM MQ
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-mq-operator-catalog@sha256:5df28821892aa7bcd8056fab8e6a805ab91bd7175ddd1c4064c6b0be1bf67c95
  updateStrategy:
    registryPoll:
      interval: 45m
