# case 2.3.0 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-robotic-process-automation
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-robotic-process-automation-catalog
  namespace: "{{ rpa_project_name }}"
spec:
  displayName: IBM Robotic Process Automation Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-rpa-operator-catalog@sha256:025f8c888257cb2f65b08dd16728b33e1d155c6b955a475a9f53cf571ff5edee
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.2.4 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-redis-cp
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-redis-cp-operator-catalog 
  namespace: "{{ rpa_project_name }}"
spec:
  displayName: IBM Redis CP Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-redis-cp-operator-catalog@sha256:ddb6cf6dd9510597a91fb7dcd307f88ac1dba92e00b2be4402905fe7632fc740
updateStrategy:
  registryPoll:
    interval: 45m
---
# case 3.4.1 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-mq
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibmmq-operator-catalogsource
  namespace: "{{ rpa_project_name }}"
spec:
  displayName: IBM MQ
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-mq-operator-catalog@sha256:883f34487ede7dca77f05e6680fe8a860591d4aa5476eebb007d523da4a1001f
  updateStrategy:
    registryPoll:
      interval: 45m
