kind: ConfigMap
apiVersion: v1
metadata:
  name: rpa-server-rpa-license-config
  namespace: "{{ rpa_project_name }}"
data:
  url: >-
    https://ibm-licensing-service-instance.cs-control.svc.cluster.local:8080