apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ rpa_project_name }}-rpa-postdeploy"
  namespace: "{{ rpa_output_namespace }}"
data:
  postdeploy.md: |- 
    {{ lookup('file', rpa_output_directory+'/postdeploy.md') | indent(4) }}
