# RPA post-deploy

The following list specifies when you need to perform particular post-deployment steps
- [Install RPA Client](#install-rpa-client) - When you want to develop robots you need this to install Studio.
- [Create vault password](#create-vault-password) - When you want to use Credentials in your RPA solution.
- [Update chromedriver for studio](#update-chromedriver-for-studio) - When you want to use commands that use Chrome browser.

## Install RPA Client

Based on https://www.ibm.com/docs/en/rpa/latest?topic=client-installing-by-using-installer

You need to download and install IBM Robotic Process Automation Client Installer from PPA or Fix Central for corresponding version and OS (e.g. M0BXLML	IBM Robotic Process Automation Client Installer 23.0.5 Windows Multilingual).

Choose Setup Type: Complete  
Proxy Configuration: none  
Installation Key: As seen in RPA Control Center at https://cpd-{{ rpa_project_name }}.{{ apps_endpoint_domain }}/rpa/ui  
API Address: https://cpd-{{ rpa_project_name }}.{{ apps_endpoint_domain }}/rpa/api/  

## Create vault password

Note: You may need to add some non-alphanumeric character to the password.  

In Windows system tray, find Vault, right click it and choose *Open*  
Password: {{ rpa_universal_password }}  
Re-Type Password: {{ rpa_universal_password }}  
Click *Confirm*

## Update chromedriver for studio

Based on https://www.ibm.com/docs/en/rpa/latest?topic=twarpa-google-chrome-binary-file-is-not-found-when-starting-browser-instance

Take note of which Chrome version you are using  
Download the appropriate chromedriver from here (don't worry about 32 or 64bit, this driver works for both) https://chromedriver.chromium.org/downloads  
Navigate to WDG folder under AppData - the version may differ (C:/Users/Administrator/AppData/Local/WDG Automation/packages/20.12.5.0)  
Make backup of the current chromedriver.exe  
Paste new chromedriver.exe  
