apiVersion: rpa.automation.ibm.com/v1
kind: RoboticProcessAutomation
metadata:
  name: rpa
  namespace: "{{ rpa_project_name }}"
spec:
  license:
    accept: true
  version: "{{ rpa_version }}"
  blockStorageClass: "{{ rpa_block_storage_class_name }}"
  fileStorageClass: "{{ rpa_storage_class_name }}"
  tls: {}
  zen:
    managed: false  
  api:
    databaseConnectionSecretName: rpa-db
    firstTenant:
      name: ibm
      ownerSecretName: rpa-first-tenant-owner
    smtp:
      port: 587
      server: "{{ rpa_mail_hostname }}"
      userSecretName: rpa-smtp
  audit:
    forwardingEnabled: false
