apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: rpa-licensing-egress-allow-all
  namespace: "{{ rpa_project_name }}"
spec:
  podSelector:
    matchLabels:
      rpa.automation.ibm.com/role: metering
  egress:
    - {}
  policyTypes:
    - Egress
