apiVersion: v1
kind: Secret
metadata:
  name: rpa-db
  namespace: "{{ rpa_project_name }}"
type: Opaque
stringData:
  AddressContext: 'Server={{ rpa_mssql_hostname }};Database=Address;User Id=sa;Password={{ rpa_universal_password }};Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False'
  AutomationContext: 'Server={{ rpa_mssql_hostname }};Database=Automation;User Id=sa;Password={{ rpa_universal_password }};Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False'
  KnowledgeBase: 'Server={{ rpa_mssql_hostname }};Database=Knowledge;User Id=sa;Password={{ rpa_universal_password }};Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False'
  WordnetContext: 'Server={{ rpa_mssql_hostname }};Database=Wordnet;User Id=sa;Password={{ rpa_universal_password }};Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False'
  AuditContext: 'Server={{ rpa_mssql_hostname }};Database=Audit;User Id=sa;Password={{ rpa_universal_password }};Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False'
---
apiVersion: v1
kind: Secret
metadata:
  name: rpa-smtp
  namespace: "{{ rpa_project_name }}"
type: Opaque
stringData:
  username: "{{ lc_principal_admin_user }}"
  password: "{{ rpa_universal_password }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: rpa-first-tenant-owner
  namespace: "{{ rpa_project_name }}"
type: Opaque
stringData:
  name: "{{ lc_principal_admin_user }}"
  email: "{{ lc_principal_admin_user }}@{{ lc_ldap_domain }}"
---
apiVersion: v1
kind: Secret
metadata:
 name: rpa-redis-rpa
 namespace: "{{ rpa_project_name }}"
 labels:
   app.kubernetes.io/component: rpa
   app.kubernetes.io/instance: rpa
   app.kubernetes.io/managed-by: ibm-rpa-operator
   app.kubernetes.io/name: redis
   rpa.automation.ibm.com/cr-name: rpa
stringData:
 ADMIN_PASSWORD: "{{ rpa_universal_password }}"
type: Opaque  
