apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: rpa-subscription
  namespace: "{{ rpa_project_name }}"
spec:
  channel: "{{ rpa_operator_channel }}"
  name: ibm-automation-rpa
  source: ibm-robotic-process-automation-catalog
  sourceNamespace: "{{ rpa_project_name }}"
