cloudctl case save \
    --repo {{ case_github_url }} \
    --case {{ _current_cp4d_cartridge.search_string }} \
    --version {{ _current_cp4d_cartridge.case_version }} \
    --outputdir {{ _case_dir }} {% if not (_current_cp4d_cartridge.download_dependent_case | default(True) | bool) %} --no-dependency {% endif %}