case-download \
    --release={{ _p_current_cp4d_cluster.cp4d_version }} \
{% if not (_cp_alt_repo_used | default(False)) -%}
    --from_oci=true \
{% endif -%}   
    --components={%- if _p_current_cp4d_cluster.cp4d_version >= '4.7.0' %}ibm-cert-manager,ibm-licensing,{%- endif %}{{ _cartridges_to_install_list }} \