export CASECTL_RESOLVERS_LOCATION=/tmp/work/resolvers.yaml
export CASECTL_RESOLVERS_AUTH_LOCATION=/tmp/work/resolvers_auth.yaml
export CASE_TOLERATION='--skip-verify'
export GITHUB_TOKEN={{ _case_repo_token }}

export CASE_REPO_PATH=https://{{ _case_repo_token }}@{{ _case_repo_path }}

## pick up the in-development Bedrock from staging instead of prod
export CPFS_CASE_REPO_PATH=https://{{ _case_repo_token }}@{{ _case_repo_path_fs }}

## pick up yet-to-be released opencontent cases from staging instead of prod
export OPENCONTENT_CASE_REPO_PATH=https://{{ _case_repo_token }}@{{ _case_repo_path_opencontent }}