kind: Service
apiVersion: v1
metadata:
  name: opensearch-dashboards
  namespace: "{{ opensearch_dashboards_project_name }}"
  labels:
    app: opensearch-dashboards
spec:
  ports:
    - name: opensearch-dashboards-ui
      protocol: TCP
      port: 5601
      targetPort: opensearch-dashboards-ui
  selector:
    app: opensearch-dashboards
