apiVersion: instana.io/v1beta2
kind: Unit
metadata:
  namespace: instana-units
  name: aiops-dev
spec:
  # Must refer to the namespace of the associated Core object we created above
  coreName: instana-core
  # Must refer to the name of the associated Core object we created above
  coreNamespace: instana-core
  # The name of the tenant
  tenantName: aiops
  # The name of the unit within the tenant
  unitName: dev
  # The same rules apply as for Cores. May be ommitted. Default is 'medium'
  resourceProfile: small