adminPassword: {{current_admin_pass}}
dhParams: |
  -----BEGIN DH PARAMETERS-----
  MIGHAoGBAOOUdXJxw1BykW2TH/6OO0/T6Sv0jtvvs7X4ZzMJSDZaQRnKkKZ2Nikm
  +NjKm/pmquA7MV4W7SDkbc+ZMk4BA8YgBipO5Q70I2YeSPo4Y0vmI0A1yGvrOpuA
  hDDwWwGc/bqeGn8et7Ka93HlYVQ3oc1yw6mBLz7oS5alqFLfFbnTAgEC
  -----END DH PARAMETERS-----
imagePullSecrets:
  - name: instana-registry
downloadKey: {{current_agent_key}}
salesKey: {{current_sales_key}}
tokenSecret: uQOkH+Y4wU_0
emailConfig:
  # Required if SMTP is used for sending e-mails and authentication is required
  smtpConfig:
    user: mysmtpuser
    password: mysmtppassword
# SAML/OIDC configuration
serviceProviderConfig:
  # Password for the key/cert file
  keyPassword: instana
  # The combined key/cert file
  pem: |
      -----BEGIN RSA PRIVATE KEY-----

      -----END RSA PRIVATE KEY-----
      -----BEGIN CERTIFICATE-----

      -----END CERTIFICATE-----
