{
  "entryPoint": "{{ _cp4d_saml_config.entrypoint }}",
  "fieldToAuthenticate": "{{ _cp4d_saml_config.field_to_authenticate }}",
  "spCert": "{{ _saml_sp_cert }}",
  "idpCert": "{{ _saml_idp_cert }}",
  "issuer": "{{ _cp4d_saml_config.issuer }}",
  "identifierFormat": "{{ _cp4d_saml_config.identifier_format | default("") }}",
  "callbackUrl": "{{ _cp4d_callback_url }}"
}