#! /bin/bash

oc new-build \
{% if (_monitor_source_token == "") -%}
https://{{ _monitor_source_repo_address }} \
{% else -%}
https://iamapikey:{{ _monitor_source_token }}@{{ _monitor_source_repo_address }} \
{% endif %}
--context-dir {{ _monitor_context }} --name {{ _monitor_name }} \
{% if (_monitor_source_secret != "") -%}
--source-secret {{ _monitor_source_secret }} \
{% elif (_default_monitor_source_secret != "") -%}
--source-secret {{ _monitors.name}}-default-repo-auth \
{% endif %}
{% if (_monitor_target_cr_secret != "") -%}
--push-secret {{ _monitor_target_cr_secret }} \
{%- endif %}
--to {{ _monitor_target_cr }}/{{ _monitor_name }}:{{ _monitor_label }} --to-docker=true --namespace {{ current_cp4d_cluster.project }} 