apiVersion: v1
data:
  .dockerconfigjson: {{ _cr_auth_b64 }}
kind: Secret
metadata:
  name: {{ _monitor.name}}-cr-auth
  namespace: {{ current_cp4d_cluster.project }}
type: kubernetes.io/dockerconfigjson
