apiVersion: v1
data:
  .dockerconfigjson: {{ _default_cr_auth_b64 }}
kind: Secret
metadata:
  name: {{ _monitors.name}}-default-cr-auth
  namespace: {{ current_cp4d_cluster.project }}
type: kubernetes.io/dockerconfigjson
