{
  "auths": {
    "{{ _monitor_target_cr }}": {
      "username": "{{ _monitor_target_cr_user }}",
      "password": "{{ _monitor_target_cr_password }}",
      "email": "a@b.com",
      "auth": "{{ _monitor_target_cr_auth | b64encode }}"
    }
  }
}