apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-monitoring-config
  namespace: openshift-monitoring
data:
  config.yaml: |
    enableUserWorkload: true
{% if (_monitor_persist_sc != "") -%}
    prometheusK8s: 
      volumeClaimTemplate:
       spec:
         storageClassName: {{ _monitor_persist_sc }}
         volumeMode: Filesystem
         resources:
           requests:
             storage: {{ _monitor_persist_size_gb }}Gi
{%- endif %}