apiVersion: v1
data:
  password: {{ _monitor_source_token | b64encode }}
kind: Secret
metadata:
  name: {{ _monitor.name}}-repo-auth
  namespace: {{ current_cp4d_cluster.project }}
type: kubernetes.io/basic-auth
