{
      "folders": {},
      "connections": {
        "microsoft-185c5978b87-3e35aa064539af68": {
                "provider": "sqlserver",
                "driver": "microsoft",
                "name": "SQL Server@{{ cloudbeaver_mssql_hostname }}",
                "save-password": false,
                "configuration": {
                        "host": "{{ cloudbeaver_mssql_hostname }}",
                        "port": "1433",
                        "database": "master",
                        "url": "jdbc:sqlserver://;serverName\u003d{{ cloudbeaver_mssql_hostname }};databaseName\u003dmaster",
                        "configurationType": "MANUAL",
                        "type": "dev",
                        "auth-model": "sqlserver_database"
                }
        }
      },
      "connection-types": {
        "dev": {
                "name": "Development",
                "color": "255,255,255",
                "description": "Regular development database",
                "auto-commit": true,
                "confirm-execute": false,
                "confirm-data-change": false,
                "auto-close-transactions": false
        }
      }
}