apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cloudbeaver-data
  namespace: "{{ cloudbeaver_project_name }}"
  labels:
    app: cloudbeaver  
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: "{{ cloudbeaver_storage_class_name }}"
  resources:
    requests:
      storage: 3Gi
