kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: 'cloudbeaver-anyuid'
  namespace: "{{ cloudbeaver_project_name }}"
  labels:
    app: cloudbeaver  
subjects:
  - kind: ServiceAccount
    name: cloudbeaver
    namespace: "{{ cloudbeaver_project_name }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: 'system:openshift:scc:anyuid'
