kind: Secret
apiVersion: v1
metadata:
  name: cloudbeaver-password
  namespace: "{{ cloudbeaver_project_name }}"
  labels:
    app: cloudbeaver  
type: Opaque
stringData:
  cloudbeaver-password: "{{ cloudbeaver_universal_password }}"
