[[registry]]
  prefix = ""
  location = "cp.icr.io/cp"
  mirror-by-digest-only = true

    [[registry.mirror]]
    location = "{{ private_registry_url_namespace }}/cp"

[[registry]]
  prefix = ""
  location = "cp.icr.io/cp/cpd"
  mirror-by-digest-only = true

    [[registry.mirror]]
    location = "{{ private_registry_url_namespace }}/cp/cpd"

[[registry]]
  prefix = ""
  location = "icr.io/cpopen"
  mirror-by-digest-only = true

    [[registry.mirror]]
    location = "{{ private_registry_url_namespace }}/cpopen"

[[registry]]
  prefix = ""
  location = "icr.io/db2u"
  mirror-by-digest-only = true

    [[registry.mirror]]
    location = "{{ private_registry_url_namespace }}/db2u"

[[registry]]
  prefix = ""
  location = "icr.io/cpopen/cpfs"
  mirror-by-digest-only = true

    [[registry.mirror]]
    location = "{{ private_registry_url_namespace }}/cpopen/cpfs"

[[registry]]
  prefix = ""
  location = "quay.io/opencloudio"
  mirror-by-digest-only = true

    [[registry.mirror]]
    location = "{{ private_registry_url_namespace }}/opencloudio"

[[registry]]
  prefix = ""
  location = "docker.io/ibmcom"
  mirror-by-digest-only = true

    [[registry.mirror]]
    location = "{{ private_registry_url_namespace }}/ibmcom"
