.align-right {   
    text-align: right;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

<<<<<<< HEAD
.flex-left {
    display: flex;
    justify-content: flex-start
}

.configuration {
    margin-top: -50px;
    width: 100%;
}
=======
.configuration {
    margin-top: -50px;
}  
>>>>>>> main

.summary-title {
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 15px;
}

.summary-section {
    font-size: 1.2rem;
    padding-top: 30px;
    padding-bottom: 15px;
}

.summary-error {
    max-width: unset;
}

.summary-config-item {
    .bx--accordion__content {
        padding-right: unset;
    }
}

.bx--accordion__content {
    padding-right: unset;
    padding-left: unset;
}

.bx--accordion__title {
    font-weight: bold;
}  

.bx--tab-content {
    padding: 0;
}

.bx--snippet--multi {
    max-width: 75%;
}

.bx--snippet--multi .bx--snippet-container {
    width: 100%;
    text-align: left;
}

.bx--text-area {
    max-width: unset;
    width: 75%;
    text-align: left;
}

.bx--text-area__wrapper {
    max-width: unset;
    width: 75%;
}

.bx--tabs--scrollable .bx--tabs--scrollable__nav-link {
    width: 100%;
}

<<<<<<< HEAD
.bx--snippet {
    font-family: Courier, monospace;
    text-align: left;
    width: 60%
}

=======

.bx--snippet {
    font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.33333;
    letter-spacing: 0.32px;
}


>>>>>>> main
.directory {
    display: flex;
    flex-direction: row;   
    font-size: 0.875rem;
    margin-bottom: 10px;

    .item {
        display: flex;
<<<<<<< HEAD
        align-items: left;
=======
        align-items: center;
>>>>>>> main
        margin-right:0.5rem;
        width: 8rem;
    }
}
