apiVersion: config.openshift.io/v1
kind: ImageDigestMirrorSet
metadata:
  name: {{ idms_name }}
spec:
  imageDigestMirrors:
  - mirrors:
    - {{ private_registry_url_namespace }}/cp
    source: cp.icr.io/cp
    mirrorSourcePolicy: AllowContactingSource
  - mirrors:
    - {{ private_registry_url_namespace }}/cp/cpd
    source: cp.icr.io/cp/cpd
    mirrorSourcePolicy: AllowContactingSource
  - mirrors:
    - {{ private_registry_url_namespace }}/cpopen
    source: icr.io/cpopen
    mirrorSourcePolicy: AllowContactingSource
  - mirrors:
    - {{ private_registry_url_namespace }}/db2u
    source: icr.io/db2u
    mirrorSourcePolicy: AllowContactingSource
  - mirrors:
    - {{ private_registry_url_namespace }}/cpopen/cpfs
    source: icr.io/cpopen/cpfs
    mirrorSourcePolicy: AllowContactingSource
  - mirrors:
    - {{ private_registry_url_namespace }}/opencloudio
    source: quay.io/opencloudio
    mirrorSourcePolicy: AllowContactingSource
  - mirrors:
    - {{ private_registry_url_namespace }}/ibmcom
    source: docker.io/ibmcom
    mirrorSourcePolicy: AllowContactingSource