apiVersion: operator.openshift.io/v1alpha1
kind: ImageContentSourcePolicy
metadata:
  name: {{ icsp_name }}
spec:
  repositoryDigestMirrors:
  - mirrors:
    - {{ private_registry_url_namespace }}/cp
    source: cp.icr.io/cp
  - mirrors:
    - {{ private_registry_url_namespace }}/cp/cpd
    source: cp.icr.io/cp/cpd
  - mirrors:
    - {{ private_registry_url_namespace }}/cpopen
    source: icr.io/cpopen
  - mirrors:
    - {{ private_registry_url_namespace }}/db2u
    source: icr.io/db2u
  - mirrors:
    - {{ private_registry_url_namespace }}/cpopen/cpfs
    source: icr.io/cpopen/cpfs
  - mirrors:
    - {{ private_registry_url_namespace }}/opencloudio
    source: quay.io/opencloudio
  - mirrors:
    - {{ private_registry_url_namespace }}/ibmcom
    source: docker.io/ibmcom
