apply-cluster-components \
    --release={{ _p_cp4d_version }} \
    --license_acceptance=true \
{% if not (_cp_alt_repo_used | default(False)) -%}
    --from_oci=true \
{% endif -%}   
{% if _p_migrate_topology | default(False) -%}
    --migrate_from_cs_ns={{ foundational_services_project }} \
{% endif -%}   
{% if _ibm_cert_manager -%}
    --cert_manager_ns=ibm-cert-manager \
{% endif -%}
    --licensing_ns={{ license_service_project | default('ibm-licensing') }}
