# TODO(SJ): TEMPLATE
apiVersion: apiconnect.ibm.com/v1beta1
kind: APIConnectCluster
metadata:
  labels:
    app.kubernetes.io/instance: apiconnect
    app.kubernetes.io/managed-by: ibm-apiconnect
    app.kubernetes.io/name: apiconnect-minimum
  name: apis-minimum
  namespace: cp4i
spec:
  license:
    accept: true
    use: nonproduction
    license: L-RJON-C2YLGB
  profile: n1xc7.m48
  version: 10.0.3.0-ifix1
  storageClassName: rook-ceph-block