# TODO(SJ): TEMPLATE
apiVersion: eventendpointmanager.apiconnect.ibm.com/v1beta1
kind: EventEndpointManager
metadata:
  labels:
    app.kubernetes.io/instance: eventendpointmanager-minimum
    app.kubernetes.io/managed-by: ibm-apiconnect
    app.kubernetes.io/name: eventendpointmanager-minimum
  name: eventendpointmanager-minimum
  namespace: cp4i
spec:
  endpointTypes:
    - Events
  license:
    accept: true
    license: L-RJON-C2YLGB
    metric: VIRTUAL_PROCESSOR_CORE
    use: nonproduction
  profile: n1xc10.m48
  version: 10.0.3.0-ifix1
  storageClassName: rook-ceph-block