resource "ibm_is_public_gateway" "{{ generator.attributes.vpc | replace("-", "_") }}_{{ generator.attributes.zone | replace("-", "_") }}" {
    name = "{{ generator.attributes.vpc }}-{{ generator.attributes.zone }}"
    vpc  = ibm_is_vpc.{{ generator.attributes.vpc | replace("-", "_") }}.id
    zone = "{{ generator.attributes.zone }}"
    resource_group = data.ibm_resource_group.thisresourcegroup.id
    lifecycle {
      ignore_changes = [ resource_group ]
    }
}