resource "ibm_is_subnet" "{{ generator.attributes.name | replace("-", "_") }}" {
    name = "{{ generator.attributes.name }}"
    vpc  = ibm_is_vpc.{{ generator.attributes.vpc | replace("-", "_") }}.id
    ipv4_cidr_block = "{{ generator.attributes.ipv4_cidr_block }}"
    zone = "{{ generator.attributes.zone }}"
    public_gateway = ibm_is_public_gateway.{{ generator.attributes.vpc | replace("-", "_") }}_{{ generator.attributes.zone | replace("-", "_") }}.id
    depends_on = [ibm_is_vpc_address_prefix.{{ generator.attributes.address_prefix | replace("-", "_") }}]
{% if generator.attributes.network_acl_name is defined %}
    network_acl = ibm_is_network_acl.{{ generator.attributes.network_acl_name | replace("-", "_") }}.id
{% endif %}
   resource_group = data.ibm_resource_group.thisresourcegroup.id
   lifecycle {
     ignore_changes = [ resource_group ]
   }
}

