apiVersion: v1
kind: ConfigMap
metadata:
  name: ibm-cp4ba-common-config
  namespace: "{{ cp4ba_project_name  }}"
data:
  operators_namespace: "{{ cp4ba_project_name  }}"
  services_namespace: "{{ cp4ba_project_name  }}"