apiVersion: v1
kind: Secret
metadata:
  name: ldap-bind-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  ldapUsername: "{{ lc_bind_admin_user }}"
  ldapPassword: "{{ lc_bind_admin_password }}"
