apiVersion: tuned.openshift.io/v1
kind: Tuned
metadata:
  name: {{ cp4d_tuned_name }}
  namespace: openshift-cluster-node-tuning-operator
spec:
  profile:
  - name: {{ cp4d_tuned_name }}
    data: |
      [main]
      summary=Tune IPC Kernel parameters on OpenShift Compute Nodes running WKC Pods
      [sysctl]
      kernel.shmall = 33554432
      kernel.shmmax = 68719476736
      kernel.shmmni = 32768
      kernel.sem = 250 1024000 100 32768
      kernel.msgmax = 65536
      kernel.msgmnb = 65536
      kernel.msgmni = 32768
      vm.max_map_count = 262145
  recommend:
  - match:
    - label: node-role.kubernetes.io/worker
    priority: 10
    profile: {{ cp4d_tuned_name }}