{
    "addon_type": "orchestrate",
    "display_name": "{{ _wxo_instance.name }}",
    "namespace": "{{ current_cp4d_cluster.project }}",
    "addon_version": "{{ _wxo_version }}",
    "create_arguments": {
        "description": "{{ _wxo_instance.description | default(_wxo_instance.name) }}"
    }
}