apiVersion: operator.openshift.io/v1alpha1
kind: ImageContentSourcePolicy
metadata:
  name: manta
spec:
  repositoryDigestMirrors:
  - mirrors:
    - icr.io/cpopen
    source: repo.getmanta.com/manta-ubi8-ibm