{
   "addon_type":"{{ cp4d_dv_addon_type }}",
   "display_name":"{{ dv_instance_name }}",
   "namespace":"{{ current_cp4d_cluster.project }}",
   "addon_version":"{{ dv_cartridge.version }}",
   "create_arguments":{
      "parameters":{
         "resources.dv.requests.cpu":"{{ cp4d_dv_instance_requests_cpu }}",
         "resources.dv.requests.memory":"{{ cp4d_dv_instance_requests_memory }}",
         "image.pullPolicy":"{{ cp4d_dv_instance_pull_policy }}",
         "workerCount":"{{ cp4d_dv_instance_compute_count }}",
         "enableHostIPC":"{{ cp4d_dv_instance_enable_host_ipc }}",
         "persistence.storageClass":"{{ cp4d_dv_instance_persistence_storage_class }}",
         "persistence.size":"{{ cp4d_dv_instance_persistence_storage_size }}",
         "persistence.workerpv.storageClass":"{{ cp4d_dv_instance_persistence_compute_storage_class }}",
         "persistence.workerpv.size":"{{ cp4d_dv_instance_persistence_compute_storage_size }}",
         "persistence.cachingpv.storageClass":"{{ cp4d_dv_instance_persistence_caching_storage_class }}",
         "persistence.cachingpv.size":"{{ cp4d_dv_instance_persistence_caching_storage_size }}"
      },
      "resources":{
         "cpu":"{{ cp4d_dv_instance_requests_cpu }}",
         "memory":"{{ cp4d_dv_instance_requests_memory }}"
      },
      "description":"Data Virtualization",
      "metaData":{
         
      }
   },
   "transientFields":{
      
   }
}