apiVersion: orchestrator.aiops.ibm.com/v1alpha1
kind: Installation
metadata:
  name: {{ current_cp4waiops_feature.waiops_name }}
  namespace: {{ current_cp4waiops_cluster.project }}
spec:
  imagePullSecret: ibm-entitlement-key
  license:
    accept: true
  pakModules:
    - enabled: true
      name: aiManager
    - enabled: true
      name: aiopsFoundation
    - enabled: true
      name: applicationManager
    - enabled: true
      name: connection
  size: {{ current_cp4waiops_feature.waiops_size }}
  storageClass: '{{ WAIOPS_STORAGE_CLASS_FILE }}'
  storageClassLargeBlock: '{{ WAIOPS_STORAGE_CLASS_LARGE_BLOCK }}'

