kind: ConfigMap
apiVersion: v1
metadata:
  name: openldap-env
  namespace: "{{ openldap_project_name }}"
  labels:
    app: openldap
data:
  LDAP_ORGANISATION: "{{ lc_ldap_domain }}"
  LDAP_ROOT: "{{ lc_ldap_base_dn }}"
  LDAP_DOMAIN: "{{ lc_ldap_domain }}"
