kind: ConfigMap
apiVersion: v1
metadata:
  name: openldap-customldif
  namespace: "{{ openldap_project_name }}"
  labels:
    app: openldap
data:
  01-default-users.ldif: |-
    # Units
    dn: {{ lc_ldap_user_base_dn }}
    objectClass: organizationalUnit
    ou: {{ lc_ldap_user_base_dn | regex_replace('^([Oo][Uu]=)(.+?)(,([Oo]|[Dd][Cc])=.*)$', '\\2') }}

    dn: {{ lc_ldap_group_base_dn }}
    objectClass: organizationalUnit
    ou: {{ lc_ldap_group_base_dn | regex_replace('^([Oo][Uu]=)(.+?)(,([Oo]|[Dd][Cc])=.*)$', '\\2') }}

    # Users
    dn: {{ lc_ldap_user_id_attribute }}={{ lc_principal_admin_user }},{{ lc_ldap_user_base_dn }}
    objectClass: {{ lc_ldap_user_object_class }}
    objectClass: top
    cn: {{ lc_principal_admin_user }}
    sn: {{ lc_principal_admin_user }}
    {{ lc_ldap_user_id_attribute }}: {{ lc_principal_admin_user }}
    # ToDo set some domain
    mail: {{ lc_principal_admin_user }}@{{ lc_ldap_domain }}
    userpassword:: {{ lc_principal_admin_password | b64encode }}
    employeeType: admin

    dn: {{ lc_ldap_user_id_attribute }}=cpadmin1,{{ lc_ldap_user_base_dn }}
    objectClass: {{ lc_ldap_user_object_class }}
    objectClass: top
    cn: cpadmin1
    sn: cpadmin1
    {{ lc_ldap_user_id_attribute }}: cpadmin1
    mail: cpadmin1@{{ lc_ldap_domain }}
    userpassword:: {{ universal_password | b64encode }}
    employeeType: admin

    dn: {{ lc_ldap_user_id_attribute }}=cpadmin2,{{ lc_ldap_user_base_dn }}
    objectClass: inetOrgPerson
    objectClass: top
    cn: cpadmin2
    sn: cpadmin2
    uid: cpadmin2
    mail: cpadmin2@{{ lc_ldap_domain }}
    userpassword:: {{ universal_password | b64encode }}
    employeeType: admin

    dn: {{ lc_ldap_user_id_attribute }}=cpuser,{{ lc_ldap_user_base_dn }}
    objectClass: {{ lc_ldap_user_object_class }}
    objectClass: top
    cn: cpuser
    sn: cpuser
    {{ lc_ldap_user_id_attribute }}: cpuser
    mail: cpuser@{{ lc_ldap_domain }}
    userpassword:: {{ universal_password | b64encode }}

    dn: {{ lc_ldap_user_id_attribute }}=cpuser1,{{ lc_ldap_user_base_dn }}
    objectClass: {{ lc_ldap_user_object_class }}
    objectClass: top
    cn: cpuser1
    sn: cpuser1
    {{ lc_ldap_user_id_attribute }}: cpuser1
    mail: cpuser1@{{ lc_ldap_domain }}
    userpassword:: {{ universal_password | b64encode }}

    dn: {{ lc_ldap_user_id_attribute }}=cpuser2,{{ lc_ldap_user_base_dn }}
    objectClass: {{ lc_ldap_user_object_class }}
    objectClass: top
    cn: cpuser2
    sn: cpuser2
    {{ lc_ldap_user_id_attribute }}: cpuser2
    mail: cpuser2@{{ lc_ldap_domain }}
    userpassword:: {{ universal_password | b64encode }}

    # Groups
    dn: {{ lc_ldap_group_id_attribute }}={{ lc_principal_admin_group }},{{ lc_ldap_group_base_dn }}
    objectClass: {{ lc_ldap_group_object_class }}
    objectClass: top
    cn: {{ lc_principal_admin_group }}
    member: {{ lc_ldap_user_id_attribute }}={{ lc_principal_admin_user }},{{ lc_ldap_user_base_dn }}
    member: {{ lc_ldap_user_id_attribute }}=cpadmin1,{{ lc_ldap_user_base_dn }}
    member: {{ lc_ldap_user_id_attribute }}=cpadmin2,{{ lc_ldap_user_base_dn }}

    dn: {{ lc_ldap_group_id_attribute }}=cpusers,{{ lc_ldap_group_base_dn }}
    objectClass: {{ lc_ldap_group_object_class }}
    objectClass: top
    cn: cpusers
    member: {{ lc_ldap_user_id_attribute }}=cpadmin,{{ lc_ldap_user_base_dn }}
    member: {{ lc_ldap_user_id_attribute }}=cpadmin1,{{ lc_ldap_user_base_dn }}
    member: {{ lc_ldap_user_id_attribute }}=cpadmin2,{{ lc_ldap_user_base_dn }}
    member: {{ lc_ldap_user_id_attribute }}=cpuser,{{ lc_ldap_user_base_dn }}
    member: {{ lc_ldap_user_id_attribute }}=cpuser1,{{ lc_ldap_user_base_dn }}
    member: {{ lc_ldap_user_id_attribute }}=cpuser2,{{ lc_ldap_user_base_dn }}

    dn: {{ lc_ldap_group_id_attribute }}=cpusers1,{{ lc_ldap_group_base_dn }}
    objectClass: {{ lc_ldap_group_object_class }}
    objectClass: top
    cn: cpusers1
    member: {{ lc_ldap_user_id_attribute }}=cpuser,{{ lc_ldap_user_base_dn }}
    member: {{ lc_ldap_user_id_attribute }}=cpuser1,{{ lc_ldap_user_base_dn }}
    member: {{ lc_ldap_user_id_attribute }}=cpuser2,{{ lc_ldap_user_base_dn }}