kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: openldap-data
  namespace: "{{ openldap_project_name }}"
  labels:
    app: openldap
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: "{{ openldap_storage_class_name }}"
  volumeMode: Filesystem