kind: Secret
apiVersion: v1
metadata:
  name: openldap-password
  namespace: "{{ openldap_project_name }}"
  labels:
    app: openldap
stringData:
  LDAP_ADMIN_PASSWORD: "{{ openldap_universal_password }}"