---
apiVersion: v1
kind: Namespace
metadata:
  name: redhat-ods-operator
---
apiVersion: v1
kind: Namespace
metadata:
  name: redhat-ods-monitoring
---
apiVersion: v1
kind: Namespace
metadata:
  name: redhat-ods-applications
---
apiVersion: v1
kind: Namespace
metadata:
  name: rhods-notebooks