ibmcloud oc cluster addon enable openshift-ai \
    --cluster {{ _p_openshift_cluster.name }} \
    -y \
    --param "oaiCodeflare=Removed" \
    --param "oaiDashboard=Removed" \
    --param "oaiDataSciencePipelines=Removed" \
    --param "oaiModelmeshserving=Managed" \
    --param "oaiKserve=Managed" \
    --param "oaiKueue=Removed" \
    --param "oaiModelmeshserving=Removed" \
    --param "oaiRay=Removed" \
    -f