apiVersion: instana.io/v1
kind: InstanaAgent
metadata:
  name: instana-agent
  namespace: instana-agent
spec:
  zone:
    name: instana-aiops
  cluster:
      name: Demo-OpenShift
  openshift: true
  agent:
    key: {{current_agent_key}}
    endpointHost: agent.{{BASE_DOMAIN}}
    endpointPort: "443"
    env: {}
    configuration_yaml: |
      # Host
      com.instana.plugin.host:
        tags:
          - 'dev'
          - 'aiops'
          - 'openshift'