kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: 'cerebro-anyuid'
  namespace: "{{ cerebro_project_name }}"
  labels:
    app: cerebro  
subjects:
  - kind: ServiceAccount
    name: cerebro
    namespace: "{{ cerebro_project_name }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: 'system:openshift:scc:anyuid'
