  Keycloak URL: {{ _keycloak_url }}
  Keycloak admin user: {{ _keycloak_admin_user }}
  Keycloak users and passwords:
    {{ _keycloak_admin_user }}: {{ _keycloak_admin_password }}
{% for _kc in _keycloak_users_passwords %}
    {{ _kc.username | default('') }}: {{ _kc.password | default('') }}
{% endfor %}
