#! /bin/bash
SCRIPT_DIR=$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )

set -o pipefail
detach-cpd-instance \
    --cpfs_operator_ns={{ foundational_services_project }} \
    --control_ns={{ cs_control_project }} 2>&1 | tee {{ status_dir }}/log/{{ current_cp4d_cluster.project }}-detach-shared-components.log