apiVersion: ds.cpd.ibm.com/v1alpha1
kind: PXRuntime
metadata:
  name: {{ _ds_instance_name }}
  namespace: {{ _ds_instance_namespace }}
spec:
  license:
    accept: {{ cpd_accept_licenses | default(False) }}
  parameters:
    scaleConfig: {{ _ds_instance_size }}
    storageClass: {{ _ds_instance_storage_class }}
    storageSize: {{ _ds_instance_storage_size_gb }}
  zenServiceInstanceNamespace: {{ _ds_instance_namespace }}
  zenServiceInstanceId: {{ _ds_instance_id }}
  zenServiceInstanceOwnerUID: {{ _cp4d_user_owner_id }}
  version: {{ _cp4d_ds_version.stdout }}
  zenControlPlaneNamespace: {{ _ds_instance_namespace }}
  description: ''
