spec:
  scale:
    {{ _scale_ds_runtime_type }}:
      replicas: {{ _ds_px_replicas }}
      resources:
        limits:
          cpu: {{ _ds_px_limit_cpu }}
          memory: {{ _ds_px_limit_memory}}
        requests:
          cpu: {{ _ds_px_request_cpu }}
          memory: {{ _ds_px_request_memory }}
