resource "ibm_is_vpc_address_prefix" "{{generator.attributes.name}}" {
  name = "{{generator.attributes.name}}"
  provider = ibm.{{generator.attributes.region}}
  zone   = "{{generator.attributes.zone}}"
  vpc         = ibm_is_vpc.{{generator.attributes.vpc}}.id
  cidr        = "{{generator.attributes.cidr}}"
}