{
    "auths": {
        "{{ _source_registry_url }}": {
            "auth": "{{ _source_registry_auth | b64encode }}"
        },
        "{{ _target_registry_url }}": {
            "auth": "{{ _target_registry_auth | b64encode }}"
        }  
    }
}