{
    "auths": {
        "{{ _v_entitled_registry }}": {
            "auth": "{{ _entitled_auth | b64encode }}"
        },
        "{{ _target_registry_url }}": {
            "auth": "{{ _target_registry_auth | b64encode }}"
        }  
    }
}