{
    "auths": {
{% if _source_registry_hostname != _v_portable_registry %}
        "{{ _source_registry_url }}": {
            "auth": "{{ _source_registry_auth | b64encode }}"
        }
{% endif %}
{% if _source_registry_hostname != _v_portable_registry and _p_target_registry_hostname != _v_portable_registry %}
        ,
{% endif %}
{% if _p_target_registry_hostname != _v_portable_registry %}
        "{{ _target_registry_url }}": {
            "auth": "{{ _target_registry_auth | b64encode }}"
        }  
{% endif %}
    }
}