# From https://github.com/ibm-ecm/ibm-content-assistant-client-managed-software
# From https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-content-assistant
# ICA Catalog Source
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-content-assistant-operator-catalog
  namespace: "{{ ica_project_name }}"
spec:
  displayName: ibm-content-assistant-operator
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-content-assistant-catalog@sha256:5bf8e9fb9b697e9e06902d5eb8a04aba882793bfc2e13dc188ee7f2e37babde0