# From https://github.com/ibm-ecm/ibm-content-assistant-client-managed-software
# ICA Catalog Source
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-content-assistant-operator-catalog
  namespace: "{{ ica_project_name }}"
spec:
  displayName: ibm-content-assistant-operator
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-content-assistant-catalog@sha256:c2149186fcff549fea574c86ab207c60e8f5718a533b2fffbac47347a3a00db8