# From https://github.com/ibm-ecm/ibm-content-assistant-client-managed-software
# ICA Catalog Source
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-content-assistant-operator-catalog
  namespace: "{{ ica_project_name }}"
spec:
  displayName: ibm-content-assistant-operator
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-content-assistant-catalog@sha256:0c12298504f6fe1c70b87216249a4b38911d3bc1eb08ef08503ac86eb973438c