apiVersion: v1
kind: Secret
metadata:
  labels:
    cas.ibm.com/backup-type: mandatory
  name: ibm-content-assistant-secret
  namespace: "{{ ica_project_name }}"
type: Opaque
stringData:
  AI_PROVIDER_API_KEY_WATSONXPROD: "{{ _current_cp4ba_cluster.cp4ba.ica.gen_ai.apiKey | default('watsonx_ai_api_key') }}"
  AI_PROVIDER_SPACE_ID_WATSONXPROD: "{{ _current_cp4ba_cluster.cp4ba.ica.gen_ai.spaceId | default('space_id') }}"
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    cas.ibm.com/backup-type: mandatory
  name: vector-database-secret
  namespace: "{{ ica_project_name }}"
type: Opaque
stringData:
  VECTOR_DATABASE_USER_ID: admin
  VECTOR_DATABASE_USER_PASSWORD: "{{ ica_opensearch_password }}"
---
kind: Secret
apiVersion: v1
metadata:
  name: ibm-content-assistant-admin-key-secret
  namespace: "{{ ica_project_name }}"
type: Opaque
data:
  admin_key.pem: "{{ _ica_admin_key }}"