apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ibm-content-assistant-operator-catalog-subscription
  namespace: "{{ ica_project_name }}"
spec:
  channel: "{{ ica_operator_channel }}"
  name: ibm-content-assistant-operator
  installPlanApproval: Automatic
  source: ibm-content-assistant-operator-catalog
  sourceNamespace: "{{ ica_project_name }}"
