apiVersion: v1
baseDomain: {{ generator.attributes.domain_name }}
{% if generator.attributes.infrastructure.credentials_mode is defined  %}
credentialsMode: {{ generator.attributes.infrastructure.credentials_mode }}
{% endif %}
metadata:
  name: {{ generator.attributes.name }}

controlPlane:   
  hyperthreading: Enabled 
  name: master
  platform:
    aws:
      type: {{ generator.attributes.control_plane_flavour }}
      zones: {{ _aws_zones }}
{% if generator.attributes.infrastructure.control_plane_iam_role is defined  %}
      iamRole: {{ generator.attributes.infrastructure.control_plane_iam_role }}
{% endif %}
  replicas: {{ generator.attributes.control_plane_nodes }}

compute: 
- hyperthreading: Enabled 
  name: worker
  platform:
    aws:
      type: {{ generator.attributes.compute_flavour }}
      zones: {{ _aws_zones }}
{% if generator.attributes.infrastructure.compute_iam_role is defined  %}
      iamRole: {{ generator.attributes.infrastructure.compute_iam_role }}
{% endif %}
  replicas: {{ generator.attributes.compute_nodes }}
- hyperthreading: Enabled
  name: worker-gpu
  platform:
    aws:
      type: {{ generator.attributes.gpu_compute_flavour }}
      zones: {{ _aws_zones }}
{% if generator.attributes.infrastructure.compute_iam_role is defined %}
      iamRole: {{ generator.attributes.infrastructure.compute_iam_role }}
{% endif %}
  replicas: {{ generator.attributes.gpu_compute_nodes }}

networking:
  clusterNetwork:
{% if generator.attributes.infrastructure.openshift_cluster_network_cidr is defined  %}
  - cidr: {{ generator.attributes.infrastructure.openshift_cluster_network_cidr }}
    hostPrefix: 23
{% else %}
  - cidr: 10.128.0.0/14
    hostPrefix: 23
{% endif %}
{% if generator.attributes.infrastructure.machine_cidr is defined  %}
  machineNetwork:
  - cidr: {{ generator.attributes.infrastructure.machine_cidr }}
{% endif %}
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16

platform:
  aws:
    region: {{ generator.attributes.infrastructure.aws_region }}
{% if generator.attributes.infrastructure.subnet_ids is defined  %}
    subnets:
{% for subnet_id in generator.attributes.infrastructure.subnet_ids %}
    - {{ subnet_id }}
{% endfor %}
{% endif %}
{% if generator.attributes.infrastructure.hosted_zone_id is defined  %}
    hostedZone: {{ generator.attributes.infrastructure.hosted_zone_id }}
{% endif %}
{% if generator.attributes.infrastructure.ami_id is defined  %}
    amiID: {{ generator.attributes.infrastructure.ami_id }}
{% endif %}

{% if generator.attributes.infrastructure.private_only | default(False) %}
publish: Internal
{% endif %}

fips: false
pullSecret: '{{ lookup("file","/tmp/ocp_pullsecret.json") }}'
sshKey: '{{ _ocp_ssh_pub_key }}'