apiVersion: v1
baseDomain: {{ generator.attributes.domain_name }}
metadata:
  name: {{ generator.attributes.name }}

controlPlane:   
  hyperthreading: Enabled 
  name: master
  platform:
    aws:
      type: {{ generator.attributes.control_plane_flavour }}
      zones: {{ _aws_zones }}
  replicas: {{ generator.attributes.control_plane_nodes }}

compute: 
- hyperthreading: Enabled 
  name: worker
  platform:
    aws:
      type: {{ generator.attributes.compute_flavour }}
      zones: {{ _aws_zones }}
  replicas: {{ generator.attributes.compute_nodes }}

networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16

platform:
  aws:
    region: {{ generator.attributes.infrastructure.aws_region }}
{% if generator.attributes.infrastructure.subnet_ids is defined  %}
    subnets:
{% for subnet_id in generator.attributes.infrastructure.subnet_ids %}
    - {{ subnet_id }}
{% endfor %}
{% endif %}

{% if generator.attributes.infrastructure.private_only | default(False) %}
publish: Internal
{% endif %}

fips: false
pullSecret: '{{ lookup("file","/tmp/ocp_pullsecret.json") }}'
sshKey: '{{ _ocp_ssh_pub_key }}'