apiVersion: ds.cpd.ibm.com/v1alpha1
kind: PXRuntime
metadata:
  name: {{ _ds_instance_name }}
  namespace: {{ _ds_instance_namespace }}
spec:
  license:
    accept: {{ _cpd_accept_licenses | default(False) }}
  parameters:
    scaleConfig: {{ _ds_instance_size }}
    storageClass: {{ _ds_instance_storage_class }}
    storageSize: "{{ _ds_instance_storage_size_gb | string }}"
  zenServiceInstanceNamespace: {{ _ds_instance_namespace }}
  zenServiceInstanceId: {{ _ds_instance_id }}
  zenServiceInstanceOwnerUID: {{ _cp4d_user_owner_id }}
  version: {{ _cp4d_ds_version.stdout }}
  zenControlPlaneNamespace: {{ _ds_instance_namespace }}
  description: {{ _ds_instance_description }}
{% if _ds_instance_scale_px_compute is defined or _ds_instance_scale_px_runtime is defined %}  
  scale:
{% if _ds_instance_scale_px_compute is defined %}
    pxcompute:
      replicas: {{ _ds_px_compute_replicas }}
      resources:
        limits:
          cpu: {{ _ds_px_compute_limit_cpu }}
          memory: {{ _ds_px_compute_limit_memory}}
        requests:
          cpu: {{ _ds_px_compute_request_cpu }}
          memory: {{ _ds_px_compute_request_memory }}  
{% endif %}
{% if _ds_instance_scale_px_runtime is defined %}          
    pxruntime:
      replicas: {{ _ds_px_runtime_replicas }}
      resources:
        limits:
          cpu: {{ _ds_px_runtime_limit_cpu }}
          memory: {{ _ds_px_runtime_limit_memory}}
        requests:
          cpu: {{ _ds_px_runtime_request_cpu }}
          memory: {{ _ds_px_runtime_request_memory }}            
{% endif %}
{% endif %}