apiVersion: apps/v1
kind: Deployment
metadata:
  name: roundcubedb
  namespace: roundcube
  labels:
    service: roundcubedb
spec:
  replicas: 1
  selector:
    matchLabels:
      service: roundcubedb
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        service: roundcubedb
    spec:
      containers:
      - name: roundcubedb
        image: "postgres:{{ roundcube_db_image_tag }}"
        imagePullPolicy: ""
        env:
        - name: POSTGRES_DB
          value: roundcube
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: roundcubemail-shared-secret
              key: DB_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: roundcubemail-shared-secret
              key: DB_PASSWORD
        ports:
        - containerPort: 5432
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: roundcubedb-volume
      restartPolicy: Always
      serviceAccountName: ""
      volumes:
      - name: roundcubedb-volume
        persistentVolumeClaim:
          claimName: roundcubedb-volumeclaim
