apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: roundcube-www-pvc
  namespace: "{{ roundcube_project_name }}"
  labels:
    app: roundcube
spec:
  storageClassName: "{{ roundcube_storage_class_name }}"
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 200Mi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: roundcube-temp-pvc
  namespace: "{{ roundcube_project_name }}"
  labels:
    app: roundcube
spec:
  storageClassName: "{{ roundcube_storage_class_name }}"
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 2Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: roundcube-db
  namespace: "{{ roundcube_project_name }}"
  labels:
    app: roundcube
spec:
  storageClassName: "{{ roundcube_storage_class_name }}"
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 2Gi
