apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: roundcubemail-www-pvc
  namespace: roundcube
spec:
  storageClassName: "{{ roundcube_storage_class_name }}"
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 200Mi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: roundcubemail-temp-pvc
  namespace: roundcube
spec:
  storageClassName: "{{ roundcube_storage_class_name }}"
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 2Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: roundcubedb-volumeclaim
  namespace: roundcube
spec:
  storageClassName: "{{ roundcube_storage_class_name }}"
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 2Gi
