apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: roundcubemail-shared-secret
  namespace: roundcube
stringData:
  DES_KEY: '{{ roundcube_universal_password }}'
  DB_USER: roundcube
  DB_PASSWORD: '{{ roundcube_universal_password }}'
