apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: roundcube-shared-secret
  namespace: "{{ roundcube_project_name }}"
  labels:
    app: roundcube
stringData:
  DES_KEY: '{{ roundcube_universal_password }}'
  DB_USER: roundcube
  DB_PASSWORD: '{{ roundcube_universal_password }}'
