.openshift-login-title {
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 15px;
}

.openshift-login-items {
    font-size: 1.5rem;
    padding-top: 30px;
    padding-bottom: 15px;
}

.openshift-login-container {
    width: 50%;    
}

.openshift-login-items-1 {
    font-size: 1.2rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

.openshift-login-items-1-tips {
    font-size: 0.9rem;
}

// Made with Bob
