apiVersion: machineconfiguration.openshift.io/v1
kind: KubeletConfig
metadata:
  name: {{ kubelet_config_name }}
spec:
  machineConfigPoolSelector:
{% if cloud_platform == "aws" %}
    matchLabels:
      pools.operator.machineconfiguration.openshift.io/worker: ""
{% else %}
    matchLabels:
      db2u-kubelet: sysctl
{% endif %}
  kubeletConfig:
    allowedUnsafeSysctls:
      - "kernel.msg*"
      - "kernel.shm*"
      - "kernel.sem"