#!/bin/bash

#
# This script changes the kubelet settings for Cloud Pak for Data
#

NODE_FIX_DIR=/tmp/cloud-pak-node-fix

# Copy the current Kubelet config file
cp -r /etc/kubernetes/kubelet.conf ${NODE_FIX_DIR}/config/cp4d-kubelet.conf

if ! grep -q -e "^allowedUnsafeSysctls:" /etc/kubernetes/kubelet.conf;then
  echo "allowedUnsafeSystctls property not found in kubelet.conf, adding it"
  echo -e "\n### Cloud Pak for Data configuration ###" >> ${NODE_FIX_DIR}/config/cp4d-kubelet.conf
  echo "allowedUnsafeSysctls:" >> ${NODE_FIX_DIR}/config/cp4d-kubelet.conf
  echo '  - "kernel.msg*"' >>  ${NODE_FIX_DIR}/config/cp4d-kubelet.conf
  echo '  - "kernel.shm*"' >>  ${NODE_FIX_DIR}/config/cp4d-kubelet.conf
  echo '  - "kernel.sem"' >>  ${NODE_FIX_DIR}/config/cp4d-kubelet.conf
fi