apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: cp4d-kubelet-conf-ds
  namespace: kube-system
  labels:
    tier: management
    app: ccp4d-kubelet-conf-ds
spec:
  selector:
    matchLabels:
      name: cp4d-kubelet-conf-ds
  template:
    metadata:
      labels:
        name: cp4d-kubelet-conf-ds
    spec:
      hostNetwork: true
      hostPID: true
      hostIPC: true
      containers:
        - name: sleepforever
          resources:
            requests:
              cpu: 0.01
          image: registry.access.redhat.com/ubi8:latest
          command: ["/bin/sh", "-c"]
          args:
            - >
              date >> /ext-tmp/cp4d-kubelet-conf-ds.log ;
              echo "The Kubelet-O configuration will be applied" ;
              cat /cp4d-kubelet-conf/cp4d-kubelet.conf ;
              cat /cp4d-kubelet-conf/cp4d-kubelet.conf > /ext-cloud-pak-node-fix/cp4d-kubelet.conf ;
              while true; do
                sleep 100000;
              done
          volumeMounts:
            - name: cp4d-kubelet-conf
              mountPath: /cp4d-kubelet-conf
              readOnly: true
            - name: modifytmp
              mountPath: /ext-tmp
            - name: modifycpnodefix
              mountPath: /ext-cloud-pak-node-fix
      volumes:
        - name: cp4d-kubelet-conf
          configMap:
            name: cp4d-kubelet-conf
        - name: modifytmp
          hostPath:
            path: /tmp
        - name: modifycpnodefix
          hostPath:
            path: /cloud-pak-node-fix