apiVersion: v1
kind: Secret
metadata:
  name: "{{ cp4ba_cr_meta_name }}-rr-admin-secret"
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  rootPassword: "{{ cp4ba_universal_password }}"
  readUser: reader
  readPassword: "{{ cp4ba_universal_password }}"
  writeUser: writer
  writePassword: "{{ cp4ba_universal_password }}"
