apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-express
  namespace: "{{ mongo_express_project_name }}"
  labels:
    app: mongo-express
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo-express
  template:
    metadata:
      labels:
        app: mongo-express
    spec:
      containers:
        - name: mongo-express
          image: "{{ mongo_express_image }}"
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 1536Mi
          startupProbe:
            tcpSocket:
              port: 8081
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 5
          readinessProbe:
            tcpSocket:
              port: 8081
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 5
          livenessProbe:
            tcpSocket:
              port: 8081
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 10
          ports:
            - name: ui
              containerPort: 8081
              protocol: TCP
          env:
            - name: ME_CONFIG_MONGODB_ENABLE_ADMIN
              value: "true"
            - name: ME_CONFIG_MONGODB_ADMINUSERNAME
              value: "{{ mongo_express_mongodb_admin_user }}"
            - name: ME_CONFIG_MONGODB_ADMINPASSWORD
              value: "{{ mongo_express_mongodb_admin_password }}"
            - name: ME_CONFIG_MONGODB_SERVER
              value: "{{ mongo_express_mongodb_hostname }}"
            - name: ME_CONFIG_BASICAUTH_USERNAME
              value: "{{ mongo_express_admin_user }}"
            - name: ME_CONFIG_BASICAUTH_PASSWORD
              value: "{{ mongo_express_universal_password }}"
