kind: Service
apiVersion: v1
metadata:
  name: mongo-express
  namespace: mongo-express
  labels:
    app: mongo-express
spec:
  selector:
    app: mongo-express
  ports:
    - name: ui
      port: 8081
      targetPort: ui
