apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{current_cp4ba_cluster.project}}-usage"
  namespace: cloud-pak-deployer
data:
  usage.md: |- 
    {{ lookup('file', usage_path) | indent(4) }}
{% if zen_api_key_new is defined %}
  zen-api-key: {{ zen_api_key_new }}
{% endif %}