kind: Service
apiVersion: v1
metadata:
  name: kibana
  namespace: "{{ kibana_project_name }}"
  labels:
    app: kibana
spec:
  ports:
    - name: kibana-ui
      protocol: TCP
      port: 5601
      targetPort: kibana-ui
  selector:
    app: kibana-app
    component: kibana
