# TODO: Storage class should be adapted automatically
apiVersion: cpd.ibm.com/v1
kind: Ibmcpd
metadata:
  name: ibmcpd-cr            
  namespace: {{ current_cp4d_cluster.project }}
spec:
  license:
    accept: true
    license: Enterprise
  storageClass: managed-nfs-storage
  zenCoreMetadbStorageClass: managed-nfs-storage
  version: "4.0.1"
  csNamespace: {{ foundational_services_project }}