apiVersion: cpd.ibm.com/v1
kind: Ibmcpd
metadata:
  name: ibmcpd-cr            
  namespace: {{ current_cp4d_cluster.project }}
spec:
  license:
    accept: true
    license: Enterprise
  storageClass: {{ ocp_storage_class_file }}
  zenCoreMetadbStorageClass: {{ ocp_storage_class_block }}
  # version: "4.0.1"
  csNamespace: {{ foundational_services_project }}