apiVersion: operators.coreos.com/v1alpha2
kind: OperatorGroup
metadata:
  name: operatorgroup
  namespace: {{ foundational_services_project }}
spec:
  targetNamespaces:
  - {{ foundational_services_project }}