registry:
  - url: {{ cp4d_repo_url }}
    username: {{ cp4d_repo_username }}
    apikey: {{ ibm_cp_entitlement_key }}
    namespace: ""
    name: base-registry
    # WSL
  - name: base
    url: {{ cp4d_repo_url }}
    username: {{ cp4d_repo_username }}
    apikey: {{ ibm_cp_entitlement_key }}
    namespace: ""
    # WKC
  - url: {{ cp4d_repo_url }}
    username: {{ cp4d_repo_username }}
    apikey: {{ ibm_cp_entitlement_key }}
    namespace: ""
    name: wkc-registry
    # WML base
  - url: {{ cp4d_repo_url }}
    username: {{ cp4d_repo_username }}
    apikey: {{ ibm_cp_entitlement_key }}
    namespace: ""
    name: wml-base
    #SPACES
  - url: {{ cp4d_repo_url }}
    username: {{ cp4d_repo_username }}
    apikey: {{ ibm_cp_entitlement_key }}
    namespace: ""
    name: spaces
fileservers:
  - url: {{ cp4d_repo_fileservers_url }}
