# case 4.1.4 / csv 22.2.4 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cp-automation
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cp4a-operator-catalog
  namespace: openshift-marketplace
spec:
  displayName: ibm-cp4a-operator
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cp-automation-catalog@sha256:10b492aa0a18bc73f7c3a54b5609204b3f50cbb0e3e445117e0f7941eaf9d4db
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.3.13 / csv 1.3.13 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cp-automation-foundation
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cp-automation-foundation-catalog
  namespace: openshift-marketplace
spec:
  displayName: IBM Automation Foundation Operators
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cp-automation-foundation-catalog@sha256:1753b1cabf6cdc6d295d8da096ce3f769b6487fdbef5802de63dccbfa7d9a43b
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.3.13 / csv 1.3.13 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-automation-foundation-core
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-automation-foundation-core-catalog
  namespace: openshift-marketplace
spec:
  displayName: IBM Automation Foundation Core Operators
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-automation-foundation-core-catalog@sha256:8bd0b52526de4a2adf6b299237f3d295a710e7d0ff538a319226c614ceae618b
  updateStrategy:
    registryPoll:
      interval: 45m
