# CP4BA catalog https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cp-automation
# CP4BA Git Repo https://github.com/icp4a/cert-kubernetes
# IBM CS Flink Operator Catalog https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cs-flink
# IBM CS Opensearch Operator Catalog https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-opensearch-operator
# IBM Cloud Foundational Services https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cp-common-services
# IBM Business Teams Service version https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-bts-bundle
# Cloud Native PostgresSQL https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cloud-native-postgresql
# IBM FileNet Content Manager Standalone https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cp-fncm-case

################################################################################
#
# Licensed Materials - Property of IBM
#
# (C) Copyright IBM Corp. 2019. All Rights Reserved.
#
# US Government Users Restricted Rights - Use, duplication or
# disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
#
###############################################################################
# CP4BA 26.0.0 catalog
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cp4a-operator-catalog
  namespace: "{{ cp4ba_project_name }}"
spec:
  displayName: ibm-cp4a-operator
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cp-automation-catalog@sha256:a10b7f7dec435bf9f49fff8b49ecb4380775ddfeae3b20a8242bf6426b497ceb
  grpcPodConfig:
    securityContextConfig: restricted
---
# IBM CS Flink Operator Catalog 1.20.2 (2.0.19)
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-opencontent-flink
  namespace: "{{ cp4ba_project_name }}"
spec:
  displayName: IBM CS Opencontent Flink Catalog
  publisher: IBM
  sourceType: grpc
  image: >-
    icr.io/cpopen/ibm-opencontent-flink-operator-catalog@sha256:d3970f055e5bfbe77cd4fbfa9da86bb39597b9474c19fd0a3190cb568c7534af
  priority: 100
  grpcPodConfig:
    securityContextConfig: restricted
---
# IBM CS Opensearch Operator Catalog 1.4.3
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-opensearch-operator-catalog
  namespace: "{{ cp4ba_project_name }}"
spec:
  displayName: IBM CS Opencontent Opensearch Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/opencontent-ibm-opensearch-operator-catalog@sha256:4a40ac23337e129531396e2e59bc00f65f25b8b70d52a190d4c116135ff39267
  priority: 100
  grpcPodConfig:
    securityContextConfig: restricted
---
# IBM Cloud Foundational Services 4.18.1
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cs-install-catalog-v4-18-0
  namespace: "{{ cp4ba_project_name }}"
  annotations:
    bedrock_catalogsource_priority: '1'
spec:
  displayName: IBM CS Install Operators
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cs-install-catalog@sha256:f76c75ccb46689bdfd7ad30169593c96895aba5458962681aaa3cef74fb7a324
  priority: 100
  grpcPodConfig:
    securityContextConfig: restricted
---
# IBM Business Teams Service version 3.35.11
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-bts-operator-catalog-v3-35
  namespace: "{{ cp4ba_project_name }}"
  annotations:
    bedrock_catalogsource_priority: '1'
spec:
  displayName: BTS Operator-3.35.11
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-bts-operator-catalog@sha256:57af875055e93f537bee57512bccc7e5bfc2b19ece3300fbe2c6022267955320
  grpcPodConfig:
    securityContextConfig: restricted
---
# IBM CS IM Operator Catalog 4.17.1
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-iam-operator-catalog-4-17-0
  namespace: "{{ cp4ba_project_name }}"
  annotations:
    bedrock_catalogsource_priority: '1'
spec:
  displayName: IBM IAM Operator Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-iam-operator-catalog@sha256:845eb294d21e6af580f70424f7c57886194cd5644bb1d57e31d8be6818b4fc2c
  priority: 100
  grpcPodConfig:
    securityContextConfig: restricted
---
# IBM Zen Operator Catalog 6.4.7+20260608.081833.10
# we only update the catalog name when the channel is changed.
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-zen-operator-catalog-6-4-0
  namespace: "{{ cp4ba_project_name }}"
  annotations:
    bedrock_catalogsource_priority: '1'
spec:
  displayName: IBM Zen Operator Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-zen-operator-catalog@sha256:60e24dbd2d14ba44dc5dd24b4e295e6072dbd7d5278011342e011b5de2650c44
  priority: 100
  grpcPodConfig:
    securityContextConfig: restricted
---
# IBM Usage Metering Catalog 1.0.6
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-usage-metering-catalog
  namespace: "{{ cp4ba_project_name }}"
spec:
  displayName: ibm-usage-metering-1.0.6
  publisher: IBM
  image: icr.io/cpopen/ibm-usage-metering-operator-catalog@sha256:b80738a02914c0eb08af87a7bc63226bf2b65de7add92156cc8d14673707b4dc
  sourceType: grpc
  grpcPodConfig:
    securityContextConfig: restricted    
---
# IBM Events Operator Catalog 5.2.1
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-events-operator-catalog-v5-2-1
  namespace: "{{ cp4ba_project_name }}"
  annotations:
    bedrock_catalogsource_priority: '1'
spec:
  displayName: IBM Events Operator Catalog-v5.2.1
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-events-operator-catalog@sha256:228ea92d69daa2350e151d1fe6b14e6fb56eadd0d3b5b5872178180747297687
  priority: 100
  grpcPodConfig:
    securityContextConfig: restricted
---
# Cloud Native PostgresSQL Version 1.25.3 (CASE 5.22.0+20251001.142254.2660)(Postgresql Image Version 14.19)
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: cloud-native-postgresql-catalog
  namespace: "{{ cp4ba_project_name }}"
  annotations:
    bedrock_catalogsource_priority: '1'
spec:
  displayName: Cloud Native Postgresql Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cpd-cloud-native-postgresql-operator-catalog@sha256:a333a9dc5f8c81aed7201a574f784a85b68ea55d8a45af235956aac1406009e4
  priority: 100
  grpcPodConfig:
    securityContextConfig: restricted
---
# IBM Content Cortex Standalone catalog for 26.0.0
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-content-cortex-operator-catalog
  namespace: "{{ cp4ba_project_name }}"
spec:
  displayName: IBM Content Cortex Operator Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-content-cortex-catalog@sha256:df9ef5d008d87f260838a5143ae514dcc89afaaa9339c1b748b2e53b7cc19711
  grpcPodConfig:
    securityContextConfig: restricted
---
# Keep in sync with IPM and RPA
# IBM Redis CP Operator Catalog for 1.4.0 (CASE:1.4.0+20260609.131456.726)
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-redis-cp-operator-catalog
  namespace: "{{ cp4ba_project_name }}"
spec:
  displayName: IBM Redis CP Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-redis-cp-operator-catalog@sha256:8391c3e193e9dc54f1a91996daaaca73126d5a814dd82cd49651576a4ac633e9
  grpcPodConfig:
    securityContextConfig: restricted    
