apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ cp4ba_project_name }}-cr"
  namespace: "{{ cp4ba_output_namespace }}"
data:
  cp4ba-cr.yaml: |- 
    {{ cp4ba_cr_content | to_nice_yaml(indent=2, width=1337) | indent(4) }}
