apiVersion: v1
kind: ConfigMap
metadata:
  name: "000-cp4ba-postdeploy"
  namespace: "{{ cp4ba_output_namespace }}"
data:
  postdeploy.md: |- 
    {{ lookup('file', cp4ba_output_directory+'/postdeploy.md') | indent(4) }}
