apiVersion: v1
kind: ConfigMap
metadata:
  name: "000-{{ cp4ba_project_name }}-postdeploy"
  namespace: "{{ cp4ba_output_namespace }}"
data:
  postdeploy.md: |- 
    {{ lookup('file', cp4ba_output_directory+'/postdeploy.md') | indent(4) }}
