# CP4BA post-deploy

Based on https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/latest?topic=deployments-completing-post-installation-tasks

The following list specifies when you need to perform particular post-deployment steps
  - [Business Automation Navigator (BAN) (foundation pattern)](#business-automation-navigator-ban-foundation-pattern)
    - [IBM Content Navigator Sync](#ibm-content-navigator-sync) - When you want to use Sync feature.
    - [IBM Content Navigator Edit Service](#ibm-content-navigator-edit-service) - When you want to use Edit Service feature.
    - [IBM Content Navigator for Microsoft Office](#ibm-content-navigator-for-microsoft-office) - When you want to use NMO feature.
  - [Business Automation Studio (BAS) (foundation pattern)](#business-automation-studio-bas-foundation-pattern)
    - [Deploy toolkits and configurators](#deploy-toolkits-and-configurators) - When you want to call ODM from Business Application using Automation Services.
  - [Business Automation Insights (BAI) (foundation pattern)](#business-automation-insights-bai-foundation-pattern)
    - [Configure Workforce insights](#configure-workforce-insights) - When you want to use Workforce Insights.
  - [Operational Decision Manager (ODM) (decisions pattern)](#operational-decision-manager-odm-decisions-pattern)
    - [BAI event emitter](#bai-event-emitter) - When you want to enable BAI event emitting for your Rule Application.
    - [Rule designer in eclipse](#rule-designer-in-eclipse) - When you want to install Rule Designer in Eclipse to develop Rule Applications.
    - [Rule designer Zen connection](#rule-designer-zen-connection) - When you want to deploy Rule Applications from your local Rule Designer to ODM.
  - [Automation Decision Services (ADS) (decisions_ads pattern)](#automation-decision-services-ads-decisions_ads-pattern)
    - [ADS project git repo & connection](#ads-project-git-repo--connection) - When you want to connect your ADS solution to GIT repository.
    - [Develop custom libraries](#develop-custom-libraries) - When you want to create your custom ADS libraries.
  - [FileNet Content Manager (FNCM) (content pattern)](#filenet-content-manager-fncm-content-pattern)
    - [Update Google OIDC redirect URIs](#update-google-oidc-redirect-uris) - (don't use now) When you configured Google ID for External Share.
    - [External Share](#external-share) - (don't use now) When you want to use External Share.
    - [External Share capability in BAN](#external-share-capability-in-ban) - (don't use now) When you want to use External Share.
    - [IER configuration](#ier-configuration) - When you want to configure IBM Enterprise Records.

For some of the tasks you need to interact with OpenShift using oc CLI. Use the following templates to log in and switch project.
```bash
# Either Username + Password
oc login --server=<OCP_API_ENDPOINT> -u <OCP_CLUSTER_ADMIN> -p <OCP_CLUSTER_ADMIN_PASSWORD>
# Or Token
oc login --server=<OCP_API_ENDPOINT> --token=<OCP_CLUSTER_TOKEN>


oc project {{ cp4ba_project_name }}

```


For logging in to CP4BA pillars use *Authentication type: Enterprise LDAP* and user *{{ lc_principal_admin_user }}* with password "{{ lc_principal_admin_password }}" if not stated otherwise.

## Business Automation Navigator (BAN) (foundation pattern)

### IBM Content Navigator Sync

Based on https://www.ibm.com/docs/en/content-navigator/latest?topic=components-configuring-sync-services-content-navigator-filenet-p8

You need to download and install IBM Content Navigator Sync installer from PPA or Fix Central for corresponding version and OS (e.g. M08W6ML	IBM Content Navigator Sync V3.0.13 Windows Multilingual).

Enable Desktop and Connection of OS1 for sync services.

For Desktop URL, use https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/icn/navigator/?desktop=OS1  
Use Single Sign-on  
Login with Enterprise LDAP with {{ lc_principal_admin_user }} / {{ lc_principal_admin_password }}  

### IBM Content Navigator Edit Service

Based on https://www.ibm.com/docs/en/content-navigator/latest?topic=components-configuring-edit-service-client-content-navigator

You need to download and install IBM Content Navigator Edit Service installer from PPA or Fix Central for corresponding version and OS (e.g. M08W8ML	IBM Content Navigator Edit Service V3.0.13 Windows Multilingual).

Enable Desktop and Connection of OS1 for edit services.

### IBM Content Navigator for Microsoft Office

Based on https://www.ibm.com/docs/en/content-navigator/latest?topic=machines-installing-content-navigator-microsoft-office-interactively

You need to download and install IBM Content Navigator for Microsoft Office installer from PPA or Fix Central for corresponding version and OS (e.g. M08W4ML	IBM Content Navigator for Microsoft Office V3.0.13 Windows Multilingual).

IBM Content Navigator URL: https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/icn/navigator/  
Desktop ID: OS1  
Login with Enterprise LDAP with {{ lc_principal_admin_user }} / {{ lc_principal_admin_password }}  

## Business Automation Studio (BAS) (foundation pattern)

Based on https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/latest?topic=tasks-business-automation-studio

### Deploy toolkits and configurators

Based on https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/latest?topic=reference-downloadable-toolkits

To your local system download the following
- TWX file from https://github.com/icp4a/odm-toolkit/tree/master/contribution/1.2/Action%20Configurator
- TWX file from https://github.com/icp4a/odm-toolkit/tree/master/contribution/1.2/Toolkit

Go to Studio https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/bas/BAStudio/build/index.jsp?#/apps/platformRepo  
Login with Enterprise LDAP with {{ lc_principal_admin_user }} / {{ lc_principal_admin_password }}  

Click Toolkits  
Click Import  
Import all files that you downloaded one by one  
Some of them are used as Configurators, don't be confused that they don't appear in the list of toolkits.  

## Business Automation Insights (BAI) (foundation pattern)

### Configure Workforce insights

Part of WFI configuration has already been done automatically.

Set up WFI following https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/latest?topic=dashboards-enabling-workforce-insights

## Operational Decision Manager (ODM) (decisions pattern)

Based on https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/latest?topic=tasks-operational-decision-manager

### BAI event emitter

After you have some rule project ready, configure it to emit BAI events using https://www.ibm.com/docs/en/odm/latest?topic=properties-built-in-ruleset-odm-event-emitter

### Rule designer in eclipse

Based on https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/latest?topic=manager-installing-rule-designer

Download Eclipse IDE 2020-06 R (4.16) Modeling Tools Packages from https://archive.eclipse.org/technology/epp/downloads/release/2020-06/R/eclipse-modeling-2020-06-R-win32-x86_64.zip
Follow this topic https://github.com/DecisionsDev/ruledesigner/tree/master#installation in GitHub.  

Note: You may face JAXB exceptions when connecting to ODM. Using JDK8 resolve this error.  
In you eclise.ini before -vmargs the following
```text
-vm 
<path_to_jdk>\bin\javaw.exe
```

### Rule designer Zen connection

Based on https://www.ibm.com/docs/en/odm/latest?topic=parties-configuring-rule-designer  
Download truststore.jks from https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/odm/decisioncenter/assets/truststore.jks and copy the file to your eclipse directory.  

Based on https://www.ibm.com/docs/en/odm/latest?topic=designer-passing-parameters-rule
Add the following to eclipse.ini
```text
-Djavax.net.ssl.trustStore=truststore.jks
```

Please note that after using this trust store, eclipse marketplace and updates might stop to work. To overcome this, you can to extract the certificates from downloaded truststore.jks, make a copy of java cacerts, import the extracted certificates into it and use the newly created cacerts.


When configuring RES connection in Deployment use  
URL: https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/odm/res  
Method: Zen API Key  
UserID: "{{ lc_principal_admin_user }}"  
API Key: As generated following https://www.ibm.com/docs/en/cloud-paks/1.0?topic=users-generating-api-keys-authentication

When configuring Decision Center use  
URL: https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/odm/decisioncenter  
Authentication: Zen API Key  
User ID: "{{ lc_principal_admin_user }}"  
API Key: As generated following https://www.ibm.com/docs/en/cloud-paks/1.0?topic=users-generating-api-keys-authentication

## Automation Decision Services (ADS) (decisions_ads pattern)

Based on https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/latest?topic=tasks-automation-decision-services

### ADS project git repo & connection

ADS is set up to create repositories for Projects automatically. If you need to switch to specifically named repo, you can use the following procedure.  
Create Repository. Change *name* in the payload to correspond to your project name.
```bash
curl --insecure --request POST "https://gitea-{{ gitea_project_name }}.{{ apps_endpoint_domain }}/api/v1/orgs/ads/repos" \
--header  "Content-Type: application/json" \
--user '{{ lc_principal_admin_user }}:{{ lc_principal_admin_password }}' \
--data-raw '
{
  "auto_init": false,
  "default_branch": "master",
  "description": "",
  "gitignores": "",
  "issue_labels": "",
  "license": "",
  "name": "sandbox",
  "private": true,
  "readme": "",
  "template": false,
  "trust_model": "default"
}
'
```

Open your ADS Sandbox project  
On the top right, click Connect  

Repository URI: https://gitea-{{ gitea_project_name }}.{{ apps_endpoint_domain }}/ads/sandbox.git  (adjust *sandbox*)  
Username: {{ lc_principal_admin_user }}  
Password: {{ lc_principal_admin_password }}  
Click Connect

### Develop custom libraries

To find out how to create and add External libraries to ADS, follow https://github.com/icp4a/automation-decision-services-samples/tree/23.0.1/samples/ExternalLibraryStartTutorial

To be able to follow the above guide from my environment, I needed to perform the following.

Add settings for Nexus in my local maven settings .m2\settings.xml (Available in Project *cloud-pak-deployer*, in ConfigMap *{{ _current_cp4ba_cluster.project }}-nexus-maven-settings* in *settings.xml* file)  


Installed JDK 16 Oracle, added to path.

Add OCP ingress certificates to jdk/jre cacerts.  
Run mvn command with -Djavax.net.debug=ssl to determine the location of used cacerts file.  
In my case: C:\Program Files\Java\jdk-16.0.1\lib\security\cacerts  
Open KeyStore Explorer as Administrator, open this cacerts, no password.  
Import ca.crt which is available in *{{ cp4ba_project_name }}* Project in external-tls-secret Secret, save without password.  

Installed VSCode and added Java Extension Pack


## FileNet Content Manager (FNCM) (content pattern)

Based on https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/latest?topic=tasks-filenet-content-manager

### Update Google OIDC redirect URIs

If you plan to use Google ID for External Share  
Based on https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/latest?topic=manager-configuring-redirect-url-identity-provider and  
on https://developers.google.com/identity/protocols/oauth2/openid-connect#setredirecturi  
Watch video and follow with your own google account and Client ID you used in the pre-deploy section  
[Video fncm-es-google-oidc-post.mp4 download](https://github.com/apollo-business-automation/ibm-cp4ba-enterprise-deployment/blob/main/assets/fncm-es-google-oidc-post.mp4?raw=true) 
#TODO errata for redirect uris when this starts to work

### External Share

Based on https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/latest?topic=manager-configuring-external-share-after-deployment

If you plan to use External Share  

Configure SMTP  
Based on https://www.ibm.com/docs/en/filenet-p8-platform/latest?topic=users-configuring-content-platform-engine-external-sharing point 3

Go to Acce console https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/cpe/acce/    
Login with Enterprise LDAP with {{ lc_principal_admin_user }} / {{ lc_principal_admin_password }}  
On P8DOMAIN domain navigate to *SMTP Subsystem*  
Check *Enable email services*  
SMTP host: {{ cp4ba_mail_hostname }}  
SMTP port: 25  
Email from ID: system@cp.internal 
Default email reply-to ID: system@cp.internal 
Email login ID: mailuser  
Email login password: {{ cp4ba_universal_password }}  
Click Save  


Configure external LDAP in FNCM CPE  
If you plan to use external LDAP for External Share  
Based on https://www.ibm.com/docs/en/filenet-p8-platform/latest?topic=users-configuring-content-platform-engine-external-sharing point 2

Go to Acce console https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/cpe/acce/  
On P8DOMAIN domain navigate to *Directory Configuration*  
Click on ExternalRealm  
find *Exclude From Authenticated Users* property and set it to True  
click Save  
click Close  


Document class access  
If you plan to use external LDAP for External Share  
Based on https://www.ibm.com/docs/en/filenet-p8-platform/latest?topic=users-configuring-content-platform-engine-external-sharing point 4  

Go to Acce console https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/cpe/acce/  
Navigate to OS1 object store > Data Design > Classes > Document > Security tab  
Click Add Permissions > Add User/Group Permission  
Search in realm: ExternalRealm (o=cpext)    
Search by: #  
Click Search  
Add *#REALM-USERS* to *Selected Users and Groups*  
Permission group: View all properties, Create instance  
Click OK  
Click Save  

Folder class access  
If you plan to use external LDAP for External Share  
Based on https://www.ibm.com/docs/en/filenet-p8-platform/latest?topic=users-configuring-content-platform-engine-external-sharing point 5

Go to Acce console https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/cpe/acce/    
Navigate to OS1 object store > Data Design > Classes > Folder > Security tab  
Click Add Permissions > Add User/Group Permission  
Search in realm: ExternalRealm (o=cpext)  
Search by: #  
Click Search  
add *#REALM-USERS* to *Selected Users and Groups*  
Permission group: View all properties, Create instance  
Click OK  
Click Save  

### External Share capability in BAN

Based on https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/latest?topic=cesad-configuring-share-plug-in-in-business-automation-navigator  
Based on https://www.ibm.com/docs/en/content-navigator/latest?topic=components-configuring-external-share  

If you plan to use External Share  

To successfully configure External share you will need to use Ingress access to BAN.
Go to navigator https://ingress-es-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/navigator/?desktop=admin  
If a pop-up occurs, click Cancel  
Go to Plug-ins  
Click New Plug-in  

New Plug-in screen  
JAR file path: https://ingress-es-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/contentapi/plugins/sharePlugin.jar  
Click Load  
Click Save  
REST API URL: https://ingress-es-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/contentapi/rest/share/v1  
Click Verify  
Repositories: select OS1  
Click Configure Share  
 
Configure Share for OS1 screen  
External URL: https://ingress-es-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/navigator  
External desktop: New desktop  
  Desktop name: External Share OS1  
  Desktop ID: ExternalShareOS1  
Consent agreement: Welcome to CP4A  
Click OK  
This may take some time, and the request can time out. Click OK after a minute again, and it should complete successfully. In the meantime External share container is configuring object store behind the scenes.  
Click Save and Close  

Based on https://www.ibm.com/docs/en/content-navigator/latest?topic=share-configuring-menu-action  

Navigate to Menus  
Filter for *Default document context menu*  
Select the first occurrence  
Click Copy  

New Menu screen  
Name: Share Document Context Menu  
Move Share from *Available* to *Selected:*  
Move it up under *Preview*  
Click Save and Close  

Filter for *Default folder context menu*  
Select the first occurrence  
Click Copy  

New Menu screen  
Name: Share Folder Context Menu  
Move Share from *Available* to *Selected:*  
Move it up under *Delete*  
Click Save and Close  

Navigate to Desktops  
Click on OS1  
Click Edit  
Click Menus tab  
Under Context Menus > Content Context Menus  
Document context menu: Share Document Context Menu  
Folder context menu: Share Folder Context Menu  
Click save and Close  

If you want to share content, use https://ingress-es-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/navigator/?desktop=OS1

### IER configuration

Follow official documentation at https://www.ibm.com/docs/en/cloud-paks/cp-biz-automation/latest?topic=fcm-configuring-enterprise-records,
https://www.ibm.com/docs/en/enterprise-records/5.2.1?topic=in-configuring-content-navigator-task-manager-enterprise-records#frmco011__1 to finish IER configuration.  
URLs are available in *cloud-pak-deployer* Project in *cp4ba-usage* ConfigMap (IER application plugin URL).

Some steps were already automated:
- FPOS and ROS object stores were created
- Task Manager pod has TM_JOB_URL parameter set (https://www.ibm.com/docs/en/enterprise-records/5.2.1?topic=in-configuring-content-navigator-task-manager-enterprise-records)
- CPE Jars (Jace.jar, pe.jar and peResources.jar) were added to Task manager (https://www.ibm.com/docs/en/enterprise-records/5.2.1?topic=in-configuring-content-navigator-task-manager-enterprise-records)
- Task manager pod restarted (https://www.ibm.com/docs/en/enterprise-records/5.2.1?topic=in-configuring-content-navigator-task-manager-enterprise-records)
- TM-Liberty.xml addition is not necesarry as it is already generated by the operator

You need to at least:
- Run IER config mgr to setup FPOS and ROS for IER
- Add and setup IER plugin in ICN
- Add Additional Jars to Task manager and restart it (https://www.ibm.com/docs/en/enterprise-records/5.2.1?topic=in-configuring-content-navigator-task-manager-enterprise-records)
