---
apiVersion: operator.ibm.com/v1alpha1
kind: OperandRequest
metadata:
  name: ibm-licensing
  namespace: {{ _p_fs_project }}
spec:
  requests:
    - operands:
        - name: ibm-licensing-operator
      registry: common-service