variable "ibmcloud_api_key" {}

terraform {
  required_version = ">= 0.13"
  required_providers {
    ibm = {
      source = "ibm-cloud/ibm"
    }
  }
}

provider "ibm" {
  ibmcloud_api_key      = var.ibmcloud_api_key
  region                = "{{ vpc_config['locals']['region'] | default('eu-de') }}"
}