kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: gitea-shared-storage
  namespace: "{{ gitea_project_name }}"
  labels:
    app: gitea
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  storageClassName: "{{ gitea_storage_class_name }}"
  resources:
    requests:
      storage: 10Gi
