apiVersion: v1
kind: Service
metadata:
  name: gitea-http
  namespace: "{{ gitea_project_name }}"
  labels:
    app: gitea
spec:
  ports:
    - name: http
      port: 3000
      targetPort: http
  selector:
    app: gitea