podSecurityContext:
  fsGroup: null
containerSecurityContext:
  allowPrivilegeEscalation: false
  privileged: false
  runAsNonRoot: true
  runAsUser: null
persistence:
  enabled: true
  size: 10Gi
  accessModes:
    - ReadWriteMany
  storageClass: "{{ gitea_storage_class_name }}"
extraVolumes:
  - name: var-lib-gitea
    emptyDir: {}
extraInitVolumeMounts:
  - name: var-lib-gitea
    readOnly: false
    mountPath: "/var/lib/gitea"  
extraContainerVolumeMounts:
  - name: var-lib-gitea
    readOnly: false
    mountPath: "/var/lib/gitea"  
image:
  tag: "{{ gitea_image_tag }}"
  rootless: true
gitea:
  config:
    APP_NAME: "Gitea: With a cup of tea."
    repository:
      ROOT: "~/gitea-repositories"
      ENABLE_PUSH_CREATE_ORG: true
    repository.pull-request:
      WORK_IN_PROGRESS_PREFIXES: "WIP:,[WIP]:"
    server:
      ROOT_URL: "https://gitea.{{ apps_endpoint_domain }}"
  admin:
    username: "giteaadmin"
    password: '{{ gitea_universal_password }}'
    email: "giteaadmin@{{ lc_ldap_domain }}"
  startupProbe:
    enabled: true  
  ldap:
    - name: LDAP
      securityProtocol: "{{ 'unencrypted' if not lc_ldap_ssl_enabled else 'ldaps' }}"
      skipTlsVerify: "{{ lc_ldap_ssl_enabled }}"
      host: "{{ lc_ldap_server }}"
      port: "{{ lc_ldap_port }}"
      userSearchBase: "{{ lc_ldap_user_base_dn }}"
      userFilter: "(&({{ lc_ldap_user_id_attribute }}=%v)(objectclass={{ lc_ldap_user_object_class }}))"
      adminFilter: (employeeType=admin)
      emailAttribute: mail
      bindDn: "{{ lc_bind_admin_user }}"
      bindPassword: '{{ lc_bind_admin_password }}'
      usernameAttribute: "{{ lc_ldap_user_display_name_attr }}"
      synchronize-users: 
memcached:
  enabled: true
  securityContext:
    enabled: false
postgresql:
  enabled: true
  volumePermissions:
    securityContext:
      runAsUser: auto
  securityContext:
    enabled: false
  shmVolume:
    chmod:
      enabled: false
  containerSecurityContext:
    enabled: false
  livenessProbe:
    initialDelaySeconds: 180
  persistence:
    storageClass: "{{ gitea_storage_class_name }}"

