{
   "addon_type": "{{ cp4d_dmc_addon_type }}",
   "addon_version": "{{ _dmc_version.stdout }}",
   "display_name": "{{ _dmc_instance.name }}",
   "description": "{{ _dmc_instance.description | default('IBM Db2 Data Management Console') }}",
   "namespace": "{{ current_cp4d_cluster.project }}",
   "parameters": {
      "storageClass": "{{ ocp_storage_class_file }}",
      "storageSize": "{{ _dmc_instance.storage_size_gb | default('10') }}Gi"
   },
   "create_arguments": {
      "metadata": {
         "storageClass": "{{ ocp_storage_class_file }}",
         "storageSize": "{{ _dmc_instance.storage_size_gb | default('10') }}Gi",
         "scaleConfig": "{{ _dmc_instance.size | default('medium') }}"
      }
   },
   "pre_existing_owner": false
}