# case 3.5.1 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-process-mining
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-automation-processminings
  namespace: "{{ pm_project_name }}"
spec:
  displayName: IBM ProcessMining Operators
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/processmining-operator-catalog@sha256:9908206159baf0ad4c4cf733aa0321344762b1af436633b53dd929c8b9aa7d70
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.6.11 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cloud-databases-redis
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cloud-databases-redis-operator-catalog
  namespace: "{{ pm_project_name }}"
spec:
  displayName: ibm-cloud-databases-redis-operator-catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cloud-databases-redis-catalog@sha256:dbdafdc70600a84099bd11df76b7a6728cbada513a1e06fefbc08f38406e3636
  updateStrategy:
    registryPoll:
      interval: 45m
---
#  case 5.6.1 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-db2uoperator
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-db2uoperator-catalog
  namespace: "{{ pm_project_name }}"
spec:
  displayName: IBM Db2U Catalog
  image: icr.io/cpopen/ibm-db2uoperator-catalog@sha256:278fa6bbaa834faa4a0ec522cd85a301a088e610d8f5a74d7981f172d30cd5d4
  imagePullPolicy: Always
  publisher: IBM
  sourceType: grpc
  updateStrategy:
    registryPoll:
      interval: 45m
---
#  case 4.30.0+20241023.165233.2074 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cloud-native-postgresql
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: cloud-native-postgresql-catalog
  namespace: "{{ cp4ba_project_name }}"
  annotations:
    bedrock_catalogsource_priority: '1'
spec:
  displayName: Cloud Native Postgresql Catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cpd-cloud-native-postgresql-operator-catalog@sha256:3b867e7e0879ec24b5058e5db01c0a9be8d9d8d5ef2b7bb1bb7e247babb8b96d
  updateStrategy:
    registryPoll:
      interval: 45m
  priority: 100
