# case 2.1.0 / csv 2.1.0 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-process-mining
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-automation-processminings
  namespace: openshift-marketplace
spec:
  displayName: IBM ProcessMining Operators
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/processmining-operator-catalog@sha256:d5db78727fbcd2d6785871358c82d116ef54e21940dc8975ce3d58486dc274e7
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.6.6 / csv 1.6.6 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cloud-databases-redis
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cloud-databases-redis-operator-catalog
  namespace: openshift-marketplace
spec:
  displayName: ibm-cloud-databases-redis-operator-catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cloud-databases-redis-catalog@sha256:fddf96636005a9c276aec061a3b514036ce6d79bd91fd7e242126b2f52394a78
  updateStrategy:
    registryPoll:
      interval: 45m
---
#  case 4.0.9 / csv 1.1.11 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-db2uoperator
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-db2uoperator-catalog
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  image: icr.io/cpopen/ibm-db2uoperator-catalog@sha256:99f725098b801474ff77e880ca235023452116e4b005e49de613496a1917f719
  displayName: IBM Db2U Catalog
  publisher: IBM
  updateStrategy:
    registryPoll:
      interval: 45m
