# case 4.0.0 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-process-mining
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-automation-processminings
  namespace: "{{ pm_project_name }}"
spec:
  displayName: IBM ProcessMining Operators
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/processmining-operator-catalog@sha256:f2573531bc4cdec6fe3c7d212f27b01b64fb2bf845e30649bbdc156039ffbeda
  updateStrategy:
    registryPoll:
      interval: 45m
---
# case 1.6.11 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-cloud-databases-redis
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-cloud-databases-redis-operator-catalog
  namespace: "{{ pm_project_name }}"
spec:
  displayName: ibm-cloud-databases-redis-operator-catalog
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-cloud-databases-redis-catalog@sha256:dbdafdc70600a84099bd11df76b7a6728cbada513a1e06fefbc08f38406e3636
  updateStrategy:
    registryPoll:
      interval: 45m
---
#  case 5.6.5 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-db2uoperator
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-db2uoperator-catalog
  namespace: "{{ pm_project_name }}"
spec:
  displayName: IBM Db2U Catalog
  image: icr.io/cpopen/ibm-db2uoperator-catalog@sha256:b624ae374a0d04eff69a7fd8a1d242dcd18b6fe8e20b8871b372902452a31f5b
  imagePullPolicy: Always
  publisher: IBM
  sourceType: grpc
  updateStrategy:
    registryPoll:
      interval: 45m
