kind: ConfigMap
apiVersion: v1
metadata:
  name: ibm-licensing-bindinfo-ibm-licensing-upload-config
  namespace: "{{ pm_project_name }}"
data:
  url: >-
    https://ibm-licensing-service-instance.cs-control.svc.cluster.local:8080