apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ pm_project_name }}-pm-postdeploy"
  namespace: "{{ pm_output_namespace }}"
data:
  postdeploy.md: |- 
    {{ lookup('file', pm_output_directory+'/postdeploy.md') | indent(4) }}
