# PM post-deploy

The following list specifies when you need to perform particular post-deployment steps
- [Task Mining Client](#task-mining-client) - When you want to use Task Mining feature.

## Task Mining Client

Based on https://www.ibm.com/docs/en/process-mining/latest?topic=installation-process-mining-packages
Based on https://www.ibm.com/docs/en/process-mining/latest?topic=optional-installing-task-mining-agent

You need to download and install Process Mining Client installer from PPA or Fix Central for corresponding version and OS (e.g. M0JJ0ML	Process Mining 1.15.0 Client Windows Multilingual).

Task mining endpoint: https://cpd-{{ pm_project_name }}.{{ apps_endpoint_domain }}/processmining/  
