apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: process-mining-egress-allow-all
  namespace: "{{ pm_project_name }}"
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: processmining
  egress:
    - {}
  policyTypes:
    - Egress
