apiVersion: v1
kind: Secret
metadata:
  name: pm-dbs
  namespace: "{{ pm_project_name }}"
type: Opaque
stringData:
  tmDbPassword: "{{ pm_universal_password }}"
  pmDbPassword: "{{ pm_universal_password }}"
---
# Based on https://www.ibm.com/docs/en/cloud-paks/1.0?topic=platform-ssl-certificates
kind: Secret
apiVersion: v1
metadata:
  name: pm-tls-secret
  namespace: "{{ pm_project_name }}"
data:
  tls.key: "{{ tls_key }}"
  tls.crt: "{{ tls_crt }}"
  ca.crt: "{{ ca_crt }}"
type: Opaque
