apiVersion: v1
kind: Secret
metadata:
  name: pm-dbs
  namespace: "{{ pm_project_name }}"
type: Opaque
stringData:
  db2Password: "{{ pm_universal_password }}"
  mongodbPassword: "{{ pm_universal_password }}"
---
# Based on https://www.ibm.com/docs/en/cloud-paks/1.0?topic=platform-ssl-certificates
kind: Secret
apiVersion: v1
metadata:
  name: pm-tls-secret
  namespace: "{{ pm_project_name }}"
data:
  tls.key: "{{ _tls_key }}"
  tls.crt: "{{ _tls_crt }}"
  ca.crt: "{{ _ca_tls_crt }}"
type: Opaque
