apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: processmining-subscription
  namespace: "{{ pm_project_name }}"
spec:
  channel: "{{ pm_operator_channel }}"
  name: ibm-automation-processmining
  source: ibm-automation-processminings
  sourceNamespace: "{{ pm_project_name }}"