apiVersion: integration.ibm.com/v1beta1
kind: AssetRepository
metadata:
  name: assets
  namespace: "{{ asset_repo_project_name }}"
spec:
  license:
    accept: true
    license: L-RJON-CD3JKX
  version: "{{ asset_repo_version }}"
  replicas: 1
  storage:
    assetDataVolume:
      class: "{{ asset_repo_storage_class_name }}"
    couchVolume:
      class: "{{ asset_repo_storage_class_name }}"
