# case 1.5.4 / csv 1.5.4 / https://github.com/IBM/cloud-pak/tree/master/repo/case/ibm-integration-asset-repository
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-integration-asset-repository-catalog
  namespace: openshift-marketplace
spec:
  displayName: IBM CP4I Asset Repository
  publisher: IBM
  sourceType: grpc
  image: icr.io/cpopen/ibm-integration-asset-repository-catalog@sha256:89cd0b2bfc66241cfaf542de906982434c23d1c6391db72fc6ef99d851568abe
  updateStrategy:
    registryPoll:
      interval: 45m
