apiVersion: core.automation.ibm.com/v1beta1
kind: AutomationUIConfig
metadata:
  name: iaf-system
  namespace: "{{ cp4ba_project_name }}"
spec:
  description: automation-ui-config for CP4BA Cartridge
  license:
    accept: true
  zen: true
  version: "{{ cp4ba_automation_ui_config_version }}"
  tls: 
    certificateSecret: 
      secretName: external-tls-secret
    caSecret:
      secretName: external-tls-secret
      key: ca.crt
  zenService:
    iamIntegration: true
    storageClass: "{{ cp4ba_storage_class_name }}"
    zenCoreMetaDbStorageClass: "{{ cp4ba_block_storage_class_name }}"
