apiVersion: base.automation.ibm.com/v1beta1
kind: AutomationBase
metadata:
  name: foundation-iaf
  namespace: "{{ cp4ba_project_name }}"
spec:
  description: IAF CR for Foundation
  version: "{{ cp4ba_automation_base_version }}"
  license:
    accept: true
  tls:
    issuerRef:
      name: iaf-issuer
      kind: Issuer
    caSecret:
      secretName: global-ca
      key: ca.crt
  elasticsearch:
    version: "{{ cp4ba_automation_base_version }}"
    license:
      accept: true
    additionalAllowedAPIs: "GET:[*],PUT:[*],POST:[*],HEAD:[*],DELETE:[*]"
    nodegroupspecs:
      - name: data
        replicas: 1
        storage:
          class: "{{ cp4ba_block_storage_class_name }}"
          size: 50Gi
        template:
          pod:
            spec:
              containers:
                - name: elasticsearch
                  resources:
                    requests:
                      cpu: 500m
                      memory: 820Mi
                    limits:
                      cpu: 800m
                      memory: 2048Mi
                - name: tls-proxy
                  resources:
                    requests:
                      cpu: 100m
                      memory: 512Mi
                    limits:
                      cpu: 200m
                      memory: 512Mi
        config:
          - key: path.repo
            value: '/usr/share/elasticsearch/snapshots/main'
    # Workaround caused by pattern where BAW is installed without BAI and with sc_install_automation_base true, 
    # which then causes merge of CP4BA operator managed AutomationBase template with empty tls which results in 
    # Elasticsearch certificate different from the global-ca
{% if current_cp4ba_cluster.patterns.foundation.optional_components.bai == false %}
    tls:
      issuerRef:
        name: iaf-issuer
        kind: Issuer
      caSecret:
        secretName: global-ca
        key: ca.crt
{% endif %}
    snapshotStores:
      - name: main
        storage:
          class: "{{ cp4ba_storage_class_name }}"
          size: 10Gi
  kafka:
    kafka:
      config:
        offsets.topic.replication.factor: 1
        transaction.state.log.min.isr: 1
        transaction.state.log.replication.factor: 1    
      replicas: 1
      resources:
        requests:
          cpu: 1000m
          memory: 1024Mi
        limits:
          cpu: 1000m
          memory: 2048Mi
      storage:
        type: persistent-claim
        size: 4Gi
        class: "{{ cp4ba_block_storage_class_name }}"
    zookeeper:
      replicas: 1
      resources:
        requests:
          cpu: 1000m
          memory: 1024Mi
        limits:
          cpu: 1000m
          memory: 1024Mi
      storage:
        type: persistent-claim
        size: 2Gi
        class: "{{ cp4ba_block_storage_class_name }}"
  apicurio: {}
