kind: Secret
apiVersion: v1
metadata:
  name: global-ca
  namespace: "{{ cp4ba_project_name }}"
data:
  tls.crt: "{{ _ca_tls_crt }}" # PFS expects to find Elastic Search CRT in this secret
  ca.crt: "{{ _ca_tls_crt }}"
type: Opaque
