kind: Secret
apiVersion: v1
metadata:
  name: external-tls-secret
  namespace: "{{ cp4ba_project_name }}"
data:
  cert.key: "{{ _tls_key }}"
  cert.crt: "{{ _tls_crt }}"
  # TODO Validate that the tls.crt is really required, without it, cp4ba-pfs want initialize as it is expecting tls.crt 
  tls.crt: "{{ _tls_crt }}"
  ca.crt: "{{ _ca_tls_crt }}"
type: Opaque
