kind: Secret
apiVersion: v1
metadata:
  name: "{{ lc_principal_admin_user }}"
  namespace: "{{ cp4ba_project_name }}"
stringData:
  password: "{{ universal_password }}"
  sasl.jaas.config: 'org.apache.kafka.common.security.scram.ScramLoginModule required username="{{ lc_principal_admin_user }}" password="{{ universal_password }}";'
type: Opaque
