apiVersion: v1
kind: Secret
metadata:
  name: opensearch-tls-secret-route
  namespace: "{{ cp4ba_project_name }}"
data:
  tls.key: "{{tls_key}}"
  tls.crt: "{{tls_crt}}"
  ca.crt: "{{ca_crt}}"
type: kubernetes.io/tls