kind: Secret
apiVersion: v1
metadata:
  name: opensearch-admin-user
  namespace: "{{ cp4ba_project_name }}"
  labels:
    app.kubernetes.io/created-by: ibm-opensearch-operator
    app.kubernetes.io/instance: single
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: cluster
    app.kubernetes.io/part-of: ibm-opensearch-operator
stringData:
  opensearch-admin: "{{ cp4ba_opensearch_universal_password }}"
type: Opaque
