kind: Secret
apiVersion: v1
metadata:
  name: cpd-route-tls-secret
  namespace: "{{ cp4ba_project_name }}"
data:
  cert.key: "{{ tls_key }}"
  cert.crt: "{{ tls_crt }}"
  ca.crt: "{{ ca_crt }}"
type: Opaque
