apiVersion: ae.cpd.ibm.com/v1
kind: AnalyticsEngine
metadata:
  name: analyticsengine-sample
  namespace: {{ current_cp4d_cluster.project }}
spec:
  license:
    accept: true
    license: Enterprise
  version: {{ current_cp4d_cartridge.version }}
  storage_class: {{ ocp_storage_class_file }}