apiVersion: spectrumcomputing.ibm.com/v1
kind: Wmla-add-on
metadata:
  name: wmla
  namespace: {{ current_cp4d_cluster.project }}
spec:
  version: {{ current_cp4d_cartridge.version }}
  serviceReplicas: {{ current_cp4d_cartridge.replicas }}
  scaleConfig: {{ current_cp4d_cartridge.size }}