apply-scheduler \
    --release={{ _p_current_cp4d_cluster.cp4d_version }} \
    --license_acceptance=true \
    --scheduler_ns={{ scheduling_service_project }} > {{ status_dir }}/log/{{ current_cp4d_cluster.project }}-apply-scheduler.log
