apiVersion: scheduler.spectrumcomputing.ibm.com/v1
kind: Scheduling
metadata:
  labels:
    release: cpd-scheduler
  name: ibm-cpd-scheduler
  namespace: {{ _p_fs_project }}
spec:
  version: {{ _scheduler.version | default(_scheduler.CR_Version) }}
  license:
    accept: true
  registry: cp.icr.io/cp/cpd
  releasename: ibm-cpd-scheduler