########################################################
# Create custom storage classes for Cloud Pak for Data
########################################################

# IBM Cloud Portworx creates a default db2 sc that needs to be deleted to avoid a naming conflict with px-sc.sh
resource "null_resource" "delete_db2_sc_{{generator.attributes.name | replace("-", "_") }}" {
  count = local.enable ? 1 : 0

  depends_on = [ibm_resource_instance.portworx_{{generator.attributes.name | replace("-", "_") }}]
  
  provisioner "local-exec" {
    environment = {
      KUBECONFIG = local.kube_config_path
    }

    interpreter = ["/bin/bash", "-c"]
    command = "kubectl delete sc portworx-db2-sc"
  }
}

# px-sc.sh comes from https://github.ibm.com/PrivateCloud-analytics/portworx-util/blob/px-2.5.5/cpd-portworx/px-2.6.2.0/px-install-4.x/px-sc.sh
resource "null_resource" "px_sc_{{generator.attributes.name | replace("-", "_") }}" {
  count = local.enable ? 1 : 0

  depends_on = [ibm_resource_instance.portworx_{{generator.attributes.name | replace("-", "_") }}, null_resource.delete_db2_sc_{{generator.attributes.name | replace("-", "_") }}]
  
  provisioner "local-exec" {
    environment = {
      KUBECONFIG = local.kube_config_path
    }
    
    interpreter = ["/bin/bash", "-c"]
    command = file("./scripts/px-sc.sh")
  }
}
