#!/bin/bash

#
# This script changes the node settings on every compute node for Cloud Pak for Data
#

NODE_UPDATED=0
NODE_FIX_DIR=/tmp/cloud-pak-node-fix

get_logtime() {
  echo $(date "+%Y-%m-%d %H:%M:%S")
}

log() {
  LOG_TIME=$(get_logtime)
  printf "[${LOG_TIME}] ${1}\n" | tee -a /tmp/cloud-pak-node-fix/cloud-pak-node-fix.log
}

merge_pull_secret() {
  INPUT_FILE=$1
  if [ -e ${INPUT_FILE} ];then
    if [ -e ${NODE_FIX_DIR}/secrets/newdockerconfigjson ];then
      jq -s '.[0] * .[1]' ${INPUT_FILE} ${NODE_FIX_DIR}/secrets/newdockerconfigjson > ${NODE_FIX_DIR}/secrets/mergeddockerconfigjson
      if ! cmp -s ${NODE_FIX_DIR}/secrets/mergeddockerconfigjson ${INPUT_FILE};then
        cp ${NODE_FIX_DIR}/secrets/mergeddockerconfigjson ${INPUT_FILE}
        NODE_UPDATED=1
        log "INFO: Pull secret changed in ${INPUT_FILE}"
      fi
    fi
  fi
}

mkdir -p ${NODE_FIX_DIR}/backup

# If kubelet is active, backup the current config file, in case we need to restore them if the services don't start
if systemctl is-active kubelet -q;then
  cp -r /etc/kubernetes/kubelet.conf ${NODE_FIX_DIR}/backup/kubelet.conf-backup
fi
if systemctl is-active crio -q;then
  cp -r /etc/crio/crio.conf ${NODE_FIX_DIR}/backup/crio.conf-backup
fi

# Set global pull secret for RHEL nodes
merge_pull_secret /.docker/config.json

# Set global pull secret for CoreOS nodes
merge_pull_secret /root/.docker/config.json

# Set global pull secret for CoreOS nodes version 4.15+
merge_pull_secret /var/data/kubelet/config.json

# Prepare for ImageContentSourcePolicy changes
rm -f /tmp/registries.conf
cp /etc/containers/registries.conf /tmp
if [ $(ls -1 ${NODE_FIX_DIR}/config/cloud-pak-icsp*.conf 2>/dev/null | wc -l) -ne 0 ];then
  sed -i '/## ICSP replacement START/,/## ICSP replacement END/d' /tmp/registries.conf
  # Also remove Manta ICSP entry if it exists (supporting existing implementations)
  sed -i '/## ICSP replacement MANTA START/,/## ICSP replacement MANTA END/d' /tmp/registries.conf
  echo '## ICSP replacement START' >> /tmp/registries.conf
fi

# Add ImageContentSourcePolicy for private registries to registries.conf
if [ -e ${NODE_FIX_DIR}/config/cloud-pak-icsp-registries.conf ];then
  cat ${NODE_FIX_DIR}/config/cloud-pak-icsp-registries.conf >> /tmp/registries.conf
fi

# Add ImageContentSourcePolicy for Manta registries to registries.conf
if [ -e ${NODE_FIX_DIR}/config/cloud-pak-icsp-registries-manta.conf ];then
  cat ${NODE_FIX_DIR}/config/cloud-pak-icsp-registries-manta.conf >> /tmp/registries.conf
fi

if [ $(ls -1 ${NODE_FIX_DIR}/config/cloud-pak-icsp*.conf 2>/dev/null | wc -l) -ne 0 ];then
  echo '## ICSP replacement END' >> /tmp/registries.conf
fi

# If changes were made to the registry, make sure the crio/kubelet services are restarted
if ! cmp -s /tmp/registries.conf /etc/containers/registries.conf;then
  cp -r /tmp/registries.conf /etc/containers/registries.conf
  NODE_UPDATED=1
  log "INFO: Registries changes made to /etc/containers/registries.conf"
fi

# Change kubelet.conf to allow Db2 pods to run with unsafe Sysctls
if [ -e ${NODE_FIX_DIR}/cp4d-apply-kubelet-config.sh ];then
  ${NODE_FIX_DIR}/cp4d-apply-kubelet-config.sh
  if ! cmp -s ${NODE_FIX_DIR}/config/cp4d-kubelet.conf /etc/kubernetes/kubelet.conf;then
    cp -r ${NODE_FIX_DIR}/config/cp4d-kubelet.conf /etc/kubernetes/kubelet.conf
    NODE_UPDATED=1
    log "INFO: Kubelet configuration changes made in /etc/kubernetes/kubelet.conf"
  fi
fi

# Change crio.conf to allow more processes in a container
if [ -e ${NODE_FIX_DIR}/cp4d-apply-crio-config.sh ];then
  ${NODE_FIX_DIR}/cp4d-apply-crio-config.sh
  if ! cmp -s ${NODE_FIX_DIR}/config/cp4d-crio.conf /etc/crio/crio.conf;then
    cp -r ${NODE_FIX_DIR}/config/cp4d-crio.conf /etc/crio/crio.conf
    NODE_UPDATED=1
    log "INFO: CRI-O configuration changes made in /etc/crio/crio.conf"
  fi
fi

if [ -e ${NODE_FIX_DIR}/apply-custom-node-settings.sh ];then
  log "INFO: Calling custom node update script ${NODE_FIX_DIR}/apply-custom-node-settings.sh"
  source ${NODE_FIX_DIR}/apply-custom-node-settings.sh >> /tmp/cloud-pak-node-fix.log
  log "INFO: Custom script updated node settings (0=no, 1=yes): $NODE_UDPATED"
fi

if [ $NODE_UPDATED -eq 1 ];then
  log "INFO: Restarting kubelet daemon"
  systemctl restart kubelet | tee -a /tmp/cloud-pak-node-fix.log
  log "INFO: Restarting crio daemon"
  systemctl restart crio | tee -a /tmp/cloud-pak-node-fix.log
  log "INFO: Waiting for 30 seconds"
  sleep 30
fi

if ! systemctl is-active kubelet -q;then
  log "ERROR: Error with kubelet daemon, recovering backup configuration file and restarting"
  cp -r ${NODE_FIX_DIR}/backup/kubelet.conf-backup /etc/kubernetes/kubelet.conf 
  systemctl restart kubelet | tee -a /tmp/cloud-pak-node-fix.log
fi

if ! systemctl is-active crio -q;then
  log "ERROR: Error with crio daemon, recovering backup configuration file and restarting"
  cp -r ${NODE_FIX_DIR}/backup/crio.conf-backup /etc/crio/crio.conf
  systemctl restart crio | tee -a /tmp/cloud-pak-node-fix.log
fi

log "INFO: Finished checking node cloud-pak node settings"