---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: cloud-pak-crontab-ds
  namespace: kube-system
  labels:
    tier: management
    app: cloud-pak-crontab-ds
spec:
  selector:
    matchLabels:
      name: cloud-pak-crontab-ds
  template:
    metadata:
      labels:
        name: cloud-pak-crontab-ds
    spec:
      serviceAccountName: cloud-pak-crontab-sa
      hostNetwork: true
      hostPID: true
      hostIPC: true
      containers:
        - name: sleepforever
          resources:
            requests:
              cpu: 0.01
          securityContext:
            privileged: true
            runAsUser: 0
          image: {{ cpd_ds_image | default('icr.io/cpopen/cpd/olm-utils-v3:latest') }}
          command: ["/bin/sh", "-c"]
          args:
            - >
              date ;
              /usr/bin/rm -rf /ext-cloud-pak-node-fix/* ;
              /usr/bin/cp -rL /cloud-pak-node-fix/* /ext-cloud-pak-node-fix/ ;
              chmod +x /ext-cloud-pak-node-fix/*.sh ;
              chroot /host /tmp/cloud-pak-node-fix/cloud-pak-node-fix-timer.sh ;
              while true; do
                sleep 100000;
              done
          volumeMounts:
            - name: node-settings-scripts
              mountPath: /cloud-pak-node-fix
            - name: node-settings-config
              mountPath: /cloud-pak-node-fix/config
            - name: node-settings-secrets
              mountPath: /cloud-pak-node-fix/secrets
            - name: modifycpnodefix
              mountPath: /ext-cloud-pak-node-fix
            - name: modifyvar
              mountPath: /ext-var
            - mountPath: /host
              name: host
      volumes:
        - name: node-settings-scripts
          configMap:
            name: cloud-pak-node-fix-scripts
        - name: node-settings-config
          configMap:
            name: cloud-pak-node-fix-config
        - name: node-settings-secrets
          secret:
            secretName: cloud-pak-node-fix-secrets
        - name: modifycpnodefix
          hostPath:
            path: /tmp/cloud-pak-node-fix
        - name: modifyvar
          hostPath:
            path: /var
        - hostPath:
            path: /
            type: Directory
          name: host