apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    app.kubernetes.io/instance: ibm-mdm-operator-subscription
    app.kubernetes.io/managed-by: ibm-mdm-operator
    app.kubernetes.io/name: ibm-mdm-operator-subscription
  name: ibm-mdm-operator-subscription
  namespace: {{ foundational_services_project }}
spec:
  channel: {{ current_cp4d_cartridge.subscription_channel }}
  name: ibm-mdm
  installPlanApproval: Automatic
  source: ibm-operator-catalog
  sourceNamespace: openshift-marketplace  