apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    app.kubernetes.io/instance: ibm-watson-openscale-operator-subscription
    app.kubernetes.io/managed-by: ibm-watson-openscale-operator
    app.kubernetes.io/name: ibm-watson-openscale-operator-subscription
  name: ibm-watson-openscale-operator-subscription
  namespace: {{ foundational_services_project }}
spec:
  channel: {{ current_cp4d_cartridge.subscription_channel }}
  installPlanApproval: Automatic
  name: ibm-cpd-wos
{% if not (_use_case_files | bool) %}
  source: ibm-operator-catalog
  sourceNamespace: openshift-marketplace
{% else %}
  source: ibm-openscale-operator-catalog
  sourceNamespace: openshift-marketplace
{% endif %}