spec:
  application_engine_configuration:
    - name: workspace
      admin_user: "{{ lc_principal_admin_user }}"
      database:
        host: "{{ cp4ba_postgresql_hostname }}"
        name: aaedb
        port: "5432"
        type: postgresql
      data_persistence:
        enable: "{{ current_cp4ba_cluster.cp4ba.patterns.application.enabled and current_cp4ba_cluster.cp4ba.patterns.application.optional_components.ae_data_persistence | default(false) }}"
        object_store_name: AEOS
      env:
        server_env_type: development
      # TODO delete when default fixed - last seen in 23.0.1.2
      admin_secret_name: {{ cp4ba_cr_meta_name }}-workspace-aae-app-engine-admin-secret
