spec:
  application_engine_configuration:
    - name: instance1
      admin_secret_name: cp4ba-instance1-aae-app-engine-admin-secret
      admin_user: "{{ lc_principal_admin_user }}"
      autoscaling:
        enabled: false
      database:
        host: "{{ cp4ba_postgresql_hostname }}"      
        name: aae
        port: "5432"
        type: postgresql
      data_persistence:
        enable: "{{ aae_data_persistence | default(false) }}"
        object_store_name: AEOS
