kind: ConfigMap
apiVersion: v1
metadata:
  name: phpldapadmin
  namespace: "{{ phpldapadmin_project_name }}"
  labels:
    app: phpldapadmin
data:
  LDAP_USERNAME: '{{ lc_bind_admin_user }}'
  LDAP_HOST: '{{ phpldapadmin_openldap_hostname }}'
