kind: ConfigMap
apiVersion: v1
metadata:
  name: phpldapadmin
  namespace: "{{ phpldapadmin_project_name }}"
  labels:
    app: phpldapadmin
data:
  PHPLDAPADMIN_HTTPS: 'false'
  PHPLDAPADMIN_LDAP_CLIENT_TLS_REQCERT: never
  PHPLDAPADMIN_LDAP_HOSTS: >-
    #PYTHON2BASH:[{ '{{ phpldapadmin_openldap_hostname }}': [{'server':
    [{'tls': False},{'port':389}]},{'login': [{'bind_id':
    '{{ lc_bind_admin_user }}'  }]}]}]
  PHPLDAPADMIN_TRUST_PROXY_SSL: 'true'
