kind: ConfigMap
apiVersion: v1
metadata:
  name: phpldapadmin-env
  namespace: "{{ phpldapadmin_project_name }}"
  labels:
    app: phpldapadmin
data:
  LDAP_USERNAME: '{{ lc_bind_admin_user }}'
  LDAP_HOST: '{{ phpldapadmin_openldap_hostname }}'
  LDAP_LOGIN_OBJECTCLASS: '{{ lc_ldap_user_object_class }}'
  LDAP_BASE_DN: '{{ lc_ldap_base_dn }}'
