kind: Secret
apiVersion: v1
metadata:
  name: phpldapadmin-password
  namespace: "{{ phpldapadmin_project_name }}"
  labels:
    app: phpldapadmin
stringData:
  LDAP_PASSWORD: '{{ phpldapadmin_universal_password }}'
