apiVersion: v1
kind: Secret
metadata:
  name: icp-mongodb-admin
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  user: "{{ lc_principal_admin_user }}"
  password: "{{ cp4ba_universal_password }}"
