.infra-title {
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 15px;
}

.infra-items {
    font-size: 1.5rem;
    padding-top: 30px;
    padding-bottom: 15px;
}

.bx--text-input {
    width: 50%;
}