{
   "datasource_type":"{{cp4d_datasource_type_asset_id[0] }}",
   "description":"",
   "name":"{{ cp4d_database_name }}",
   "origin_country": "us",
   "properties":{
      "database":"{{ cp4d_database_database }}",
      "port":"{{ cp4d_database_port }}",
      "host":"{{ cp4d_database_hostname }}",
      "username":"{{ cp4d_database_credentials_username }}",
      "password":"{{ cp4d_database_credentials_password }}",
      "inherit_access_token":"{{ cp4d_database_inherit_access_token|lower }}",
{% if not ( cp4d_database_ssl_certificate == "") %}
      "ssl_certificate":"{{ cp4d_database_ssl_certificate_line_breaks }}",
{% endif %}
      "ssl":"{{ cp4d_database_port_ssl|lower }}",
      "username_password_security":	"default",
      "username_password_encryption": "default"
   }
}
