kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: opensearch-data
  namespace: "{{ opensearch_project_name }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: "{{ opensearch_storage_class_name }}"
  volumeMode: Filesystem