kind: Secret
apiVersion: v1
metadata:
  name: opensearch-admin-user
  namespace: "{{ opensearch_project_name }}"
stringData:
  opensearch-admin: "{{ opensearch_universal_password }}"
---
kind: Secret
apiVersion: v1
metadata:
  name: opensearch-tls
  namespace: "{{ opensearch_project_name }}"
type: kubernetes.io/tls
data:
  tls.key: "{{ _opensearch_tls_key }}"
  tls.crt: "{{ _opensearch_tls_crt }}"
  ca.crt: "{{ _opensearch_ca_crt }}"