apiVersion: v1
kind: Secret
metadata:
  name: opensearch-admin-password
  namespace: "{{ opensearch_project_name }}"
type: Opaque
stringData:
  password: "{{ opensearch_universal_password }}"
---
kind: Secret
apiVersion: v1
metadata:
  name: opensearch-certs
  namespace: "{{ opensearch_project_name }}"
type: kubernetes.io/tls
data:
  tls.key: "{{ _opensearch_tls_key }}"
  tls.crt: "{{ _opensearch_tls_crt }}"
  ca.crt: "{{ _opensearch_ca_crt }}"