kind: Service
apiVersion: v1
metadata:
  name: opensearch
  namespace: "{{ opensearch_project_name }}"
  labels:
    app: opensearch
spec:
  ports:
    - name: http
      protocol: TCP
      port: 9200
      targetPort: http
    - name: transport
      protocol: TCP
      port: 9300
      targetPort: transport
  selector:
    app: opensearch
  type: ClusterIP