{
    "auths": {
        "{{ _v_entitled_registry }}": {
            "auth": "{{ _p_entitled_reg_auth | b64encode }}"
        }
        ,
        "{{ _p_private_reg_url }}": {
            "auth": "{{ _p_private_reg_auth | b64encode }}"
        }  
    }
}