{
    "name": "{{ _cp4d_audit_config.project }}-audit",
    "inputRefs": [
            "{{ _cp4d_audit_config.project }}-audit"
    ],
    "outputRefs": [
            "{{ _current_audit_output.logging_name }}"
    ]
{% if _openshift_logging_output.type == 'loki' %}
        ,
    "loki": {"tenantKey": "kubernetes.namespace_name"}
{% endif %}
{% if _current_audit_output.labels is defined %}
        ,
    "labels": {
{% for _label in (_current_audit_output.labels | dict2items) %}
            "{{ _label.key }}": "{{ _label.value }}"{% if not loop.last %},{% endif %}
{% endfor %}
    }
{% endif %}
}