{
    "name": "{{ _cp4d_audit_config.project }}-audit",
    "application": {
        "selector": {
            "matchLabels": {
                "component": "zen-audit"
            }
        },
        "namespaces": [
            "{{ _cp4d_audit_config.project }}"
        ]
    }
}