kind: ConfigMap
apiVersion: v1
metadata:
  name: mail-config
  namespace: "{{ mail_project_name }}"
  labels:
    app: mail
data:
  postfix-accounts.cf: |
    {{ lc_principal_admin_user }}@{{ lc_ldap_domain }}|{PLAIN}{{mail_universal_password}}
    cpmanager1@{{ lc_ldap_domain }}|{PLAIN}{{mail_universal_password}}
    cpmanager2@{{ lc_ldap_domain }}|{PLAIN}{{mail_universal_password}}
    cpuser@{{ lc_ldap_domain }}|{PLAIN}{{mail_universal_password}}
    cpuser1@{{ lc_ldap_domain }}|{PLAIN}{{mail_universal_password}}
    cpuser2@{{ lc_ldap_domain }}|{PLAIN}{{mail_universal_password}}

  postfix-virtual.cf: |
    cpuser@{{ lc_ldap_domain }} cpuser@{{ lc_ldap_domain }}
    cpuser@cp.internal.com cpuser@{{ lc_ldap_domain }}
    cpuser1@{{ lc_ldap_domain }} cpuser1@{{ lc_ldap_domain }}
    cpuser1@cp.internal.com cpuser1@{{ lc_ldap_domain }}
    cpuser2@{{ lc_ldap_domain }} cpuser2@{{ lc_ldap_domain }}
    cpuser2@cp.internal.com cpuser2@{{ lc_ldap_domain }}
    cpmanager1@{{ lc_ldap_domain }} cpmanager1@{{ lc_ldap_domain }}
    cpmanager1@cp.internal.com cpmanager1@{{ lc_ldap_domain }}
    cpmanager2@{{ lc_ldap_domain }} cpmanager2@{{ lc_ldap_domain }}
    cpmanager2@cp.internal.com cpmanager2@{{ lc_ldap_domain }}
    @{{ lc_ldap_domain }} {{ lc_principal_admin_user }}@{{ lc_ldap_domain }}
    @cp.internal.com {{ lc_principal_admin_user }}@{{ lc_ldap_domain }}

  postfix-main.cf: |
    smtpd_recipient_restrictions = permit_sasl_authenticated,permit_mynetworks
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: mail-env-config
  namespace: "{{ mail_project_name }}"
  labels:
    app: mail
data:
  # Cannot be set to cp.internal, otherwise postfix is eating mails, some details at https://github.com/docker-mailserver/docker-mailserver/issues/968
  OVERRIDE_HOSTNAME: relay.local
  ENABLE_FETCHMAIL: "0"
  ENABLE_SPAMASSASSIN: "0"
  ENABLE_CLAMAV: "0"
  ENABLE_FAIL2BAN: "0"
  ENABLE_POSTGREY: "0"
  ENABLE_AMAVIS: "0"
  ENABLE_SRS: "0"
  ENABLE_QUOTAS: "0"
  ENABLE_UPDATE_CHECK: "0"
  ENABLE_SASLAUTHD: "0"
  ONE_DIR: "1"
  DMS_DEBUG: "0"
  SSL_TYPE: "manual"
  SSL_CERT_PATH: "/tmp/ssl/tls.crt"
  SSL_KEY_PATH: "/tmp/ssl/tls.key"