apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mail-storage
  namespace: mail
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: "{{mail_storage_class_name}}"
  resources:
    requests:
      storage: 5Gi
