kind: Service
apiVersion: v1
metadata:
  name: mail
  namespace: "{{ mail_project_name }}"
  labels:
    app: mail
spec:
  selector:
    app: mail
  type: NodePort
  ports:
    - name: smtp
      port: 25
      targetPort: smtp
      nodePort: 30062
    - name: imap
      port: 143
      targetPort: imap
      nodePort: 30063  
    - name: smtp-secure
      port: 465
      targetPort: smtp-secure
      nodePort: 30064
    - name: smtp-auth
      port: 587
      targetPort: smtp-auth
      nodePort: 30065
    - name: imap-secure
      port: 993
      targetPort: imap-secure
      nodePort: 30066
