kind: Service
apiVersion: v1
metadata:
  name: mail
  namespace: "{{ mail_project_name }}"
  labels:
    app: mail
spec:
  selector:
    app: mail
  ports:
    - name: smtp
      port: 25
      targetPort: smtp
    - name: smtp-secure
      port: 465
      targetPort: smtp-secure
    - name: smtp-auth
      port: 587
      targetPort: smtp-auth
    - name: imap
      port: 143
      targetPort: imap
    - name: imap-secure
      port: 993
      targetPort: imap-secure
