{% for item in ibmcloud_oc_cluster_result.stdout_lines %}
{% if item.startswith('Name:') or item.startswith('ID') or item.startswith('Public Service Endpoint URL:') or item.startswith('Private Service Endpoint URL:') or item.startswith('URL:') %}
{{ item }}
{% endif %}
{% endfor %}