
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kafka-logs
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: {{ WAIOPS_STORAGE_CLASS_LARGE_BLOCK }}
  volumeMode: Filesystem
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kafka-data
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: {{ WAIOPS_STORAGE_CLASS_LARGE_BLOCK }}
  volumeMode: Filesystem
