apiVersion: operator.ibm.com/v1
kind: IBMServiceMeterDefinition
metadata:
  name: cp4ba-adp-metrics
  namespace: "{{ cp4ba_project_name }}"
spec:
  mappingId: adpdeployment000000000000001
  processing: LAST
  repeat: true
  breakdownDefs:
    - breakdownBy:
        name: INSTANCE_COUNT
      groupBy:
        - version
        - environment
        - architecture
        - platform
        - NUM_OF_DOCUMENTS_PROCESSED
        - NUM_OF_PAGES_PROCESSED
      source: metricQuantity
      processing: LAST
  data:
    productId: 3e9cca2be0014be0921bd638e9fc5fd1
    productName: Automation Document Processing Containers
    metricName: INSTANCE_COUNT
    metricDescription: count of ADP instances
    metricType: ADOPTION
---
apiVersion: operator.ibm.com/v1
kind: IBMServiceMeterDefinition
metadata:
  name: cp4ba-dicms-metrics-prod
  namespace: "{{ cp4ba_project_name }}"
spec:
  mappingId: adsdeployment000000000000001
  processing: ADD
  breakdownDefs:
    - breakdownBy:
        name: MONTHLY_API_CALL
      groupBy:
        - version
        - environment
        - architecture
        - platform
      source: metricQuantity
      processing: ADD
  data:
    productId: 3f1d7caa69374823813c79d48dce6a1f
    productName: Decision Intelligence Client Managed Software
    metricName: MONTHLY_API_CALL
    metricDescription: count of decision execution in DI CMS
    metricType: ADOPTION
---
apiVersion: operator.ibm.com/v1
kind: IBMServiceMeterDefinition
metadata:
  name: cp4ba-workflow-metrics
  namespace: "{{ cp4ba_project_name }}"
spec:
  mappingId: awsdeployment0000000001
  processing: LAST
  repeat: true
  breakdownDefs:
    - breakdownBy:
        name: INSTANCE_COUNT
      groupBy:
        - version
        - environment
        - architecture
        - platform
      source: metricQuantity
      processing: LAST
  data:
    productId: 902d248ea6234a2a81d3c774a755f2ea
    productName: Automation Workstream Services
    metricName: INSTANCE_COUNT
    metricDescription: count of Automation Workflow instances
    metricType: ADOPTION
---
apiVersion: operator.ibm.com/v1
kind: IBMServiceMeterDefinition
metadata:
  name: cp4ba-baa-metrics
  namespace: "{{ cp4ba_project_name }}"
spec:
  mappingId: baadeployment000000000000001
  processing: LAST
  repeat: true
  breakdownDefs:
    - breakdownBy:
        name: INSTANCE_COUNT
      groupBy:
        - version
        - environment
        - architecture
        - platform
      source: metricQuantity
      processing: LAST
  data:
    productId: 20b0c693f93b42c6917cd7ae46d97462
    productName: Business Automation Application
    metricName: INSTANCE_COUNT
    metricDescription: count of BAA instances
    metricType: ADOPTION
---
apiVersion: operator.ibm.com/v1
kind: IBMServiceMeterDefinition
metadata:
  name: cp4ba-bai-metrics
  namespace: "{{ cp4ba_project_name }}"
spec:
  mappingId: baideployment0000000000000001
  processing: LAST
  repeat: true
  breakdownDefs:
    - breakdownBy:
        name: INSTANCE_COUNT
      groupBy:
        - version
        - environment
        - architecture
        - platform
        - TOTAL_NUMBER_OF_DOCUMENTS
        - GLOBAL_STORAGE_SIZE_MB
        - AVG_DOCUMENT_SIZE_BYTES
        - TOTAL_NUMBER_OF_MONITORING_SOURCES
        - NUMBER_OF_DASHBOARDS
        - NUMBER_OF_ALERTS
        - NUMBER_OF_GOALS
        - NUMBER_OF_CHARTS
        - NUMBER_OF_PREDICTIONS
        - NUMBER_OF_DOCUMENTS_BPMN_TIMESERIES
        - NUMBER_OF_DOCUMENTS_ODM_TIMESERIES
        - NUMBER_OF_DOCUMENTS_CASE_TIMESERIES
        - NUMBER_OF_DOCUMENTS_CONTENT_TIMESERIES
        - NUMBER_OF_DOCUMENTS_NAVIGATOR_TIMESERIES
        - NUMBER_OF_DOCUMENTS_DI_TIMESERIES
        - NUMBER_OF_DOCUMENTS_BPMN_SUMMARIES
        - NUMBER_OF_DOCUMENTS_CASE_SUMMARIES
        - NUMBER_OF_DOCUMENTS_BPEL_SUMMARIES
      source: metricQuantity
      processing: LAST
  data:
    productId: cf2f2b926ff14ce38aa3014637581037
    productName: Business Automation Insights
    metricName: INSTANCE_COUNT
    metricDescription: count of BAI instances
    metricType: ADOPTION
---
apiVersion: operator.ibm.com/v1
kind: IBMServiceMeterDefinition
metadata:
  name: cp4ba-workflow-metrics
  namespace: "{{ cp4ba_project_name }}"
spec:
  mappingId: cp4babasdeployment0000000001
  processing: LAST
  repeat: true
  breakdownDefs:
    - breakdownBy:
        name: INSTANCE_COUNT
      groupBy:
        - version
        - environment
        - architecture
        - platform
      source: metricQuantity
      processing: LAST
  data:
    productId: 548b34304806411693fe77097b688702
    productName: Business Automation Studio
    metricName: INSTANCE_COUNT
    metricDescription: count of BAStudio instances
    metricType: ADOPTION
---
apiVersion: operator.ibm.com/v1
kind: IBMServiceMeterDefinition
metadata:
  name: cp4ba-ban-metrics
  namespace: "{{ cp4ba_project_name }}"
spec:
  mappingId: bandeployment000000000001
  processing: LAST
  repeat: true
  breakdownDefs:
    - breakdownBy:
        name: INSTANCE_COUNT
      groupBy:
        - version
        - environment
        - architecture
        - platform
      source: metricQuantity
      processing: LAST
  data:
    productId: 0f002233b583454d8a0bd72c665a01a3
    productName: Business Automation Navigator
    metricName: INSTANCE_COUNT
    metricDescription: count of BA Navigator instances
    metricType: ADOPTION
---
apiVersion: operator.ibm.com/v1
kind: IBMServiceMeterDefinition
metadata:
  name: cp4ba-cmis-metrics
  namespace: "{{ cp4ba_project_name }}"
spec:
  mappingId: cmisdeployment000000000001
  processing: LAST
  repeat: true
  breakdownDefs:
    - breakdownBy:
        name: INSTANCE_COUNT
      groupBy:
        - componentId
        - componentName
        - version
        - environment
        - architecture
        - platform
        - cmis_inbound
        - cmis_document_upload
        - cmis_document_read
      source: metricQuantity
      processing: LAST
  data:
    componentId: 3191c7cdc4c8413dafaaad1f180e4ce8
    componentName: IBM ECM CMIS
    productId: e270b00ce6d7486db1e31fc5fd09fffc
    productName: IBM Content Cortex Essentials Containers
    metricName: INSTANCE_COUNT
    metricDescription: count of CMIS instances
    metricType: ADOPTION
---
apiVersion: operator.ibm.com/v1
kind: IBMServiceMeterDefinition
metadata:
  name: cp4ba-cpe-metrics
  namespace: "{{ cp4ba_project_name }}"
spec:
  mappingId: cpedeployment000000000001
  processing: LAST
  repeat: true
  breakdownDefs:
    - breakdownBy:
        name: INSTANCE_COUNT
      groupBy:
        - componentId
        - componentName
        - version
        - environment
        - architecture
        - platform
        - java_rpc_calls
        - dot_net_rpc_calls
        - css_objects_indexed
        - es_os_objects_created
        - db2_db_count
        - oracle_db_count
        - mssql_db_count
        - postgresql_db_count
        - asa_write_bytes
        - fcd_fcps_in_use
        - document_creates
        - propertytemplate_creates
        - choicelist_creates
        - folder_creates
        - sweep_creates
      source: metricQuantity
      processing: LAST
  data:
    componentId: 7ab1213e53cf4260a247c75f16c2569d
    componentName: IBM Content Platform Engine
    productId: e270b00ce6d7486db1e31fc5fd09fffc
    productName: IBM Content Cortex Essentials Containers
    metricName: INSTANCE_COUNT
    metricDescription: count of CPE instances
    metricType: ADOPTION
---
apiVersion: operator.ibm.com/v1
kind: IBMServiceMeterDefinition
metadata:
  name: cp4ba-graphql-metrics
  namespace: "{{ cp4ba_project_name }}"
spec:
  mappingId: graphqldeployment000000000001
  processing: LAST
  repeat: true
  breakdownDefs:
    - breakdownBy:
        name: INSTANCE_COUNT
      groupBy:
        - componentId
        - componentName
        - version
        - environment
        - architecture
        - platform
        - graphql_calls
      source: metricQuantity
      processing: LAST
  data:
    componentId: ee43abe0ed114b9a9b3412705eb77edc
    componentName: IBM Content Cortex GraphQL API
    productId: e270b00ce6d7486db1e31fc5fd09fffc
    productName: IBM Content Cortex Essentials Containers
    metricName: INSTANCE_COUNT
    metricDescription: count of GraphQL instances
    metricType: ADOPTION
---
apiVersion: operator.ibm.com/v1
kind: IBMServiceMeterDefinition
metadata:
  name: cp4ba-iccsap-metrics
  namespace: "{{ cp4ba_project_name }}"
spec:
  mappingId: iccsapdeployment000000000001
  processing: LAST
  repeat: true
  breakdownDefs:
    - breakdownBy:
        name: INSTANCE_COUNT
      groupBy:
        - version
        - environment
        - architecture
        - platform
      source: metricQuantity
      processing: LAST
  data:
    productId: 91fbd935ea3344b68d7667e8b0b60df3
    productName: Content Collector for SAP Applications Containers
    metricName: INSTANCE_COUNT
    metricDescription: count of ICCSAP instances
    metricType: ADOPTION
---
apiVersion: operator.ibm.com/v1
kind: IBMServiceMeterDefinition
metadata:
  name: cp4ba-ier-metrics
  namespace: "{{ cp4ba_project_name }}"
spec:
  mappingId: cp4baierdeployment0000000000000001
  processing: LAST
  repeat: true
  breakdownDefs:
    - breakdownBy:
        name: INSTANCE_COUNT
      groupBy:
        - version
        - environment
        - architecture
        - platform
      source: metricQuantity
      processing: LAST
  data:
    productId: 7b0caa58999c4a4384619aac20ed8875
    productName: Enterprise Records Containers
    metricName: INSTANCE_COUNT
    metricDescription: count of IER instances
    metricType: ADOPTION
---
apiVersion: operator.ibm.com/v1
kind: IBMServiceMeterDefinition
metadata:
  name: cp4ba-odm-metrics
  namespace: "{{ cp4ba_project_name }}"
spec:
  mappingId: cp4baodmdeployment00000000000001
  processing: LAST
  repeat: true
  breakdownDefs:
    - breakdownBy:
        name: INSTANCE_COUNT
      groupBy:
        - version
        - environment
        - architecture
        - platform
        - dc_pods_count
        - dc_registered_users
        - dc_num_of_artifacts
        - dr_pods_count
        - dsc_pods_count
        - dsr_pods_count
      source: metricQuantity
      processing: LAST
  data:
    productId: cfdbd71c64094971a70b6985df6b1e93
    productName: Operational Decision Manager Containers
    metricName: INSTANCE_COUNT
    metricDescription: Number of ODM instances
    metricType: ADOPTION
---
apiVersion: operator.ibm.com/v1
kind: IBMServiceMeterDefinition
metadata:
  name: cp4ba-metrics
  namespace: "{{ cp4ba_project_name }}"
spec:
  processing: LAST
  data:
    productId: 94a9c8c358bb43ba8fbdea62e7e166a5
    productName: IBM Cloud Pak for Business Automation
    metricName: INSTANCE_COUNT
    metricDescription: count of instances
  sources:
    - productId: e270b00ce6d7486db1e31fc5fd09fffc
      productName: IBM Content Cortex Essentials Containers
    - productId: e3b363dd621c4895a6e00cf3ac852a16
      productName: Business Automation Workflow Containers
    - productId: 548b34304806411693fe77097b688702
      productName: Business Automation Studio
    - productId: 20b0c693f93b42c6917cd7ae46d97462
      productName: Business Automation Application
    - productId: 3f1d7caa69374823813c79d48dce6a1f
      productName: Decision Intelligence Client Managed Software
    - productId: bcf180b9bc864d458800e72951849bfe
      productName: Workflow Process Service
    - productId: cfdbd71c64094971a70b6985df6b1e93
      productName: Operational Decision Manager Containers
    - productId: cf2f2b926ff14ce38aa3014637581037
      productName: Business Automation Insights
    - productId: d3231b33169149f0a5af5d8b782399da
      productName: Workflow Process Service
    - productId: 902d248ea6234a2a81d3c774a755f2ea
      productName: Automation Workstream Services
    - productId: 7501ee9fb6c14fcfae671cd7350bf231
      productName: Automation Workstream Services
    - productId: 91fbd935ea3344b68d7667e8b0b60df3
      productName: Content Collector for SAP Applications Containers
    - productId: 7b0caa58999c4a4384619aac20ed8875
      productName: Enterprise Records Containers
    - productId: 3e9cca2be0014be0921bd638e9fc5fd1
      productName: Automation Document Processing Containers
---
apiVersion: operator.ibm.com/v1
kind: IBMServiceMeterDefinition
metadata:
  name: cp4ba-wfps-metrics
  namespace: "{{ cp4ba_project_name }}"
spec:
  mappingId: wfpsdeployment000000000000001
  processing: LAST
  repeat: true
  breakdownDefs:
    - breakdownBy:
        name: INSTANCE_COUNT
      groupBy:
        - version
        - environment
        - architecture
        - platform
      source: metricQuantity
      processing: LAST
  data:
    productId: bcf180b9bc864d458800e72951849bfe
    productName: Workflow Process Service
    metricType: ADOPTION
---
apiVersion: operator.ibm.com/v1
kind: IBMServiceMeterDefinition
metadata:
  name: cp4ba-workflow-metrics
  namespace: "{{ cp4ba_project_name }}"
spec:
  mappingId: workflowdeployment0000000001
  processing: LAST
  repeat: true
  breakdownDefs:
    - breakdownBy:
        name: INSTANCE_COUNT
      groupBy:
        - version
        - environment
        - architecture
        - platform
      source: metricQuantity
      processing: LAST
  data:
    productId: e3b363dd621c4895a6e00cf3ac852a16
    productName: Business Automation Workflow Containers
    metricType: ADOPTION

