apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-monitoring-config
  namespace: openshift-monitoring
data:
  config.yaml: |
    enableUserWorkload: true
{% if ((_oc_remote_rewrite_url|length > 0) or (_oc_monitoring_persist_sc|length > 0) or (_oc_monitoring_retention_period|length > 0) or (_p_openshift_monitoring.labels is defined))  %}    
    prometheusK8s: 
{% endif %}    
{% if _p_openshift_monitoring.labels is defined %}
      externalLabels:
{% for _label in (_p_openshift_monitoring.labels | dict2items) %}
        {{ _label.key }}: {{ _label.value }}
{% endfor %}       
{% endif %} 
{% if _oc_monitoring_retention_period|length > 0 %}
      retention: {{ _oc_monitoring_retention_period }}
{%- endif %} 
{% if _oc_remote_rewrite_url|length > 0 %}
      remoteWrite:
      - url: {{ _oc_remote_rewrite_url }}
{% endif %}
{% if _oc_monitoring_persist_sc|length > 0 %}
      volumeClaimTemplate:
        spec:
          storageClassName: {{ _oc_monitoring_persist_sc }}
          volumeMode: Filesystem
          resources:
            requests:
              storage: {{ _oc_monitoring_persist_size_gb }}Gi
{%- endif %}
