apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: grafana-operator
  namespace: {{ _p_openshift_monitoring.grafana_project }}
spec:
  targetNamespaces:
  - {{ _p_openshift_monitoring.grafana_project }}