apiVersion: "integreatly.org/v1alpha1"
kind: GrafanaDataSource
metadata:
  name: grafanadatasource
spec:
  datasources:
    - basicAuthUser: grafana-user
      access: proxy
      editable: true
      secureJsonData:
        basicAuthPassword: pAssW0rd
      name: Prometheus
      url: 'https://prometheus-k8s.openshift-monitoring.svc.cluster.local:9091'
      jsonData:
        timeInterval: 5s
        tlsSkipVerify: true
      basicAuth: true
      isDefault: true
      version: 1
      type: prometheus
  name: example-datasources.yaml
