{
    "auths": {
        "{{ _v_entitled_registry }}": {
            "auth": "{{ _entitled_reg_auth | b64encode }}"
        },
        "{{ _private_reg_url }}": {
            "auth": "{{ _private_reg_auth | b64encode }}"
        }  
    }
}