---

apiVersion: integration.ibm.com/v1beta1
kind: PlatformNavigator
metadata:
  name: {{instance_properties.name}}
  labels:
    backup.integration.ibm.com/component: platformnavigator
  namespace: {{current_cp4i_cluster.project}}
spec:
  license:
    accept: {{ _cpd_accept_licenses | default(False) }}
    license: {{instance_properties.license}}
  replicas: 1
  version: {{current_cp4i_cluster.cp4i_version}}
