---
apiVersion: eventstreams.ibm.com/v1beta2
kind: EventStreams
metadata:
  annotations:
    eventstreams.ibm.com/apicurio-registry-version: '>=2.4'
  labels:
    backup.eventstreams.ibm.com/component: eventstreams
  name: {{instance_properties.name}}
  namespace: {{current_cp4i_cluster.project}}
spec:
  adminApi: {}
  adminUI:
    authentication:
      - type: integrationKeycloak
  apicurioRegistry: {}
  collector: {}
  license:
    accept: {{ _cpd_accept_licenses | default(False) }}
    license: {{instance_properties.license}}
    use: CloudPakForIntegrationNonProduction
  restProducer: {}
  strimziOverrides:
    kafka:
      authorization:
        type: simple
      config:
        default.replication.factor: 3
        inter.broker.protocol.version: '3.5'
        log.cleaner.threads: 6
        min.insync.replicas: 2
        num.io.threads: 24
        num.network.threads: 9
        num.replica.fetchers: 3
        offsets.topic.replication.factor: 3
      listeners:
        - name: external
          authentication:
            type: scram-sha-512
          port: 9094
          tls: true
          type: route
        - name: tls
          authentication:
            type: tls
          port: 9093
          tls: true
          type: internal
      metricsConfig:
        type: jmxPrometheusExporter
        valueFrom:
          configMapKeyRef:
            key: kafka-metrics-config.yaml
            name: {{instance_properties.name}}-metrics-config
      replicas: 3
      storage:
        type: ephemeral
    zookeeper:
      metricsConfig:
        type: jmxPrometheusExporter
        valueFrom:
          configMapKeyRef:
            key: zookeeper-metrics-config.yaml
            name: {{instance_properties.name}}-metrics-config
      replicas: 3
      storage:
        type: ephemeral
    nodePools:
      - name: kafka
        replicas: 3
        storage:
          type: ephemeral
          class: {{ocp_storage_class_block}}
        roles:
          - broker
          - controller
  version: "{{instance_properties.version}}"
