apiVersion: hsts.aspera.ibm.com/v1
kind: IbmAsperaHsts
metadata:
  labels:
    app.kubernetes.io/instance: ibm-aspera-hsts
    app.kubernetes.io/managed-by: ibm-aspera-hsts
    app.kubernetes.io/name: ibm-aspera-hsts
  name: {{instance_properties.name}}
  namespace: {{current_cp4i_cluster.project}}
spec:
  deployments:
    default:
      replicas: 1
  license:
    accept: {{ _cpd_accept_licenses | default(False) }}
    key: "{{instance_properties.aspera_key}}"
    use: CloudPakForIntegrationNonProduction
  redis:
    persistence:
      enabled: false
      storageClass: {{ocp_storage_class_file}}
  services:
    httpProxy:
      type: ClusterIP
    tcpProxy:
      type: LoadBalancer
  storages:
    - claimName: hsts-transfer-pvc
      class: {{ocp_storage_class_file}}
      deleteClaim: true
      mountPath: /data/
      size: 20Gi
  version: "{{instance_properties.version}}"