apiVersion: integration.ibm.com/v1beta2
kind: OperationsDashboard
metadata:
  labels:
    app.kubernetes.io/instance: ibm-integration-operations-dashboard
    app.kubernetes.io/managed-by: ibm-integration-operations-dashboard
    app.kubernetes.io/name: ibm-integration-operations-dashboard
  name: {{instance_properties.name}}
  namespace: {{current_cp4i_cluster.project}}
spec:
  license:
    accept: {{ _cpd_accept_licenses | default(False) }}
    license: CP4I
  storage:
    configDbVolume:
      class: {{ocp_storage_class_file}}
    sharedVolume:
      class: {{ocp_storage_class_file}}
    tracingVolume:
      class: {{ocp_storage_class_block}}
  version: "{{instance_properties.version}}"