apiVersion: mq.ibm.com/v1beta1
kind: QueueManager
metadata:
  name: {{instance_properties.name}}
  namespace: {{current_cp4i_cluster.project}}
spec:
  license:
    accept: {{ _cpd_accept_licenses | default(False) }}
    license: {{instance_properties.license}}
    use: NonProduction
  queueManager:
    name: {{instance_properties.queue_manager_name}}
    resources:
      limits:
        cpu: 500m
      requests:
        cpu: 500m
    storage:
      queueManager:
        type: ephemeral
      defaultClass: {{ocp_storage_class_file}}
  template:
    pod:
      containers:
        - env:
            - name: MQSNOAUT
              value: 'yes'
          name: qmgr
  version: "{{instance_properties.version}}"
  web:
    enabled: true