---
apiVersion: mq.ibm.com/v1beta1
kind: QueueManager
metadata:
  annotations:
    com.ibm.mq/write-defaults-spec: 'false'
  finalizers:
    - finalizer.queuemanagers.mq.ibm.com
  name: {{instance_properties.name}}
  namespace: {{current_cp4i_cluster.project}}
spec:
  license:
    accept: {{ _cpd_accept_licenses | default(False) }}
    license: {{instance_properties.license}}
    use: NonProduction
  queueManager:
    name: {{instance_properties.queue_manager_name}}
    resources:
      limits:
        cpu: 500m
      requests:
        cpu: 500m
    storage:
      queueManager:
        type: ephemeral
  version: "{{instance_properties.version}}"
  web:
    console:
      authentication:
        provider: integration-keycloak
      authorization:
        provider: integration-keycloak
    enabled: true