apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: ibm-integration-operatorgroup
  namespace: {{current_cp4i_cluster.project}}
spec:
  targetNamespaces:
  - {{current_cp4i_cluster.project}}
