---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{operator_group_name}}
  namespace: {{operator_group_namespace}}
spec:
  targetNamespaces:
  - {{operator_group_namespace}}
