apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{_subscr_name}}
  namespace: {{_subscr_namespace}}
spec:
  channel: {{_subscr_channel}}
  installPlanApproval: Automatic
  name: {{_subscr_name}}
  source: {{_subscr_source}}
  sourceNamespace: openshift-marketplace
