resource "ibm_resource_instance" "{{ generator.attributes.name | replace("-", "_") }}" {
    resource_group_id = data.ibm_resource_group.thisresourcegroup.id
    name     = "{{ generator.attributes.name }}"
    plan     = "{{ generator.attributes.plan }}"
    location = "{{ generator.attributes.location }}"
    service  =  "{{ generator.attributes.service }}"
}