{
   "datasource_type":"{{ cp4d_datasource_db2_type[0] }}",
   "description":"",
   "name":"{{ cp4d_platform_connection_name }}",
   "origin_country": "us",
   "properties":{
      "database":"{{ db2_instance_dbname }}",
      "password":"{{ db2_instance_password }}",
      "port":"{{ db2_instance_port }}",
      "host":"{{ db2_instance_host }}",
      "ssl":"true",
      "username":"{{ db2_instance_user_name }}"
   }
}
