apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: isf-operator
  namespace: ibm-spectrum-fusion-ns
spec:
  channel: "{{ _isf_default_channel }}"
  name: isf-operator
  sourceNamespace: openshift-marketplace
  source: ibm-operator-catalog
  installPlanApproval: Automatic