---
apiVersion: v1
kind: Namespace
metadata:
  name: ibm-spectrum-fusion-ns
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: isf-og
  namespace: ibm-spectrum-fusion-ns
spec:
  targetNamespaces:
  -  ibm-spectrum-fusion-ns
  upgradeStrategy: Default
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: ibm-operator-catalog
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  image:  icr.io/cpopen/ibm-operator-catalog:latest
  displayName: IBM Operator Catalog
  publisher: IBM
  updateStrategy:
   registryPoll:
    interval: 45m