resource  "ibm_resource_instance" "{{generator.attributes.name | replace("-", "_") }}" {
    name     = "{{generator.attributes.name}}-roks-cos"
    plan     = "standard"
    location = "global"
    service  = "cloud-object-storage"
}


resource "ibm_container_vpc_cluster" "{{generator.attributes.name | replace("-", "_") }}" {
    name = "{{generator.attributes.name}}-roks"
    cos_instance_crn = ibm_resource_instance.{{generator.attributes.name | replace("-", "_") }}.id
    kube_version = "{{generator.attributes.kube_version}}"
    flavor       = "{{generator.attributes.worker_flavour}}"
    entitlement  = "cloud_pak"
    vpc_id       = ibm_is_vpc.{{generator.attributes.infrastructure.vpc_name | replace("-", "_") }}.id
    worker_count = "{{generator.attributes.worker_count}}"

    zones {
        subnet_id = ibm_is_subnet.{{generator.attributes.infrastructure.subnet | replace("-", "_") }}.id
        name      = "eu-de-3"
    }
}