bpm.server.username={{ lc_principal_admin_user }}
bpm.server.password={{ cp4ba_universal_password }}
bpm.server.uri=https\://{{ cp4ba_cr_meta_name }}-bastudio-service.{{ cp4ba_project_name }}.svc.cluster.local\:9443
bpm.server.contextRoot=/bas/rest/bpm/wle/
