apiVersion: v1
kind: Secret
metadata:
  name: ibm-workflow-assistant-secrets
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  WATSONX_TOKEN: ""
  WATSONX_API_KEY: "{{ _current_cp4ba_cluster.cp4ba.patterns.workflow.gen_ai.apiKey | default('watsonx_ai_api_key') }}"
  WATSONX_PASSWORD: ""
  WATSONX_PROJECT_ID: "{{ _current_cp4ba_cluster.cp4ba.patterns.workflow.gen_ai.projectId | default('project_id') }}"
  WATSONX_URL: "{{ _current_cp4ba_cluster.cp4ba.patterns.workflow.gen_ai.mlUrl | default('https://us-south.ml.cloud.ibm.com') }}"
