apiVersion: v1
kind: Secret
metadata:
  name: ibm-workflow-assistant-secrets
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  WATSONX_TOKEN: ""
  WATSONX_API_KEY: "{{ _current_cp4ba_cluster.cp4ba.patterns.workflow.gen_ai.api_key | default('watsonx_ai_api_key') }}"
  WATSONX_PASSWORD: ""
  WATSONX_PROJECT_ID: "{{ _current_cp4ba_cluster.cp4ba.patterns.workflow.gen_ai.project_id | default('project_id') }}"
  WATSONX_URL: "{{ _current_cp4ba_cluster.cp4ba.patterns.workflow.gen_ai.endpoint | default('https://us-south.ml.cloud.ibm.com') }}"
  RUNTIME_AGENT_WATSONX_MODEL_ID: "{{ _current_cp4ba_cluster.cp4ba.patterns.workflow.gen_ai.model | default('openai/gpt-oss-120b') }}"
  AUTHORING_AGENT_WATSONX_MODEL_ID: "{{ _current_cp4ba_cluster.cp4ba.patterns.workflow.gen_ai.model | default('openai/gpt-oss-120b') }}"
