apiVersion: v1
kind: Secret
metadata:
  name: wfs-lombardi-custom-xml-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  sensitiveCustomConfig: |
    <properties>
      <server merge="mergeChildren">
        <email merge="mergeChildren">
          <!-- SMTP server that mail should be sent to -->
          <smtp-server merge="replace">{{ cp4ba_mail_hostname }}</smtp-server>
            <mail-template>
              <process>externalmailprocesslink_{0}.html</process>
              <no-process>externalmailnoprocess_{0}.html</no-process> 
            </mail-template> 
          <valid-from-required merge="replace">true</valid-from-required>
          <default-from-address merge="replace">system@cp.internal</default-from-address>
          <send-external-email merge="replace">true</send-external-email>
          <send-email-notifications-to-list merge="replace">false</send-email-notifications-to-list>
          <send-email-notifications-async merge="replace">false</send-email-notifications-async>
          <send-on-reassignment merge="replace">true</send-on-reassignment>
        </email>
        <!-- mime type white list which specifies mime types accepted for -->
        <!-- upload to document list or document attachment -->
        <document-attachment-accepted-mime-types merge="mergeChildren">
        <!-- specifies whether to allow a null mime type for upload-->
            <allow-null-mime-type>false</allow-null-mime-type>
            <!-- lists the mime types allowed for upload -->
            <mime-type>text/plain</mime-type>
            <mime-type>application/xml</mime-type>
            <mime-type>image/png</mime-type>
            <mime-type>image/jpg</mime-type>
            <mime-type>application/pdf</mime-type>
            <mime-type>application/vnd.ms-excel</mime-type>
            <mime-type>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</mime-type>
            <mime-type>application/msword</mime-type>
            <mime-type>application/vnd.openxmlformats-officedocument.wordprocessingml.document</mime-type>
            <mime-type>application/vnd.ms-powerpoint</mime-type>
            <mime-type>application/vnd.openxmlformats-officedocument.presentationml.presentation</mime-type>
            <mime-type>audio/mpeg</mime-type>
            <mime-type>video/mp4</mime-type>
            <mime-type>text/csv</mime-type>
            <mime-type>text/html</mime-type>
            <mime-type>application/json</mime-type>
            <mime-type>text/markdown</mime-type>
            <mime-type>application/vnd.oasis.opendocument.presentation</mime-type>
            <mime-type>application/vnd.oasis.opendocument.spreadsheet</mime-type>
            <mime-type>application/vnd.oasis.opendocument.text</mime-type>
            <mime-type>audio/wav</mime-type>
            <mime-type>application/zip</mime-type>
            <mime-type>message/rfc822</mime-type>
        </document-attachment-accepted-mime-types>
        <!-- extension white list which specifies extensions accepted for -->
        <!-- upload to document list or document attachment -->
        <document-attachment-accepted-extensions merge="mergeChildren">
            <!-- specifies whether to allow a document with no extension for upload -->
            <allow-null-extension>true</allow-null-extension>
            <!-- lists the extensions allowed for upload -->
            <extension>txt</extension>
            <extension>xml</extension>
            <extension>png</extension>
            <extension>jpg</extension>
            <extension>jpeg</extension>
            <extension>pdf</extension>
            <extension>xls</extension>
            <extension>xlsx</extension>
            <extension>doc</extension>
            <extension>docx</extension>
            <extension>ppt</extension>
            <extension>pptx</extension>
            <extension>mp3</extension>
            <extension>mp4</extension>
            <extension>csv</extension>
            <extension>htm</extension>
            <extension>html</extension>
            <extension>json</extension>
            <extension>md</extension>
            <extension>odp</extension>
            <extension>ods</extension>
            <extension>odt</extension>
            <extension>wav</extension>
            <extension>zip</extension>
            <extension>eml</extension>
        </document-attachment-accepted-extensions>
        <case-instance-migration-enabled>true</case-instance-migration-enabled>
        <gen-ai merge="mergeChildren"> 
          <project-id>{{ _current_cp4ba_cluster.cp4ba.patterns.workflow.gen_ai.projectId | default('project_id') }}</project-id> 
          <provider-url>{{ _current_cp4ba_cluster.cp4ba.patterns.workflow.gen_ai.mlUrl | default('https://us-south.ml.cloud.ibm.com') }}</provider-url> 
          <auth-alias>watsonx.ai_auth_alias</auth-alias> 
          <read-timeout>120</read-timeout>
          <default-foundation-model>{{ _current_cp4ba_cluster.cp4ba.patterns.workflow.gen_ai.defaultFoundationModel | default('meta-llama/llama-3-3-70b-instruct') }}</default-foundation-model>
        </gen-ai>
        <portal merge="mergeChildren">
          <assistant-enable merge="replace">true</assistant-enable>
        </portal>  
      </server>
    </properties>
