apiVersion: v1
kind: Secret
metadata:
  name: ibm-workflow-assistant-secrets
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  WATSONX_TOKEN: ""
  WATSONX_API_KEY: "watsonx_ai_api_key"
  WATSONX_PASSWORD: ""
  WATSONX_PROJECT_ID: "project_id"
  WATSONX_URL: "https://us-south.ml.cloud.ibm.com"
