apiVersion: v1
kind: Secret
metadata:
  name: wfs-liberty-custom-xml-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  sensitiveCustomConfig: |
    <?xml version="1.0" encoding="UTF-8"?>
    <!-- BAW Runtime Liberty server properties -->
    <properties>
      <server merge="mergeChildren">
        <!-- Settings related to the BAW runtime server -->

        <!-- 
        NB1: Some Liberty variables are defined in the Configmap "cm/icp4adeploy-bas-credential-secret" (cf. processServer_variables_system.xml), and can be referenced with the syntax ${my_variable_name}
        NB2: Below is an example of how to declare a new SGBD driver library. Leave it commented, as I'm resusing the Postgres definition already present in the ConfigMap "icp4adeploy-bastudio-overrides-configmap".

        <library id="PostgreSQLLib">
            <fileset dir="/shared/resources/jdbc/postgresql" includes="*" />
        </library>
        -->

        <!-- CUSTOM DB: BAWEXTERNAL START -->
        <dataSource commitOrRollbackOnCleanup="commit" id="jdbc/bawexternal" isolationLevel="TRANSACTION_READ_COMMITTED" jndiName="jdbc/bawexternal" type="javax.sql.XADataSource">
          <jdbcDriver libraryRef="PostgreSQLLib"/>
          <connectionManager maxPoolSize="50" minPoolSize="2"/>
{# Use filter 'xmlattr' to sanitize password for possible 'strange' characters #}
{% set pg_parms_dict = { 
    "URL": "jdbc:postgresql://postgresql." + postgresql_project_name + ".svc.cluster.local:5432/bawexternal", 
    "user": "bawexternal", 
    "password": cp4ba_postgresql_universal_password 
  } 
%}
            <properties.postgresql{{ pg_parms_dict | xmlattr }}/>
        </dataSource>
        <!-- CUSTOM DB: BAWEXTERNAL STOP -->

        <!-- AI Features START -->
        <authData id="watsonx.ai_auth_alias" user="myUserId" password="{{ _current_cp4ba_cluster.cp4ba.patterns.workflow.gen_ai.apiKey | default('watsonx_ai_api_key') }}" />
        <!-- AI Features END -->
      </server>
    </properties>
