spec:
  datasource_configuration:
    dc_os_datasources:
      - dc_database_type: postgresql
        dc_os_label: bawdocs
        dc_common_os_datasource_name: BAWDOCS
        dc_common_os_xa_datasource_name: BAWDOCSXA
        database_servername: "{{ cp4ba_postgresql_hostname }}"
        database_name: bawdocs
        database_port: "5432"
      - dc_database_type: postgresql
        dc_os_label: bawtos
        dc_common_os_datasource_name: BAWTOS
        dc_common_os_xa_datasource_name: BAWTOSXA
        database_servername: "{{ cp4ba_postgresql_hostname }}"
        database_name: bawtos
        database_port: "5432"
      - dc_database_type: postgresql
        dc_os_label: bawdos
        dc_common_os_datasource_name: BAWDOS
        dc_common_os_xa_datasource_name: BAWDOSXA
        database_servername: "{{ cp4ba_postgresql_hostname }}"
        database_name: bawdos
        database_port: "5432"
    dc_cpe_datasources:
      - dc_database_type: postgresql
        dc_os_label: ch
        dc_common_cpe_datasource_name: CASEHISTORYDS
        dc_common_cpe_xa_datasource_name: CASEHISTORYDSXA
        database_servername: "{{ cp4ba_postgresql_hostname }}"
        database_name: chdb
        database_port: "5432"
        dc_common_conn_name: CH_dbconnection
  workflow_authoring_configuration:
    admin_user: "{{ lc_principal_admin_user }}"
    content_integration:
      domain_name: P8DOMAIN
      object_store_name: BAWDOCS
    case:
      domain_name: P8DOMAIN
      object_store_name_dos: BAWDOS
      object_store_name_tos: BAWTOS
      connection_point_name_tos: pe_conn_bawtos
      datasource_name_tos: BAWTOS
{% if current_cp4ba_cluster.cp4ba.patterns.foundation.optional_components.bai %}
      event_emitter:
        date_sql: 20220401T000000Z
        logical_unique_id: bawaut
        solution_list: "*"
      case_history_emitter:
        enable: true
        case_history_store_schema_name: CH
        dc_common_cpe_datasource_name: CASEHISTORYDS
{% endif %}
    environment_config:
      show_task_prioritization_service_toggle: true
    federation_config:
      case_manager:
        - object_store_name: BAWTOS
    business_event:
      enable: true
      enable_task_api: true
      subscription:
        - {
            "app_name": "*",
            "version": "*",
            "component_type": "*",
            "component_name": "*",
            "element_type": "*",
            "element_name": "*",
            "nature": "*",
          }
    lombardi_custom_xml_secret_name: wfs-lombardi-custom-xml-secret
  baml_configuration:
    intelligent_task_prioritization: {}
    workforce_insights: {}
  initialize_configuration:
    ic_obj_store_creation:
      object_stores:
        - oc_cpe_obj_store_display_name: BAWDOCS
          oc_cpe_obj_store_symb_name: BAWDOCS
          oc_cpe_obj_store_conn:
            name: BAWDOCS_dbconnection
            dc_os_datasource_name: BAWDOCS
            dc_os_xa_datasource_name: BAWDOCSXA
          oc_cpe_obj_store_admin_user_groups: [{% for item in (lc_admin_groups+lc_admin_users) %}'{{ item }}'{{ "," if not loop.last else "" }}{% endfor %}]
        - oc_cpe_obj_store_display_name: BAWDOS
          oc_cpe_obj_store_symb_name: BAWDOS
          oc_cpe_obj_store_conn:
            name: BAWDOS_dbconnection
            dc_os_datasource_name: BAWDOS
            dc_os_xa_datasource_name: BAWDOSXA
          oc_cpe_obj_store_admin_user_groups: [{% for item in (lc_admin_groups+lc_admin_users) %}'{{ item }}'{{ "," if not loop.last else "" }}{% endfor %}]
        - oc_cpe_obj_store_display_name: BAWTOS
          oc_cpe_obj_store_symb_name: BAWTOS
          oc_cpe_obj_store_conn:
            name: BAWTOS_dbconnection
            dc_os_datasource_name: BAWTOS
            dc_os_xa_datasource_name: BAWTOSXA
          oc_cpe_obj_store_admin_user_groups: [{% for item in (lc_admin_groups+lc_admin_users) %}'{{ item }}'{{ "," if not loop.last else "" }}{% endfor %}]        
          oc_cpe_obj_store_enable_workflow: true
          oc_cpe_obj_store_workflow_region_name: bawtos_region_name
          oc_cpe_obj_store_workflow_data_tbl_space: bawtos_tbs
          oc_cpe_obj_store_workflow_admin_group: "{{ lc_principal_admin_group }}"
          oc_cpe_obj_store_workflow_config_group: "{{ lc_principal_admin_group }}"
          oc_cpe_obj_store_workflow_pe_conn_point_name: pe_conn_bawtos
    ic_icn_init_info:
      icn_repos:
        - add_repo_id: BAWDOCS
          add_repo_os_sym_name: BAWDOCS
          add_repo_os_dis_name: BAWDOCS
        - add_repo_id: BAWOS
          add_repo_os_sym_name: BAWDOS
          add_repo_os_dis_name: BAWDOS
        - add_repo_id: BAWTOS
          add_repo_os_sym_name: BAWTOS
          add_repo_os_dis_name: BAWTOS
      icn_desktop:
        - add_desktop_id: BAWDOCS
          add_desktop_name: BAWDOCS
          add_desktop_description: BAWDOCS
          add_desktop_repo_id: BAWDOCS
        - add_desktop_id: BAWDOS
          add_desktop_name: BAWDOS
          add_desktop_description: BAWDOS
          add_desktop_repo_id: BAWDOS
        - add_desktop_id: BAWTOS
          add_desktop_name: BAWTOS
          add_desktop_description: BAWTOS
          add_desktop_repo_id: BAWTOS
  verify_configuration:
    vc_icn_verification:
      - vc_icn_repository: BAWDOCS
        vc_icn_desktop_id: BAWDOCS          
      - vc_icn_repository: BAWDOS
        vc_icn_desktop_id: BAWDOS          
      - vc_icn_repository: BAWTOS
        vc_icn_desktop_id: BAWTOS          
