ibmcloud oc cluster addon enable openshift-data-foundation \
    --cluster {{ current_openshift_cluster.name }} \
    --param "odfDeploy=false" \
    -f {% if current_openshift_storage.odf_version is defined %} --version {{ current_openshift_storage.odf_version }} {% endif %}