---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: openshift-storage
  namespace: openshift-storage
spec:
  targetNamespaces:
  - openshift-storage
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    operators.coreos.com/ocs-operator.openshift-storage: ""
  name: odf-operator
  namespace: openshift-storage
spec:
{% if cloud_platform == 'azure' %}
  channel: stable-{{ current_openshift_storage.ocs_version | default(_azure_current_ocp_version) }} 
{% else %}
  channel: stable-{{ current_openshift_storage.ocs_version | default(current_openshift_cluster.ocp_version | string | regex_search('([0-9].[0-9]+)','\\1') | first) }}
{% endif %}
  installPlanApproval: Automatic
  name: odf-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace