---
apiVersion: ocs.ibm.io/v1
kind: OcsCluster
metadata:
  name: {{ current_openshift_storage.odf_storage_label }}
spec:
  monStorageClassName: {{ roks_odf_base_storage_class_name }}
  monSize: {{ roks_odf_base_mon_size }}
  osdStorageClassName: {{ roks_odf_base_storage_class_name }}
  osdSize: {{ current_openshift_storage.odf_storage_size_gb }}Gi
  numOfOsd: 1
  billingType: {{ roks_odf_billing_type }}
  ocsUpgrade: false
  workerNodes:
{% for ip in _ocs_node_ips %}
  - {{ ip }}
{% endfor %}