---
apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  labels:
    machine.openshift.io/cluster-api-cluster: {{ _infrastructure_id }}
  name: {{ _infrastructure_id }}-{{ current_openshift_storage.ocs_storage_label }}
  namespace: openshift-machine-api
spec:
  replicas: 3
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ _infrastructure_id }}
      machine.openshift.io/cluster-api-machineset: {{ _infrastructure_id }}-{{ current_openshift_storage.ocs_storage_label }}
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{ _infrastructure_id }}
        machine.openshift.io/cluster-api-machine-role: worker
        machine.openshift.io/cluster-api-machine-type: worker
        machine.openshift.io/cluster-api-machineset: {{ _infrastructure_id }}-{{ current_openshift_storage.ocs_storage_label }}
    spec:
      metadata:
        creationTimestamp: null
      providerSpec:
        value:
          apiVersion: vsphereprovider.openshift.io/v1beta1
          credentialsSecret:
            name: vsphere-cloud-credentials
          diskGiB: {{ _vm_definition.boot_disk_size_gb }}
          kind: VSphereMachineProviderSpec
          memoryMiB: {{ _vm_definition.memory_mb }}
          metadata:
            creationTimestamp: null
          network:
            devices:
            - networkName: {{ _vm_definition.network | default(_vsphere_config.network) }}
          numCPUs: {{ _vm_definition.vcpu }}
          numCoresPerSocket: 2
          snapshot: ""
          template: {{ _get_machineset_template_name.stdout }}
          userDataSecret:
            name: worker-user-data
          workspace:
            datacenter: {{ _vsphere_config.datacenter }}
            datastore: {{ _vm_definition.datastore | default(_vsphere_config.datastore) }}
            folder: {{ _vsphere_config.folder }}
            server: {{ _vsphere_config.vcenter }}