#!/bin/bash

#
# This script changes the CRI-O settings for Cloud Pak for Data
#

NODE_FIX_DIR=/tmp/cloud-pak-node-fix

# Copy the CRI-O config file
cp -r /etc/crio/crio.conf ${NODE_FIX_DIR}/config/cp4d-crio.conf

# Get the current value of pids_limit
PIDS_LIMIT_STRING=$(grep -e ^'pids_limit' ${NODE_FIX_DIR}/config/cp4d-crio.conf | sed -e 's/.*[^0-9]\([0-9]\+\)[^0-9]*$/\1/')
PIDS_LIMIT=$((PIDS_LIMIT_STRING))

# If pids_limit property not found in crio.conf, add it under crio.runtime section, otherwise change if not high enough
if [ ${PIDS_LIMIT} -eq 0 ];then
  echo "pids_limit property not found in crio.conf, adding it"
  sed -i -e '/^\[crio\.runtime\].*/a pids_limit = 12288' ${NODE_FIX_DIR}/config/cp4d-crio.conf
elif [ ${PIDS_LIMIT} -lt 12288 ];then
  echo "pids_limit has value ${PIDS_LIMIT}, changing to 12288"
  sed -i -e 's/^pids_limit.*/pids_limit = 12288/' ${NODE_FIX_DIR}/config/cp4d-crio.conf
fi