apiVersion: machineconfiguration.openshift.io/v1
kind: ContainerRuntimeConfig
metadata:
 name: custom-crio
spec:
 machineConfigPoolSelector:
   matchLabels:
     custom-crio: pid-limit
 containerRuntimeConfig:
   pidsLimit: 16384