oc debug no/{{ _ocp_compute_nodes.stdout }} \
    --to-namespace kube-system \
{% if cpd_oc_debug_image is defined %}
    --image {{ cpd_oc_debug_image }} \
{% endif %}
    -- cat /host/etc/crio/crio.conf > {{ status_dir }}/openshift/cp4d-crio.conf