export CASECTL_RESOLVERS_LOCATION=/tmp/work/resolvers.yaml
export CASECTL_RESOLVERS_AUTH_LOCATION=/tmp/work/resolvers_auth.yaml
export CASE_TOLERATION='--skip-verify'
export GITHUB_TOKEN={{ _case_repo_token }}

# Repository path for Cloud Pak
export CASE_REPO_PATH=https://{{ _case_repo_token }}@{{ _case_repo_path_cp }}

# Repository path for Foundational Services
export CPFS_CASE_REPO_PATH=https://{{ _case_repo_token }}@{{ _case_repo_path_fs }}

# Repository path for open content
export OPENCONTENT_CASE_REPO_PATH=https://{{ _case_repo_token }}@{{ _case_repo_path_opencontent }}