resolvers:
  metadata:
    description: Resolver file to map cases and registries. Used to get dependency cases
  resources:
{% if (_cp_alt_repo.repo.helm_path | default('')) != '' %}
    helmCharts:
      repositories:
        devHelmRepo:
          repositoryInfo:
            url: "{{ _cp_alt_repo.repo.helm_path }}"
      helmRepositoryMap:
      - charts:
        - chart: "*"
          version: "*"
        repositories:
        - "*"
{% endif %}
    cases:
      repositories:
        DevGitHub:
          repositoryInfo:
            url: "{{ _cp_alt_repo.repo.cp_path }}"
        cloudPakCertRepo:
          repositoryInfo:
            url: "{{ _cp_alt_repo.repo.fs_path }}"
      caseRepositoryMap:
      - cases:
        - case: "*"
          version: "*"
        repositories:
        - cloudPakCertRepo