resource "ibm_is_vpc_address_prefix" "{{ generator.attributes.name | replace("-", "_") }}" {
  name = "{{ generator.attributes.name }}"
  zone   = "{{ generator.attributes.zone }}"
  vpc         = ibm_is_vpc.{{ generator.attributes.vpc | replace("-", "_") }}.id
  cidr        = "{{ generator.attributes.cidr }}"
}