kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: mysql-data
  namespace: mysql
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: "{{ mysql_storage_class_name }}"
  volumeMode: Filesystem
