kind: Secret
apiVersion: v1
metadata:
  name: mysql-config
  namespace: mysql
stringData:
  MYSQL_ROOT_PASSWORD: "{{ mysql_universal_password }}"
  MYSQL_USER: "{{ mysql_admin_user }}"
  MYSQL_PASSWORD: "{{ mysql_universal_password }}"
  