kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: 'openldap-anyuid'
  namespace: openldap
subjects:
  - kind: ServiceAccount
    name: default
    namespace: openldap
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: 'system:openshift:scc:anyuid'
