replicaCount: 1
env:
  LDAP_ORGANISATION: "{{ _current_openldap.ldap_config.base_domain }}"
  LDAP_DOMAIN: "{{ _current_openldap.ldap_config.base_domain }}"
global:  
  adminPassword: '{{ _openldap_bind_password }}'
  configPassword: '{{ _openldap_bind_password }}'
customLdifFiles:
  01-default-users.ldif: |-
    # Units
    dn: {{ _current_openldap.ldap_config.user_base_dn }}
    objectClass: organizationalUnit
    ou: {{ _current_openldap.ldap_config.user_ou }}

    dn: {{ _current_openldap.ldap_config.group_base_dn }}
    objectClass: organizationalUnit
    ou: {{ _current_openldap.ldap_config.group_ou }}

    # Users
{% for _ldap_user in _current_openldap.users %}
    dn: {{ _current_openldap.ldap_config.user_id_attribute }}={{ _ldap_user.uid }},{{ _current_openldap.ldap_config.user_base_dn }}
    objectClass: {{ _current_openldap.ldap_config.user_object_class }}
    objectClass: top
    cn: {{ _ldap_user.givenName }}
    sn: {{ _ldap_user.sn }}
    {{ _current_openldap.ldap_config.user_id_attribute }}: {{ _ldap_user.uid }}
    mail: {% if '@' in _ldap_user.mail -%}{{ _ldap_user.mail }}{% else -%}{{ _ldap_user.mail }}@{{ _current_openldap.ldap_config.base_domain }}{% endif %}
    userpassword:: {{ _ldap_user.mail | b64encode | default(_openldap_bind_password | b64encode) }}
    employeeType: admin

{% endfor %}

    # Groups
{% for _ldap_group in _current_openldap.groups %}
    dn: {{ _current_openldap.ldap_config.group_id_attribute }}={{ _ldap_group.cn }},{{ _current_openldap.ldap_config.group_base_dn }}
    objectClass: {{ _current_openldap.ldap_config.group_object_class }}
    objectClass: top
    cn: {{ _ldap_group.cn }}
{% for _ldap_group_member in _ldap_group.members %}
    member: {{ _ldap_group_member }}
{% endfor %}

{% endfor %}

replication:
  enabled: false
persistence:
  enabled: true
  accessModes:
    - ReadWriteMany
  size: 8Gi
  storageClass: "{{ ocp_storage_class_file }}"
livenessProbe:
  initialDelaySeconds: 60
readinessProbe:
  initialDelaySeconds: 60
resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
ltb-passwd:
  enabled: false
phpldapadmin:
  enabled: true
  ingress:
    enabled: false
  env:
    PHPLDAPADMIN_LDAP_HOSTS: "{{ openldap_hostname }}"
