apiVersion: edb.cpd.ibm.com/v1
kind: CPDEdbInstance
metadata:
  name: {{ _cpd_edb_instance_name }}
  namespace: {{ _cpd_edb_instance_namespace }}
  labels:
    managedByCpDeployer: "yes"
spec:
  type: {{ _cpd_edb_instance_type | default('Standard') }}
  members: {{ _cpd_edb_instance_members | default(1) }}
  oracleCompatibility: true
  serviceInstanceName: {{ _cpd_edb_instance_name }}
  version: "{{ _cpd_edb_instance_version }}"
  blockStorageClass: {{ _cpd_edb_instance_storage_class }}
  storageSize: {{ _cpd_edb_instance_storage_size_gb }}Gi
  resources:
    requests:
      cpu: {{ _cpd_edb_instance_resource_request_cpu }}
      memory: {{ _cpd_edb_instance_resource_request_memory }}
    limits:
      cpu: {{ _cpd_edb_instance_resource_limit_cpu }}
      memory: {{ _cpd_edb_instance_resource_limit_memory }}
  