#!/bin/bash

#Unfortunately it was not possible to create this secret via Terraform

echo 'Starting create_etc_pwx_secret.sh'
echo $CLUSTER_ID

ibmcloud api cloud.ibm.com
ibmcloud login -q --apikey ${IBMCLOUD_API_KEY}


bool=$(ibmcloud oc cluster ls --provider vpc-gen2 --output json | jq --arg varcluster "$CLUSTER_ID" '.[] | select(.name==$varcluster) | .state | contains("normal")')
echo "cluster ready bool=$bool"

while [ "$bool" == "false" ]
do
  echo 'cluster is not yet in state normal'
  echo 'Sleeping for 1 minute...'
  sleep 60
  bool=$(ibmcloud oc cluster ls --provider vpc-gen2 --output json | jq --arg varcluster "$CLUSTER_ID" '.[] | select(.name==$varcluster) | .state | contains("normal")')
  echo "cluster ready bool=$bool"
done

echo "Cluster is ready for kubectl commands"

export KUBECONFIG=~/.kube/config
ibmcloud oc cluster config -cluster $CLUSTER_ID --admin

echo $KUBECONFIG

# The previous command may fail for a while if this is the first time the cluster is accessed.
# Sleep for 1m to allow RBAC to synchronize
echo 'Sleeping for 1 minute...'
sleep 60

echo 'Creating secret'

cat <<EOF | kubectl create -f -
apiVersion: v1
kind: Secret
metadata:
  name: px-etcd-certs
  namespace: kube-system
type: Opaque
data:
  ca.pem: $CA_PEM
  password: $PASSWORD
  username: $USERNAME
EOF


echo 'px-etcd-certs created'
