{
	"secret_name": "smtpSecret",
	"description": "smtp secret",
	"secret": {
		"generic": {
			"smtpAddress": "",
			"defaultSender": "",
			"smtpPort": "",
			"smtpUser": "",
			"smtpPassword": "",
			"useTls": false
		}
	},
	"type": "generic",
	"vault_urn": "0000000000:internal"
}