{
    "addon_type": "{{ cp4d_cognos_instance_addon_type }}",
    "display_name":"{{ _cognos_instance.name }}",
    "namespace": "",
    "addon_version": "{{ _ca_version.stdout }}",    
    "create_arguments": {
        "deployment_id": "",
        "parameters": {
            "global.icp4Data": "true",
            "global.pvc.pvProvisioning": "NamedStorageClass",
            "global.filebeat.output.logstashEnabled": "false",
            "global.filebeat.output.consoleEnabled": "true",
            "cm-0.serviceAccountName": "cpd-viewer-sa",
            "biapp.serviceAccountName": "cpd-viewer-sa",
            "ds.serviceAccountName": "cpd-viewer-sa",
            "rs.serviceAccountName": "cpd-viewer-sa",
            "cgs.serviceAccountName": "cpd-viewer-sa",
            "cm-0.cm.anonymous": "false",
            "artifacts.service.type": "ClusterIP",
            "biapp.service.type": "ClusterIP",
            "metadata.planSize": "Small",
            "metadata.storageType": "storage-class",
            "metadata.storageClass": "",
            "global.icp4DataVersion": "3.5.0",
            "global.tls.enabled": "true",
            "global.icp4DataOIDC_ACCOUNTCLAIMS": "userinfo",
            "global.imagePullSecrets": null,
            "artifacts.external_signal.enabled": "true",
            "global.cs.databaseCertAlias": "",
            "global.cs.databaseExternal": "true",
            "metadata.externalCSConnectionName": "{{ _cp4d_platform_connection_name }}",
            "global.cs.databaseProvider": "DB2",
            "global.cs.databaseHost": "{{ _db2_instance_host }}",
            "global.cs.databasePort": "{{ _db2_instance_port }}",
            "global.cs.databaseName": "{{ _db2_instance_dbname }}",
            "global.cs.databaseTlsEnabled": "true",
            "external_cs_ssl_cert": {
                "certificationPurpose": "EXT_CS"
            },
            "global.cs.databaseUser": "{{ _db2_instance_user_name }}",
            "global.cs.databasePass": "{{ _db2_instance_password }}",
            "global.audit.databaseCertAlias": "",
            "global.audit.databaseExternal": "true",
            "global.audit.databaseProvider": "DB2",
            "global.audit.databaseHost": "{{ _db2_instance_host }}",
            "global.audit.databasePort": "{{ _db2_instance_port }}",
            "global.audit.databaseName": "{{ _db2_instance_dbname }}",
            "global.audit.databaseTlsEnabled": "true",
            "global.audit.databaseUser": "{{ _db2_instance_user_name }}",
            "global.audit.databasePass": "{{ _db2_instance_password }}",
            "pvc.pvProvisioning": "NamedStorageClass",
            "pvc.storageClassName": "{{ _cp4d_cognos_instance_storage_class }}",
            "pvc.size": "SmallGi",
            "global.pvc.storageClassName": "{{ _cp4d_cognos_instance_storage_class }}",
            "global.pvc.size": "SmallGi",
            "global.configDataPvc.pvProvisioning": "NamedStorageClass",
            "global.configDataPvc.storageClassName": "{{ _cp4d_cognos_instance_storage_class }}",
            "global.configDataPvc.size": "100Mi",
            "global.configOverridesPvc.pvProvisioning": "NamedStorageClass",
            "global.configOverridesPvc.storageClassName": "{{ _cp4d_cognos_instance_storage_class }}",
            "global.configOverridesPvc.size": "100Mi",
            "artifacts.artifactsPvc.pvProvisioning": "NamedStorageClass",
            "artifacts.artifactsPvc.storageClassName": "{{ _cp4d_cognos_instance_storage_class }}",
            "artifacts.artifactsPvc.size": "2Gi",
            "rs.rs.hpa.minReplicas": "1",
            "rs.rs.hpa.maxReplicas": "1",
            "ds.ds.hpa.minReplicas": "1",
            "ds.ds.hpa.maxReplicas": "1",
            "cgs.cgs.hpa.minReplicas": "1",
            "cgs.cgs.hpa.maxReplicas": "2",
            "cs.cs.resources.requests.cpu": ".5",
            "cs.cs.resources.requests.memory": "200Mi",
            "cs.cs.resources.limits.cpu": "1",
            "cs.cs.resources.limits.memory": "500Mi",
            "cs.cs.instanceMemory": "500",
            "cm-0.cm.resources.requests.cpu": "2",
            "cm-0.cm.resources.requests.memory": "8Gi",
            "cm-0.cm.resources.limits.cpu": "3",
            "cm-0.cm.resources.limits.memory": "12Gi",
            "biapp.biapp.resources.requests.cpu": "2",
            "biapp.biapp.resources.requests.memory": "8Gi",
            "biapp.biapp.resources.limits.cpu": "4",
            "biapp.biapp.resources.limits.memory": "14Gi",
            "rs.rs.resources.requests.cpu": "1",
            "rs.rs.resources.requests.memory": "2Gi",
            "rs.rs.resources.limits.cpu": "2",
            "rs.rs.resources.limits.memory": "8Gi",
            "ds.ds.resources.requests.cpu": "2",
            "ds.ds.resources.requests.memory": "4Gi",
            "ds.ds.resources.limits.cpu": "3",
            "ds.ds.resources.limits.memory": "16Gi",
            "cgs.cgs.resources.requests.cpu": "1",
            "cgs.cgs.resources.requests.memory": "200Mi",
            "cgs.cgs.resources.limits.cpu": "1.5",
            "cgs.cgs.resources.limits.memory": "500Mi",
            "artifacts.artifacts.resources.requests.cpu": "0.3",
            "artifacts.artifacts.resources.requests.memory": "100Mi",
            "artifacts.artifacts.resources.limits.cpu": "0.5",
            "artifacts.artifacts.resources.limits.memory": "300Mi",
            "global.cp4dWebUrl": "https://{{ cp4d_url.stdout }}:443/cognosanalytics/bi/v1/disp",
            "global.cp4dWebUrlBase": "https://{{ cp4d_url.stdout }}"
        },
        "resources": {
            "cpu": "9",
            "gpu": "0",
            "memory": "22.59"
        },
        "description": "",
        "metaData": {
            "planSize": "Small",
            "sharedStorageType": "storage-class",
            "sharedStorageClass": "{{ _cp4d_cognos_instance_storage_class }}",
            "storageType": "storage-class",
            "storageClass": "",
            "contentStoreStorageLabelKey": "",
            "contentStoreStorageLabelValue": ""
        },
        "owner_username": ""
    },
    "transient_fields": {


    }
}