{
   "datasource_type": "{{ _cp4d_datasource_db2_type }}",
   "description": "",
   "name": "{{ _cp4d_platform_connection_name }}",
   "origin_country": "us",
   "properties": {
      "database": "{{ _db2_instance_dbname }}",
      "password": "{{ _db2_instance_password }}",
      "username": "{{ _db2_instance_user_name }}",
      "port": "{{ _db2_instance_port }}",
      "host": "{{ _db2_instance_host }}",
      "ssl": "true",
      "ssl_certificate": "{{ _db2_ca_crt }}"
   }
}