{
    "ServiceInstanceNamespace":"{{ current_cp4d_cluster.project }}",
    "ZenServiceInstanceInfo":{
        "ZenServiceInstanceType":"db2oltp",
        "ZenServiceInstanceID":"{{ _db2_instance_id }}"
    }
}