apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ibm-cp4a-operator
  namespace: "{{ cp4ba_project_name }}"
spec:
  channel: "{{ cp4ba_operator_channel }}"
  name: ibm-cp4a-operator
  source: ibm-cp4a-operator-catalog
  sourceNamespace: "{{ cp4ba_project_name }}"
