apply-olm \
    --release={{ _p_current_cp4d_cluster.cp4d_version }} \
    --case_download={%- if cpd_airgap | default(False) | bool -%}false{%- else -%}true{%- endif %} \
{% if not (_cp_alt_repo_used | default(False)) -%}
    --from_oci=true \
{% endif -%}   
    --catsrc=true --sub=false \
    --cpd_operator_ns={{ _p_current_cp4d_cluster.operators_project }} \
    --preview={%- if _p_preview_script -%}true{%- else -%}false{%- endif %} \
    --upgrade={%- if _upgrade_cp4d -%}true{%- else -%}false{%- endif %} \
    --components={{ _catsrc_cartridges_to_install_list }}