cloudctl case launch --case {{ _case_file.path }} \
    --inventory {{ _current_cartridge.inventory }} \
    --namespace openshift-marketplace \
    --action install-catalog \
    --args "--inputDir {{ _case_dir }} \
{% if _current_cartridge.search_string == "ibm-cp-common-services" and (_p_current_cp4d_cluster.image_registry_name | default("")) != "" %}
    --registry {{ private_registry_url_namespace }} \
{% elif _current_cartridge.search_string == "ibm-cp-common-services" and (_p_current_cp4d_cluster.image_registry_name | default("")) == "" %}
    --registry icr.io
{% endif %}
    --recursive"