apiVersion: v1
kind: ConfigMap
metadata:
  name: "000-bamoe-maven-settings"
  namespace: "{{ bamoe_project_name }}"
  labels:
    app: nexus  
data:
  settings.xml: |- 
    {{ lookup('file', bamoe_output_directory+'/maven-settings.xml') | indent(4) }}
