kind: Service
apiVersion: v1
metadata:
  name: bamoe-extended-services
  namespace: "{{ bamoe_project_name }}"
spec:
  selector:
    app: bamoe-extended-services
  ports:
    - protocol: TCP
      port: 21345
      targetPort: 21345
---
apiVersion: v1
kind: Service
metadata:
  name: bamoe-cors-proxy
  namespace: "{{ bamoe_project_name }}"
spec:
  selector:
    app: bamoe-cors-proxy
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: bamoe-canvas
  namespace: "{{ bamoe_project_name }}"
spec:
  selector:
    app: bamoe-canvas
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: bamoe-management-console
  namespace: "{{ bamoe_project_name }}"
spec:
  selector:
    app: bamoe-management-console
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: bamoe-maven-repository
  namespace: "{{ bamoe_project_name }}"
spec:
  selector:
    app: bamoe-maven-repository
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: bamoe-mcp-server
  namespace: "{{ bamoe_project_name }}"
  labels:
    app: bamoe-mcp-server
spec:
  selector:
    app: bamoe-mcp-server
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP
