apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: netcool-integrations-operator
  namespace: {{ current_cp4waiops_cluster.project }}
spec:
  channel: "v3.6"
  installPlanApproval: Automatic
  name: netcool-integrations-operator
  source: ibm-operator-catalog
  sourceNamespace: openshift-marketplace
