provider "helm" {
  kubernetes {
    config_path = "{{ status_dir }}/openshift/kubeconfig"
  }
}

resource "random_id" "name" {
  byte_length = 4
}

resource "helm_release" "test" {
  name        = "terahelm${random_id.name.hex}"
  namespace   = "kube-system"
  repository = "https://raw.githubusercontent.com/IBM/charts/master/repo/community/"
  chart       = "portworx"
  wait        = true
  set {
    name  = "etcd.secret"
    value = "px-etcd-certs"
  }
  set {
    name  = "kvdb"
    value = "{{ _pwx_etc_endpoint }}"
  }
  set {
    name  = "clusterName"
    value = "{{ current_openshift_cluster.name }}"
  }

}