spec:
  datasource_configuration:
    dc_os_datasources:
      - dc_database_type: postgresql
        dc_os_label: fpos
        dc_common_os_datasource_name: FPOS
        dc_common_os_xa_datasource_name: FPOSXA
        database_servername: "{{ cp4ba_postgresql_hostname }}"
        database_name: fpos
        database_port: "5432"      
      - dc_database_type: postgresql
        dc_os_label: ros
        dc_common_os_datasource_name: ROS
        dc_common_os_xa_datasource_name: ROSXA
        database_servername: "{{ cp4ba_postgresql_hostname }}"
        database_name: ros
        database_port: "5432"
  initialize_configuration:
    ic_obj_store_creation:
      object_stores:
        - oc_cpe_obj_store_display_name: FPOS
          oc_cpe_obj_store_symb_name: FPOS
          oc_cpe_obj_store_conn:
            name: FPOS_dbconnection
            dc_os_datasource_name: FPOS
            dc_os_xa_datasource_name: FPOSXA
          oc_cpe_obj_store_admin_user_groups: [{% for item in (lc_admin_groups+lc_admin_users) %}'{{ item }}'{{ "," if not loop.last else "" }}{% endfor %}] 
          oc_cpe_obj_store_asa_name: fpos_asa
          oc_cpe_obj_store_asa_file_systems_storage_device_name: fpos_file_system_storage
          oc_cpe_obj_store_asa_root_dir_path: /opt/ibm/asa/fpos_storagearea1
          oc_cpe_obj_store_enable_workflow: true
          oc_cpe_obj_store_workflow_region_name: fpos_region_name
          oc_cpe_obj_store_workflow_data_tbl_space: fpos_tbs
          oc_cpe_obj_store_workflow_admin_group: "{{ lc_principal_admin_group }}"
          oc_cpe_obj_store_workflow_config_group: "{{ lc_principal_admin_group }}"
          oc_cpe_obj_store_workflow_pe_conn_point_name: "pe_conn_fpos"
        - oc_cpe_obj_store_display_name: ROS
          oc_cpe_obj_store_symb_name: ROS
          oc_cpe_obj_store_conn:
            name: ROS_dbconnection
            dc_os_datasource_name: ROS
            dc_os_xa_datasource_name: ROSXA
          oc_cpe_obj_store_admin_user_groups: [{% for item in (lc_admin_groups+lc_admin_users) %}'{{ item }}'{{ "," if not loop.last else "" }}{% endfor %}] 
          oc_cpe_obj_store_asa_name: ros_asa
          oc_cpe_obj_store_asa_file_systems_storage_device_name: ros_file_system_storage
          oc_cpe_obj_store_asa_root_dir_path: /opt/ibm/asa/ros_storagearea1
    ic_icn_init_info:
      icn_repos:
        - add_repo_id: FPOS
          add_repo_os_sym_name: FPOS
          add_repo_os_dis_name: FPOS
        - add_repo_id: ROS
          add_repo_os_sym_name: ROS
          add_repo_os_dis_name: ROS
      icn_desktop:     
        - add_desktop_id: ROS
          add_desktop_name: ROS
          add_desktop_description: ROS
          add_desktop_repo_id: ROS
  verify_configuration:
    vc_icn_verification:
      - vc_icn_repository: ROS
        vc_icn_desktop_id: ROS
