cloudctl case launch --case "{{ _case_dir }}/{{ current_cp4waiops_feature.case_name }}-{{ current_cp4waiops_feature.case_version }}.tgz" \
    --inventory {{ current_cp4waiops_feature.case_inventory_setup }} \
    --namespace openshift-marketplace \
    --action install-catalog \
    --args "--inputDir {{ _case_dir }} \
    --registry icr.io"