{
    "name": "{{ _p_openshift_logging.openshift_cluster_name }}-{{ _current_cluster_wide_logging.input }}",
    "inputRefs": [
            "{{ _current_cluster_wide_logging.input }}"
    ],
    "outputRefs": [
            "{{ _openshift_logging_output.name }}"
    ]
{% if _openshift_logging_output.type == 'loki' %}
    ,
    "loki": {"tenantKey": "kubernetes.namespace_name"}
{% endif %}
}