'{"spec": 
    {"outputs":[
    {% for _o in _p_openshift_logging.logging_output %}
    { "name": "{{ _o.name }}", 
      "type": "{{ _o.type }}", 
      "url": "{{ _o.url }}", 
      "secret": 
        {"name": "{{ _o.name }}-secret"}} {{ "," if not loop.last else "" }} 
    {% endfor %}
    ]}
}'