apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: cp4d-pull-secret-ds
  namespace: kube-system
  labels:
    tier: management
    app: cp4d-pull-secret-ds
spec:
  selector:
    matchLabels:
      name: cp4d-pull-secret-ds
  template:
    metadata:
      labels:
        name: cp4d-pull-secret-ds
    spec:
      hostNetwork: true
      hostPID: true
      hostIPC: true
      containers:
        - name: sleepforever
          resources:
            requests:
              cpu: 0.01
          image: registry.access.redhat.com/ubi8:latest
          command: ["/bin/sh", "-c"]
          args:
            - >
              date >> /ext-tmp/cp4d-pull-secret-ds.log ;
              echo "Old Docker config in file /.docker/config.json"
              cat /ext-config/config.json ;
              echo "New Docker config that will be set" ;
              cat /pull-secret/newdockerconfigjson ;
              echo "Setting new Docker config in file /.docker/config.json on host" ;
              cat /pull-secret/newdockerconfigjson > /ext-config/config.json ;
              while true; do
                sleep 100000;
              done
          volumeMounts:
            - name: pull-secret
              mountPath: /pull-secret
              readOnly: true
            - name: modifytmp
              mountPath: /ext-tmp
            - name: modifyconfig
              mountPath: /ext-config
      volumes:
        - name: pull-secret
          secret:
            secretName: cp4d-pull-secret
        - name: modifytmp
          hostPath:
            path: /tmp
        - name: modifyconfig
          hostPath:
            path: /.docker
