#!/bin/bash

#
# This script changes the node settings on ever worker for Cloud Pak for Data
#

NODE_UPDATED=0

# Change kubelet.conf to allow Db2 pods to run with unsafe Sysctls
if ! grep allowedUnsafeSysctls /etc/kubernetes/kubelet.conf;then 
  echo "" >> /etc/kubernetes/kubelet.conf
  echo 'allowedUnsafeSysctls:' >> /etc/kubernetes/kubelet.conf
  echo '  - "kernel.msg*"' >> /etc/kubernetes/kubelet.conf
  echo '  - "kernel.shm*"' >> /etc/kubernetes/kubelet.conf
  echo '  - "kernel.sem"' >> /etc/kubernetes/kubelet.conf
  NODE_UPDATED=1
  echo "UnsafeSysctls changes made to /etc/kubernetes/kubelet.conf" >> /tmp/cp4d-node-fix.log
fi

# Change crio.conf to allow for more processes in container
if ! grep "pids_limit = 12288" /etc/crio/crio.conf;then
  sed -i -e "/pids_limit = /s/ [0-9].*/ 12288/" /etc/crio/crio.conf
  sed -i -e '/#default_ulimit/s/ .*/ \ndefault_ulimits = [\n        "nofile=66560:66560"\n]/' /etc/crio/crio.conf
  NODE_UPDATED=1
  echo "CRIO changes made to /etc/crio/crio.conf" >> /tmp/cp4d-node-fix.log
fi

if [ $NODE_UPDATED -eq 1 ];then
  echo "Restarting kubelet and crio daemons" >> /tmp/cp4d-node-fix.log
  systemctl restart kubelet
  systemctl restart crio
fi

echo "Finished checking node CP4D node settings" >> /tmp/cp4d-node-fix.log