apiVersion: operator.openshift.io/v1alpha1
kind: ImageContentSourcePolicy
metadata:
  name: {{ icsp_name }}
spec:
  repositoryDigestMirrors:
  - mirrors:
    - {{ current_image_registry.registry_host_name }}{% if current_image_registry.registry_port | default('') != '' %}:{{ current_image_registry:registry_port }}{% endif %}{% if current_image_registry.namespace | default('') != '' %}/{{ current_image_registry.namespace }}{% endif %}/cp
    source: cp.icr.io/cp
  - mirrors:
    - {{ current_image_registry.registry_host_name }}{% if current_image_registry.registry_port | default('') != '' %}:{{ current_image_registry:registry_port }}{% endif %}{% if current_image_registry.namespace | default('') != '' %}/{{ current_image_registry.namespace }}{% endif %}/cp/cpd
    source: cp.icr.io/cp/cpd
  - mirrors:
    - {{ current_image_registry.registry_host_name }}{% if current_image_registry.registry_port | default('') != '' %}:{{ current_image_registry:registry_port }}{% endif %}{% if current_image_registry.namespace | default('') != '' %}/{{ current_image_registry.namespace }}{% endif %}/cpopen
    source: icr.io/cpopen
  - mirrors:
    - {{ current_image_registry.registry_host_name }}{% if current_image_registry.registry_port | default('') != '' %}:{{ current_image_registry:registry_port }}{% endif %}{% if current_image_registry.namespace | default('') != '' %}/{{ current_image_registry.namespace }}{% endif %}/opencloudio
    source: quay.io/opencloudio
  - mirrors:
    - {{ current_image_registry.registry_host_name }}{% if current_image_registry.registry_port | default('') != '' %}:{{ current_image_registry:registry_port }}{% endif %}{% if current_image_registry.namespace | default('') != '' %}/{{ current_image_registry.namespace }}{% endif %}/ibmcom
    source: docker.io/ibmcom