apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: cp4d-pull-secret-entitled
  namespace: kube-system
  labels:
    tier: management
    app: cp4d-pull-secret-entitled
spec:
  selector:
    matchLabels:
      name: cp4d-pull-secret-entitled
  template:
    metadata:
      labels:
        name: cp4d-pull-secret-entitled
    spec:
      hostNetwork: true
      hostPID: true
      hostIPC: true
      containers:
        - name: sleepforever
          resources:
            requests:
              cpu: 0.01
          image: registry.access.redhat.com/ubi8:latest
          command: ["/bin/sh", "-c"]
          args:
            - >
              date >> /ext-tmp/cp4d-pull-secret-entitled.log ;
              yum install -y jq ;
              cat /ext-config/config.json ;
              cat /ext-config/config.json | \
                jq --arg registry "{{ entitled_registry }}" \
                --arg pull_secret $(echo -n "cp:{{ ibm_cp_entitlement_key }}" | base64 -w0) \
                '.auths += {($registry): {"auth": $pull_secret, "email": "not-used"}}' \
                > /ext-tmp/newdockerconfigjson ;
              cat /ext-tmp/newdockerconfigjson > /ext-config/config.json ;
              cat /ext-config/config.json ;
              while true; do
                sleep 100000;
              done
          volumeMounts:
            - name: modifytmp
              mountPath: /ext-tmp
            - name: modifyconfig
              mountPath: /ext-config
      volumes:
        - name: modifytmp
          hostPath:
            path: /tmp
        - name: modifyconfig
          hostPath:
            path: /.docker
