apiVersion: operator.openshift.io/v1alpha1
kind: ImageContentSourcePolicy
metadata:
  name: cloud-pak-for-data-mirror
spec:
  repositoryDigestMirrors:
  - mirrors:
    - {{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}
    - {{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}/cp
    source: cp.icr.io/cp
  - mirrors:
    - {{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}
    - {{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}/cp
    - {{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}/cp/cpd
    source: cp.icr.io/cp/cpd
  - mirrors:
    - {{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}
    - {{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}/cpopen
    source: icr.io/cpopen
  - mirrors:
    - {{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}
    - {{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}/opencloudio
    source: quay.io/opencloudio
  - mirrors:
    - {{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}
    - {{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}/ibmcom
    source: docker.io/ibmcom