## ICSP replacement START
[[registry]]
  prefix = ""
  location = "cp.icr.io/cp"
  mirror-by-digest-only = true

    [[registry.mirror]]
    location = "{{ current_image_registry.registry_host_name }}{% if current_image_registry.registry_port | default('') != '' %}:{{ current_image_registry:registry_port }}{% endif %}{% if current_image_registry.namespace | default('') != '' %}/{{ current_image_registry.namespace }}{% endif %}/cp"

[[registry]]
  prefix = ""
  location = "cp.icr.io/cp/cpd"
  mirror-by-digest-only = true

    [[registry.mirror]]
    location = "{{ current_image_registry.registry_host_name }}{% if current_image_registry.registry_port | default('') != '' %}:{{ current_image_registry:registry_port }}{% endif %}{% if current_image_registry.namespace | default('') != '' %}/{{ current_image_registry.namespace }}{% endif %}/cp/cpd"

[[registry]]
  prefix = ""
  location = "icr.io/cpopen"
  mirror-by-digest-only = true

    [[registry.mirror]]
    location = "{{ current_image_registry.registry_host_name }}{% if current_image_registry.registry_port | default('') != '' %}:{{ current_image_registry:registry_port }}{% endif %}{% if current_image_registry.namespace | default('') != '' %}/{{ current_image_registry.namespace }}{% endif %}/cpopen"

[[registry]]
  prefix = ""
  location = "quay.io/opencloudio"
  mirror-by-digest-only = true

    [[registry.mirror]]
    location = "{{ current_image_registry.registry_host_name }}{% if current_image_registry.registry_port | default('') != '' %}:{{ current_image_registry:registry_port }}{% endif %}{% if current_image_registry.namespace | default('') != '' %}/{{ current_image_registry.namespace }}{% endif %}/opencloudio"

[[registry]]
  prefix = ""
  location = "docker.io/ibmcom"
  mirror-by-digest-only = true

    [[registry.mirror]]
    location = "{{ current_image_registry.registry_host_name }}{% if current_image_registry.registry_port | default('') != '' %}:{{ current_image_registry:registry_port }}{% endif %}{% if current_image_registry.namespace | default('') != '' %}/{{ current_image_registry.namespace }}{% endif %}/ibmcom"
## ICSP replacement END
