apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: cp4d-kubelet-config
  namespace: kube-system
  labels:
    tier: management
    app: cp4d-kubelet-config
spec:
  selector:
    matchLabels:
      name: cp4d-kubelet-config
  template:
    metadata:
      labels:
        name: cp4d-kubelet-config
    spec:
      hostNetwork: true
      hostPID: true
      hostIPC: true
      containers:
        - name: sleepforever
          resources:
            requests:
              cpu: 0.01
          image: quay.io/generic/centos8:latest
          command: ["/bin/sh", "-c"]
          args:
            - >
              date >> /ext-tmp/cp4d-kubelet-config.log ;
              if ! grep allowedUnsafeSysctls /ext-kubernetes/kubelet.conf;then 
              echo "" >> /ext-kubernetes/kubelet.conf;
              echo 'allowedUnsafeSysctls:' >> /ext-kubernetes/kubelet.conf;
              echo '  - "kernel.msg*"' >> /ext-kubernetes/kubelet.conf;
              echo '  - "kernel.shm*"' >> /ext-kubernetes/kubelet.conf;
              echo '  - "kernel.sem"' >> /ext-kubernetes/kubelet.conf;
              fi ;
              cat /ext-kubernetes/kubelet.conf ;
              while true; do
                sleep 100000;
              done
          volumeMounts:
            - name: modifytmp
              mountPath: /ext-tmp
            - name: modifykubelet
              mountPath: /ext-kubernetes
      volumes:
        - name: modifytmp
          hostPath:
            path: /tmp
        - name: modifykubelet
          hostPath:
            path: /etc/kubernetes
