## ICSP replacement START
[[registry]]
  prefix = ""
  location = "cp.icr.io/cp"
  mirror-by-digest-only = true

    [[registry.mirror]]
    location = "{{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}/cp"

[[registry]]
  prefix = ""
  location = "cp.icr.io/cp/cpd"
  mirror-by-digest-only = true

    [[registry.mirror]]
    location = "{{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}/cp/cpd"

[[registry]]
  prefix = ""
  location = "icr.io/cpopen"
  mirror-by-digest-only = true

    [[registry.mirror]]
    location = "{{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}/cpopen"

[[registry]]
  prefix = ""
  location = "quay.io/opencloudio"
  mirror-by-digest-only = true

    [[registry.mirror]]
    location = "{{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}/opencloudio"

[[registry]]
  prefix = ""
  location = "docker.io/ibmcom"
  mirror-by-digest-only = true

    [[registry.mirror]]
    location = "{{ ibm_cloud_cr_server }}/{{ current_cp4d_cluster.container_registry_namespace }}/ibmcom"
## ICSP replacement END
