resolversAuth:
  metadata:
    description:  This is the INTERNAL authorization file for downloading CASE packages from an internal repo
  resources:
    cases:
      repositories:
        DevGitHub:
          credentials:
            basic:
              username: not-specified@not-specified.com
              password: {{ _case_repo_token }}
        cloudPakCertRepo:
          credentials:
            basic:
              username: not-specified@not-specified.com
              password: {{ _case_repo_token }}
    containerImages:
      registries:
        entitledStage:
          credentials:
            basic:
              username: not-used
              password: not-used
