resolvers:
  metadata:
    description:  resolver file to map cases and registries. Used to get dependency cases
  resources:
    cases:
      repositories:
        DevGitHub:
          repositoryInfo:
            url: "https://{{ _case_repo_path_cp }}"
        cloudPakCertRepo:
          repositoryInfo:
            url: "https://{{ _case_repo_path_fs }}"
      caseRepositoryMap:
      - cases:
        - case: "*"
          version: "*"
        repositories:
        - cloudPakCertRepo