---
apiVersion: keycloak.org/v1alpha1
kind: Keycloak
metadata:
  name: {{ _keycloak_name }}
  labels:
    app: sso
  namespace: {{ _keycloak_name }}
spec:
  externalAccess:
    enabled: true
  keycloakDeploymentSpec:
    imagePullPolicy: Always
  postgresDeploymentSpec:
    imagePullPolicy: Always
  instances: 1