---
apiVersion: keycloak.org/v1alpha1
kind: Keycloak
metadata:
  name: {{ _current_keycloak.name }}
  labels:
    app: sso
  namespace: {{ _v_redhat_sso_project }}
spec:
  externalAccess:
    enabled: true
  keycloakDeploymentSpec:
    imagePullPolicy: Always
  postgresDeploymentSpec:
    imagePullPolicy: Always
  instances: 1