/opt/ansible/bin/apply-olm \
    --release={{ current_cp4d_cluster.cp4d_version }} \
    --case_download=false \
    --catsrc=false --sub=true --offline_dir={{ status_dir }}/cp4d/case -v \
    --components=cpfs,cpd_platform