apply-cr \
    --release={{ _p_cp4d_version }} \
    --license_acceptance={{ _cpd_accept_licenses | default(False) | string | lower }} \
    --preview={%- if _p_preview_script -%}true{%- else -%}false{%- endif %} \
    --upgrade={{ _upgrade_cp4d | default(False) | string | lower }} \
    -v \
    --cpd_instance_ns={{ current_cp4d_cluster.project }} \
    --components=cpfs,cpd_platform \
    --file_storage_class={{ ocp_storage_class_file }} --block_storage_class={{ ocp_storage_class_block }} \
    --param-file={{ status_dir }}/cp4d/{{ current_cp4d_cluster.project }}-install-options.yml