set -o pipefail
authorize-instance-topology \
    --cpd_operator_ns={{ current_cp4d_cluster.operators_project }} \
    --cpd_instance_ns={{ current_cp4d_cluster.project }} 2>&1 | tee {{ status_dir }}/log/{{ current_cp4d_cluster.project }}-authorize-instance.log