/opt/ansible/bin/authorize-instance-topology \
    --cpd_operator_ns={{ current_cp4d_cluster.operators_project | default('cpd-operators') }} \
    --cpd_instance_ns={{ current_cp4d_cluster.project }}
