{
    "auths": {
        "{{ entitled_registry }}": {
            "auth": "{{ entitled_auth | b64encode }}"
        },
        "{{ private_registry_url }}": {
            "auth": "{{ private_registry_auth | b64encode }}"
        }  
    }
}