apiVersion: v1
kind: ConfigMap
metadata:
  name: db2u-product-cm
  namespace: {{ current_cp4d_cluster.operators_project | default('cpd-operators') }}
data:
  DB2U_RUN_WITH_LIMITED_PRIVS: "{{ current_cp4d_cluster.db2u_limited_privileges | default(False) | string | lower }}"