deploy-knative-eventing \
    --release={{ current_cp4d_cluster.cp4d_version }} \
    --block_storage_class={{ ocp_storage_class_block }} \
    --events_operator_ns=ibm-knative-events \
{% if not _cp_alt_repo_used -%}
    --from_oci=true
{% endif -%}   