set -o pipefail
deploy-native-eventing \
    --release={{ current_cp4d_cluster.cp4d_version }} \
    --block_storage_class={{ ocp_storage_class_block }} \
    2>&1 | tee {{ status_dir }}/log/{{ current_cp4d_cluster.project }}-deploy-knative-eventing.log