apiVersion: cpd.ibm.com/v1
kind: Ibmcpd
metadata:
  name: ibmcpd-cr            
  namespace: {{ current_cp4d_cluster.project }}
spec:
  license:
    accept: {{ _cpd_accept_licenses | default(False) }}
    license: Enterprise

{% if selected_openshift_storage.storage_type == "ocs" %}
  storageVendor: ocs 
{% elif selected_openshift_storage.storage_type == "pwx" %}
  storageVendor: portworx
  storageClass: portworx-shared-gp3
{% else %}
  storageClass: {{ ocp_storage_class_file }}
{% endif %}
