install-components \
    --operator_ns={{ current_cp4d_cluster.operators_project }} \
    --instance_ns={{ current_cp4d_cluster.project }} \
    --components=cpd_platform \
    --release={{ _p_cp4d_version }} \
    --upgrade={{ _upgrade_cp4d | default(False) | string | lower }} \
    --file_storage_class={{ ocp_storage_class_file }} \
    --block_storage_class={{ ocp_storage_class_block }} \
    --param-file={{ status_dir }}/cp4d/{{ current_cp4d_cluster.project }}-install-options.yml \
    --license_acceptance=true