/opt/ansible/bin/migrate-scheduler \
    --release={{ current_cp4d_cluster.cp4d_version }} \
    --license_acceptance=true \
    --from_ns={{ foundational_services_project }} \
    --to_ns={{ scheduling_service_project }}