apiVersion: scheduler.spectrumcomputing.ibm.com/v1
kind: Scheduling
metadata:
  labels:
    release: cpd-scheduler
  name: ibm-cpd-scheduler
  namespace: {{ foundational_services_project }}
spec:
  version: {{ scheduler.version }}
  license:
    accept: true
  registry: cp.icr.io/cp/cpd
  releasename: ibm-cpd-scheduler