setup-instance-topology \
    --cpd_operator_ns={{ current_cp4d_cluster.operators_project }} \
    --cpd_instance_ns={{ current_cp4d_cluster.project }} \
    --release={{ current_cp4d_cluster.cp4d_version }} \
{% if not _cp_alt_repo_used -%}
    --from_oci=true \
{% endif -%}   
    --block_storage_class={{ ocp_storage_class_block }} \
    --license_acceptance=true 2>&1 | tee {{ status_dir }}/log/{{ current_cp4d_cluster.project }}-setup-instance-topology.log