spec:
  initialize_configuration:
    ic_css_creation:
      - css_text_search_server_name: "{{ cp4ba_cr_meta_name }}-css-1"
    ic_css_index_area:
      - object_store_name: CONTENT
        index_area_name: content_index_area
    ic_enable_cbr:
      - object_store_name: CONTENT
  verify_configuration:
    vc_cpe_verification:
      vc_cpe_cbr:
        - cbr_cpe_obj_store_name: CONTENT
