spec:
  ecm_configuration:
    tm:
      tm_production_setting:
{% if _current_cp4ba_cluster.cp4ba.patterns.content.enabled and _current_cp4ba_cluster.cp4ba.patterns.content.optional_components.ier %}      
        # Based on https://www.ibm.com/docs/en/enterprise-records/5.2.1?topic=in-configuring-content-navigator-task-manager-enterprise-records
        tm_job_url: "https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/ier/EnterpriseRecordsPlugin/IERApplicationPlugin.jar"
{% endif %}        
        security_roles_to_group_mapping:
          task_admins:
            groups: [{% for item in lc_admin_groups %}'{{ item }}'{{ "," if not loop.last else "" }}{% endfor %}]
          task_users:
            groups: [{% for item in lc_general_groups %}'{{ item }}'{{ "," if not loop.last else "" }}{% endfor %}]
          task_auditors:
            groups: [{% for item in lc_admin_groups %}'{{ item }}'{{ "," if not loop.last else "" }}{% endfor %}]      
