apiVersion: v1
kind: Secret
metadata:
  name: ibm-fncm-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  gcdDBUsername: gcddb
  gcdDBPassword: "{{ cp4ba_postgresql_universal_password }}"
  os1DBUsername: os1db
  os1DBPassword: "{{ cp4ba_postgresql_universal_password }}"
  appLoginUsername: "{{ lc_principal_admin_user }}"
  appLoginPassword: "{{ lc_principal_admin_password }}"
  keystorePassword: "{{ cp4ba_universal_password }}"
  ltpaPassword: "{{ cp4ba_universal_password }}"
