apiVersion: v1
kind: Secret
metadata:
  name: internal-idp-oidc-google-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  client_id: "{{ cp4ba_google_client_id }}"
  client_secret: "{{ cp4ba_google_client_secret }}"
