apiVersion: v1
kind: Secret
metadata:
  name: fncm-trusted-tls
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  tls.crt: |
    {{ _fncm_cos_root_crt | indent(4) }}
    {{ _fncm_iam_root_crt | indent(4) }}
