resource "ibm_is_vpc" "{{generator.attributes.name | replace("-", "_") }}" {
    name = "{{generator.attributes.name}}"
    resource_group = data.ibm_resource_group.thisresourcegroup.id

    address_prefix_management = "{{ generator.attributes.address_prefix_management | default('manual')}}"
    default_network_acl_name = "{{generator.attributes.name }}-acl-default"
    default_security_group_name = "{{generator.attributes.name }}-sg-default"
    default_routing_table_name = "{{generator.attributes.name }}-rt-default"
}