kind: ConfigMap
apiVersion: v1
metadata:
  name: akhq
  namespace: "{{ akhq_project_name }}"
  labels:
    app: akhq
data:
  application.yml: |
    akhq:
      server:
        access-log:
          enabled: true
          name: org.akhq.log.access
