kind: Secret
apiVersion: v1
metadata:
  name: akhq-secrets
  namespace: akhq
  labels:
    app: akhq
stringData:
  application-secrets.yml: >-
    akhq:
      connections:
        iaf-kafka:
          properties:
            bootstrap.servers: iaf-system-kafka-bootstrap-cp4ba.apps.65ba1b6ecd72d50011ce0ac4.cloud.techzone.ibm.com:443
            sasl.jaas.config: org.apache.kafka.common.security.scram.ScramLoginModule
              required username='cpadmin' password='kRcpE5fh6wQmdT';
            sasl.mechanism: SCRAM-SHA-512
            security.protocol: SASL_SSL
            ssl.truststore.location: /app/truststore.jks
            ssl.truststore.password: kRcpE5fh6wQmdT
    akhq:
      connections:
        iaf-kafka:
          properties:
            bootstrap.servers: "iaf-system-kafka-bootstrap-{{ akhq_cp4ba_project_name }}.{{ apps_endpoint_domain }}:443"
            security.protocol: SASL_SSL
            sasl.mechanism: SCRAM-SHA-512
            sasl.jaas.config: org.apache.kafka.common.security.scram.ScramLoginModule required username='{{ akhq_admin_user }}' password='{{ akhq_universal_password }}';
            ssl.truststore.location: /app/truststore.jks
            ssl.truststore.password: '{{ akhq_universal_password }}' 
  truststorejks: >-
    {{ _jks }}
type: Opaque
