kind: Service
apiVersion: v1
metadata:
  name: akhq
  namespace: "{{ akhq_project_name }}"
  labels:
    app: akhq
spec:
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: http
    - name: management
      protocol: TCP
      port: 28081
      targetPort: management
  selector:
    app: akhq
