configuration:
  akhq:
    server:
      access-log:
        enabled: true
        name: org.akhq.log.access
secrets:
  akhq:
    connections:
      iaf-kafka:
        properties:
          bootstrap.servers: "iaf-system-kafka-bootstrap-{{ akhq_cp4ba_project_name }}.{{ apps_endpoint_domain }}:443"
          security.protocol: SASL_SSL
          sasl.mechanism: SCRAM-SHA-512
          sasl.jaas.config: org.apache.kafka.common.security.scram.ScramLoginModule required username='{{ akhq_admin_user }}' password='{{ akhq_universal_password }}';
          ssl.truststore.location: /app/truststore.jks
          ssl.truststore.password: '{{ akhq_universal_password }}'
        # IAF apicurio avro not supported  
        #schema-registry:
        #  type: "confluent"
        #  url: "https://iaf-system-apicurio.cp4ba.svc.cluster.local"
        #  basic-auth-username: "{{ akhq_admin_user }}"
        #  basic-auth-password: '{{ akhq_universal_password }}'
        #  properties:
        #    schema.registry.ssl.truststore.location: /app/truststore.jks
        #    schema.registry.ssl.truststore.password: '{{ akhq_universal_password }}'
kafkaSecrets:
  truststorejks: "{{ _jks }}"
extraVolumeMounts:
  - name: secrets
    mountPath: /app/truststore.jks
    subPath: truststorejks
readinessProbe:
  prefix: "" # set same as `micronaut.server.context-path`
networkPolicy:
  enabled: false  
