data "ibm_resource_group" "resource_group" {
    name = "ibm"
}

{% for roks_cluster in all_config.get('roks') %}
{% set roks_name_modified = roks_cluster.name | replace("-", "") %}

resource "ibm_container_cluster" "{{ roks_name_modified }}" {
    name              = "{{ roks_cluster.name }}"
    resource_group_id = "{{ roks_cluster.resource_group_id }}"
    datacenter        = "{{ roks_cluster.classic_datacenter }}"
    default_pool_size = "{{ roks_cluster.compute_nodes }}"
    machine_type      = "{{ roks_cluster.compute_flavour }}"
    hardware          = "shared"
    kube_version      = "{{ roks_cluster.kube_version }}"
    public_vlan_id    = "{{ iaas_vlans.public.id }}"
    private_vlan_id   = "{{ iaas_vlans.private.id }}"
    public_service_endpoint  = "true"
    private_service_endpoint = "true"
    entitlement       = "cloud_pak"
    tags              = ["env:auto","pipeline:ansible"]
}

{% endfor %}

