{
    "addon_type": "{{ cp4d_wa_instance_addon_type }}",
    "display_name": "{{ _wa_instance.name }}",
    "namespace": "{{ current_cp4d_cluster.project }}",
    "addon_version": "{{ _wa_version.stdout }}",
    "create_arguments": {
        "deployment_id": "{{ current_cp4d_cluster.project }}-wa", 
	     "parameters": { 
	         "serviceId": "assistant", 
	         "url": "https://wa-store.{{ current_cp4d_cluster.project }}.svc.cluster.local:443/csb/v2/service_instances", 
	         "watson": true 
        }
    }
}