{
   "name":"{{ _wa_instance.name }}",
   "deployment_id":"cpd-wa",
   "description":"{{ _ae_instance.description | default('Watson Assistant') }}",
   "url":"https://wa-store.cpd.svc.cluster.local:443/csb/v2/service_instances"
}