# TODO(SJ): TEMPLATE
apiVersion: appconnect.ibm.com/v1beta1
kind: DesignerAuthoring
metadata:
  name: des-03-quickstart
  namespace: cp4i
spec:
  couchdb:
    replicas: 1
    storage:
      size: 10Gi
      type: persistent-claim
      class: rook-ceph-block
  designerFlowsOperationMode: local
  license:
    accept: true
    license: L-APEH-C49KZH
    use: CloudPakForIntegrationNonProduction
  replicas: 1
  useCommonServices: true
  version: '12.0'