# TODO(SJ): TEMPLATE
apiVersion: integration.ibm.com/v1beta1
kind: AssetRepository
metadata:
  name: development
  namespace: cp4i
spec:
  license:
    accept: true
    license: L-PNAA-C68928
  replicas: 1
  storage:
    assetDataVolume:
      class: managed-nfs-storage
    couchVolume:
      class: rook-ceph-block
  version: 2021.4.1-1