# TODO(SJ): TEMPLATE
apiVersion: integration.ibm.com/v1beta2
kind: OperationsDashboard
metadata:
  labels:
    app.kubernetes.io/instance: ibm-integration-operations-dashboard
    app.kubernetes.io/managed-by: ibm-integration-operations-dashboard
    app.kubernetes.io/name: ibm-integration-operations-dashboard
  name: cp4i-od-dev
  namespace: cp4i
spec:
  license:
    accept: true
    license: CP4I
  storage:
    configDbVolume:
      class: managed-nfs-storage
    sharedVolume:
      class: managed-nfs-storage
    tracingVolume:
      class: rook-ceph-block
  version: 2021.3.1-0