{
  "host": "{{ common_db2_hostname }}",
  "port": "50000",
  "databaseName": "{{ common_db2_db_name }}",
  "dataServerType": "DB2LUW",
  "name": "{{ common_db2_db_name }}",
  "operationCred": {
    "user": "db2inst1",
    "password": "{{ common_db2_password }}",
    "saveOperationCred": "true"
  },
  "sslConnection": "false"
}
