apiVersion: v1
kind: Route
metadata:
  name: "{{ common_route_name }}"
spec:
  host: "{{ common_route_name }}.{{ common_apps_endpoint_domain }}"
  to:
    kind: Service
    name: "{{ common_service_name }}"
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
    key: |-
      {{ common_edge_route_slurped_wildcard_key_data.content | b64decode | indent(6) }}
    certificate: |-
      {{ common_edge_route_slurped_wildcard_crt_data.content | b64decode | indent(6) }}
    caCertificate: |-
      {{ common_edge_route_slurped_ca_data.content | b64decode | indent(6) }}