apiVersion: v1
kind: Secret
metadata:
  name: "{{ common_icr_secret_name }}"
  namespace: "{{ common_namespace_name }}"
data:
  .dockerconfigjson: "{{ container_registry_json }}"
type: kubernetes.io/dockerconfigjson
