---

apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
    name: ibm-aiops-orchestrator
    namespace: {{current_cp4wa_cluster.project}}
spec:
    channel: {{current_cp4wa_cluster.cp4wa_version}}
    installPlanApproval: Automatic
    name: ibm-aiops-orchestrator
{% if (_use_case_files | default("False") | bool)  %}
    source: ibm-cp-waiops-catalog
{% else %}
    source: ibm-operator-catalog
{% endif %}
    sourceNamespace: openshift-marketplace