{
   "addon_type":"{{ cp4d_analyticsengine_instance_addon_type }}",
   "display_name":"{{ _ae_instance.name }}",
   "namespace":"{{ current_cp4d_cluster.project }}",
   "addon_version":"{{ _ae_version.stdout }}",
   "create_arguments":{
      "resources":{
      },
      "parameters":{
         "storageClass":"{{ ocp_storage_class_file }}",
         "storageSize":"{{ _ae_instance.storage_size_gb }}Gi",
         "volumeName":"{{ current_cp4d_cluster.project }}::{{ _ae_instance.name }}",
         "file_server":{
            "start":true
         }
      },
      "description":"",
      "metadata":{
         "storageClass":"{{ ocp_storage_class_file }}",
         "storageSize":"{{ _ae_instance.storage_size_gb }}Gi",
         "volumeName":"{{ current_cp4d_cluster.project }}::{{ _ae_instance.name }}",
         "file_server":{
            "start":true
         }
      },
      "owner_username":""
   },
   "pre_existing_owner":false,
   "transientFields":{
   }
}