kind: ConfigMap
apiVersion: v1
metadata:
  name: postgresql-extended-config
  namespace: "{{ postgresql_project_name }}"
data:
  override.conf: |
    max_connections=500
    max_prepared_transactions=500
