kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: postgresql-data
  namespace: postgresql
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: "{{ postgresql_storage_class_name }}"
  volumeMode: Filesystem
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: postgresql-tablespaces
  namespace: postgresql
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: "{{ postgresql_storage_class_name }}"
  volumeMode: Filesystem
