kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: postgresql-data
  namespace: "{{ postgresql_project_name }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: "{{ postgresql_storage_class_name }}"
  volumeMode: Filesystem
