kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: postgresql-anyuid
  namespace: "{{ postgresql_project_name }}"
subjects:
  - kind: ServiceAccount
    name: postgresql
    namespace: "{{ postgresql_project_name }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:openshift:scc:anyuid