kind: Secret
apiVersion: v1
metadata:
  name: postgresql-password
  namespace: "{{ postgresql_project_name }}"
  labels:
    app: postgresql  
stringData:
  postgres-password: "{{ postgresql_universal_password }}"
type: Opaque