kind: Secret
apiVersion: v1
metadata:
  name: postgresql-config
  namespace: postgresql
stringData:
  POSTGRES_DB: postgres
  POSTGRES_USER: "{{ postgresql_admin_user }}"
  POSTGRES_PASSWORD: "{{ postgresql_universal_password }}"
  