kind: Service
apiVersion: v1
metadata:
  name: postgresql
  namespace: "{{ postgresql_project_name }}"    
  labels:
    app: postgresql
spec:
  type: NodePort
  ports:
    - port: 5432
  selector:
    app: postgresql
