{# start - nfs_server definition #}

resource "ibm_is_share" "{{generator.attributes.name | replace("-", "_") }}" {
    name                = "{{ generator.attributes.name }}"
    access_control_mode = "security_group"
    size                = {{ generator.attributes.infrastructure.volume_size_gb}}
    profile             = "dp2"
    resource_group      = data.ibm_resource_group.thisresourcegroup.id
    zone                = "{{ generator.attributes.infrastructure.zone }}"
    lifecycle {
      ignore_changes    = [ resource_group ]
    }
}

resource "ibm_is_share_mount_target" "{{generator.attributes.name | replace("_", "-") }}-mount" {
    share = ibm_is_share.{{generator.attributes.name | replace("-", "_") }}.id
    name  = "{{generator.attributes.name | replace("_", "-") }}-mount"
    virtual_network_interface {
        name = "{{generator.attributes.name }}-nic"
        subnet = ibm_is_subnet.{{generator.attributes.infrastructure.subnet | replace("-", "_") }}.id
  }
}

/* FOR DEBUGGING: generator.attributes:
{{generator.attributes | to_nice_json}}
*/