rosa create cluster --cluster-name {{ _current_openshift_cluster.name }} \
      --version {{ _current_openshift_cluster.ocp_version }} \
{% if _current_openshift_cluster.infrastructure.multi_zone | default(True) | bool %}
      --multi-az \
{% endif %}
{% if _current_openshift_cluster.infrastructure.use_sts | default(False) | bool %}
      --sts --mode auto \
{% endif %}
{% if _current_openshift_cluster.infrastructure.machine_cidr | default("") != "" %}
      --machine-cidr {{ _current_openshift_cluster.infrastructure.machine_cidr }} \
{% endif %}
{% for subnet_id in _current_openshift_cluster.infrastructure.subnet_ids | default([]) %}{{ "--subnet-ids " if loop.first else "," }}{{ subnet_id }}{% endfor %} \
      --region {{ _current_openshift_cluster.infrastructure.aws_region }} \
      --compute-machine-type {{ _current_openshift_cluster.compute_flavour }} \
      --compute-nodes {{ _current_openshift_cluster.compute_nodes }} \
      --yes