  OpenShift Console URL: {{ _openshift_console_endpoint.stdout }}
  OpenShift API endpoint: {{ _openshift_api_endpoint.stdout }}
{% if _kubeadmin_password | default('') != '' %}
  kubeadmin password: {{ _kubeadmin_password }}
{% endif %}
{% if _oc_login_secret | default('') != '' %}
  OpenShift login: {{ _oc_login_secret }}
{% endif %}