apiVersion: apps/v1
kind: Deployment
metadata:
  name: db2mc
  namespace: db2mc
  labels:
    app: db2mc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db2mc
  template:
    metadata:
      labels:
        app: db2mc
    spec:
      containers:
        - name: db2mc
          image: "ibmcom/db2console:{{ db2mc_image_tag }}"
          ports:
            - containerPort: 8443
          volumeMounts:
            - name: db2mc
              mountPath: /mnt
            - name: password
              readOnly: true
              mountPath: /opt/ibm-datasrvrmgr/secrets/SUPER_PASSWORD
              subPath: password
            - name: tls
              readOnly: true
              mountPath: /opt/ibm/console/certs              
          env:
            - name: ADMIN_NAME
              value: "{{ db2mc_admin_user }}"
            - name: LICENSE
              value: accept
            - name: POD_NAME
              value: db2mc
          startupProbe:
            exec:
              command:
                - sh
                - -c
                - cat /opt/ibm-datasrvrmgr/logs/messages.log | grep "The dsweb server is ready to run a smarter planet"
            failureThreshold: 30
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 8443
            initialDelaySeconds: 45
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 5
          livenessProbe:
            tcpSocket:
              port: 8443
            initialDelaySeconds: 45
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 10
      volumes:
        - name: db2mc
          persistentVolumeClaim:
            claimName: db2mc
        - name: password
          secret:
            secretName: password
            defaultMode: 256
        - name: tls
          secret:
            secretName: tls
            defaultMode: 256
