apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: db2mc
  namespace: db2mc
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: "{{ db2mc_storage_class_name }}"
  resources:
    requests:
      storage: 10Gi
