kind: Secret
apiVersion: v1
metadata:
  name: password
  namespace: db2mc
stringData:
  password: "{{ db2mc_universal_password }}"
type: Opaque
---
kind: Secret
apiVersion: v1
metadata:
  name: tls
  namespace: db2mc
data:
  tls.key: "{{_tls_key}}"
  tls.crt: "{{_tls_crt}}"
type: Opaque
