kind: Service
apiVersion: v1
metadata:
  name: db2mc
  namespace: db2mc
spec:
  ports:
    - protocol: TCP
      port: 8443
      targetPort: 8443
  selector:
    app: db2mc
  type: ClusterIP
  sessionAffinity: None
