/opt/ansible/bin/apply-olm \
    --release={{ _p_current_cp4d_cluster.cp4d_version }} \
    --case_download=false \
    --catsrc=false --sub=true --offline_dir={{ status_dir }}/cp4d/case -v \
    --preview={%- if _p_preview_script -%}true{%- else -%}false{%- endif %} \
    --components=cpfs,cpd_platform