apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ibm-db2aaservice-cp4d-operator-catalog-subscription
  namespace: {{ foundational_services_project }}
  generation: 1
spec:
  channel: {{ current_cp4d_cartridge.subscription_channel }}
  name: ibm-db2aaservice-cp4d-operator
  installPlanApproval: Automatic
{% if not (_use_case_files | bool) %}
  source: ibm-operator-catalog
  sourceNamespace: openshift-marketplace
{% else %}
  source: ibm-db2aaservice-cp4d-operator-catalog
  sourceNamespace: openshift-marketplace
{% endif %}
  startingCSV: ibm-db2aaservice-cp4d-operator.v1.0.1