apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ibm-db2u-operator
  namespace: {{ foundational_services_project }}
  generation: 1
spec:
  channel: {{ _current_cp4d_cartridge.subscription_channel | default(_default_channel) }}
  name: db2u-operator
  installPlanApproval: Automatic
{% if not (_use_case_files | bool) %}
  source: ibm-operator-catalog
  sourceNamespace: openshift-marketplace
{% else %}
  source: ibm-db2uoperator-catalog
  sourceNamespace: openshift-marketplace
{% endif %}
