apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ibm-planning-analytics-subscription
  namespace: {{ foundational_services_project }}
spec:
  channel: {{ _current_cp4d_cartridge.subscription_channel | default(_default_channel) }}
  installPlanApproval: Automatic
  name: ibm-planning-analytics-operator
{% if not (_use_case_files | bool) %}
  source: ibm-operator-catalog
  sourceNamespace: openshift-marketplace
{% else %}
  source: ibm-planning-analytics-operator-catalog
  sourceNamespace: openshift-marketplace
{% endif %}