apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ibm-voice-gateway-operator-subscription
  namespace: {{ foundational_services_project }}
spec:
  channel: {{ _current_cp4d_cartridge.subscription_channel | default(_default_channel) }}
  installPlanApproval: Automatic
  name: ibm-voice-gateway-operator
  source: ibm-voice-gateway-operator-catalog
  sourceNamespace: openshift-marketplace