apiVersion: v1
kind: Secret
metadata:
  name: custom-bpc-workforce-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  workforce-insights-configuration.yml: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: custom-bai-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  management-username: "{{ lc_principal_admin_user }}"
  management-password: "{{ lc_principal_admin_password }}"
