spec:
  bai_configuration:
    bai_secret: custom-bai-secret
    settings:
      egress: true
    flink:
      create_route: true
      additional_task_managers: 1
    business_performance_center:
      workforce_insights_secret: custom-bpc-workforce-secret
    management:  
    bpmn:
      install: true
      force_elasticsearch_timeseries: true
    bawadv:
      install: true
    icm:
      install: true
    odm:
      install: true
    ads:
      install: true
    content:
      install: true
    navigator:
      install: true
    event_forwarder:
      install: false
