apiVersion: v1
kind: Secret
metadata:
  name: custom-bpc-workforce-secret
  namespace: "{{ cp4ba_project_name }}"
stringData:
  workforce-insights-configuration.yml: |-
    - bpmSystemId: {{ system_id }}
      url: {{ url }}
      username: {{ username }}
      password: {{ password }} 