apiVersion: v1
kind: Secret
metadata:
  name: ibm-providers-config-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  providers_config.json: |
    {
      "active_llm": "watsonx_ai",
      "llms": {
        "watsonx_ai": {
          "provider": "watsonx",
          "deployment_mode": "saas",
          "url": "{{ _current_cp4ba_cluster.cp4ba.patterns.content.gen_ai.mlUrl | default('https://us-south.ml.cloud.ibm.com') }}",
          "project_id": "{{ _current_cp4ba_cluster.cp4ba.patterns.content.gen_ai.projectId | default('project_id') }}",
          "api_key": "{{ _current_cp4ba_cluster.cp4ba.patterns.content.gen_ai.apiKey | default('watsonx_ai_api_key') }}",
          "model": "{{ _current_cp4ba_cluster.cp4ba.patterns.content.gen_ai.defaultFoundationModel | default('openai/gpt-oss-120b') }}",
          "max_completion_tokens": 2048,
          "temperature": 0.7
        }
      }
    }
---
apiVersion: v1
kind: Secret
metadata:
  name: mcp-oauth-client-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  client_id: "cpmanager-client"
  client_secret: "{{ cp4ba_universal_password }}"
