apiVersion: v1
kind: Secret
metadata:
  name: ibm-providers-config-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  providers_config.json: |
{% if _current_cp4ba_cluster.cp4ba.patterns.content.gen_ai.provider == 'watsonx' %}
    {
      "active_llm": "watsonx_ai",
      "llms": {
        "watsonx_ai": {
          "provider": "watsonx",
          "api_key": "{{ _current_cp4ba_cluster.cp4ba.patterns.content.gen_ai.api_key | default('watsonx_ai_api_key') }}",
          "model": "{{ _current_cp4ba_cluster.cp4ba.patterns.content.gen_ai.model | default('openai/gpt-oss-120b') }}",
          "max_completion_tokens": 2048,
          "temperature": 0.7,
          "url": "{{ _current_cp4ba_cluster.cp4ba.patterns.content.gen_ai.endpoint | default('https://us-south.ml.cloud.ibm.com') }}",
          "deployment_mode": "saas",
          "project_id": "{{ _current_cp4ba_cluster.cp4ba.patterns.content.gen_ai.watsonx_saas_config.project_id | default('project_id') }}"
        }
      }
    }
{% else %}
    {
      "active_llm": "azure",
      "llms": {
        "azure": {
          "provider": "azure",
          "api_key": "{{ _current_cp4ba_cluster.cp4ba.patterns.content.gen_ai.api_key | default('watsonx_ai_api_key') }}",
          "model": "{{ _current_cp4ba_cluster.cp4ba.patterns.content.gen_ai.model | default('openai/gpt-oss-120b') }}",
          "max_completion_tokens": 2048,
          "temperature": 0.7,
          "endpoint": "{{ _current_cp4ba_cluster.cp4ba.patterns.content.gen_ai.endpoint | default('https://<resource>.services.ai.azure.com') }}",
          "use_entra_id": false,
          "timeout": 60,
          "api_version": "2024-12-01-preview"
        }
      }
    }
{% endif %}
---
apiVersion: v1
kind: Secret
metadata:
  name: mcp-oauth-client-secret
  namespace: "{{ cp4ba_project_name }}"
type: Opaque
stringData:
  client_id: "cpmanager-client"
  client_secret: "{{ cp4ba_universal_password }}"
