apiVersion: v1
kind: ConfigMap
metadata:
  name: core-mcp-override-custom-configmap
  namespace: "{{ cp4ba_project_name }}"
data:
  AUTH_MODE: "dual"
  OIDC_CONFIG_URL: "https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/ccxai/mcpserver/.well-known/openid-configuration"
  OIDC_AUTHORIZATION_SERVER: "https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/idprovider/v1/auth"
  OIDC_JWKS_URL: "https://cpd-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}/auth/jwks"
  OIDC_ISSUER: "KNOXSSO,https://127.0.0.1:443/idauth/oidc/endpoint/OP"
  OIDC_REQUIRED_SCOPES: "openid,profile,email"
  MCP_SERVER_BASE_URL: "https://core-mcp-{{ cp4ba_project_name }}.{{ apps_endpoint_domain }}"
  IDP_CERT_PATH: ""
