apiVersion: console.openshift.io/v1
kind: ConsoleNotification
metadata:
  name: cpd-console-banner
spec:
  text: {{ _p_openshift_cluster.console_banner }}
  location: BannerTop
  color: '#fff'
  backgroundColor: '#0088ce'
