{{ status_dir }}/cp4d/{{ current_cp4d_cluster.project }}-5.2.0-day0-patch-v5.sh \
    --operator {{ current_cp4d_cluster.operators_project }} \
    --verbose --yes {% if _p_patch_plan | default(False) | bool %} --plan {% endif %}