apiVersion: ae.cpd.ibm.com/v1
kind: AnalyticsEngine
metadata:
  name: analyticsengine-sample
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  license:
    accept: {{ _cpd_accept_licenses | default(False) }}
    license: Enterprise
  version: {{ _current_cp4d_cartridge.version | default(_current_cp4d_cartridge.CR_Version) }}
{% if selected_openshift_storage.storage_type == "pwx" %}
  storageVendor: portworx
  storage_class: portworx-shared-gp3
{% else %}  
  storage_class: {{ ocp_storage_class_file }}
{% endif %}