/opt/ansible/bin/apply-olm \
    --release={{ _p_current_cp4d_cluster.cp4d_version }} \
    --case_download=false \
    --catsrc=false --sub=true \
    --upgrade={%- if _upgrade_cp4d -%}true{%- else -%}false{%- endif %} \
    --components=watsonx_orchestrate