apply-cr \
    --release={{ _p_cp4d_version }} \
    --license_acceptance={{ _cpd_accept_licenses | default(False) | string | lower }} \
    --preview={%- if _p_preview_script -%}true{%- else -%}false{%- endif %} \
    --upgrade={%- if _upgrade_cp4d -%}true{%- else -%}false{%- endif %} \
    -v \
    --cpd_instance_ns={{ _p_current_cp4d_cluster.project }} \
    --components={{ _current_cp4d_cartridge.olm_utils_name }} \
{% if _cartridge_install_options_file.stat.exists %}
    --param-file={{ status_dir }}/cp4d/{{ _p_current_cp4d_cluster.project }}-{{ _current_cp4d_cartridge.olm_utils_name }}-install-options.yml \
{% endif %}
{%- if _storage_type == "pwx" -%}
    --storage_vendor=portworx
{%- else -%}
    --file_storage_class={{ ocp_storage_class_file }} --block_storage_class={{ ocp_storage_class_block }}
{%- endif -%}