apply-cr \
    --release={{ _p_cp4d_version }} \
    --components=ws_runtimes \
    --cpd_instance_ns={{ _p_current_cp4d_cluster.project }} \
    --license_acceptance={{ _cpd_accept_licenses | default(False) | string | lower }} \
    --preview={%- if _p_preview_script -%}true{%- else -%}false{%- endif %} \
    --extra-vars="cr_name={{ _ws_runtime }}" \
    -v 