/opt/ansible/bin/apply-cr \
    --release={{ _p_current_cp4d_cluster.cp4d_version }} \
    --license_acceptance=true \
    -v \
    --cpd_instance_ns={{ _p_current_cp4d_cluster.project }} \
    --components={% for c in _cartridges_to_install -%}
{%- if (c.state | default('installed')) == 'installed' -%}
{%- if not loop.first -%},{% endif -%}
{{ c.olm_utils_name }}
{%- endif -%}
{%- endfor %} \
{% if selected_openshift_storage.storage_type == "ocs" -%}
    --storage_vendor=ocs --file_storage_class={{ ocp_storage_class_file }} --block_storage_class={{ ocp_storage_class_block }} --storage_class={{ ocp_storage_class_file }}
{%- elif selected_openshift_storage.storage_type == "pwx" -%}
    --storage_vendor=portworx
{%- else -%}
    --file_storage_class={{ ocp_storage_class_file }} --block_storage_class={{ ocp_storage_class_block }} --storage_class={{ ocp_storage_class_file }}
{%- endif -%}