apiVersion: db2u.databases.ibm.com/v1
kind: BigsqlService
metadata:
  name: bigsql-service-cr
  namespace: {{ _p_current_cp4d_cluster.project }}
labels:
  app.kubernetes.io/component: operator
  app.kubernetes.io/instance: db2-bigsql
  app.kubernetes.io/managed-by: ibm-bigsql-operator
  app.kubernetes.io/name: db2-bigsql
spec:
  namespace: {{ _p_current_cp4d_cluster.project }}
  license:
    accept: true
    license: Enterprise
{% if selected_openshift_storage.storage_type == "pwx" %}
  storageVendor: portworx
  storageClass: portworx-db2-rwx-sc
{% else %} 
  storageClass: {{ ocp_storage_class_file }}
{% endif %}
{% if current_cp4d_cartridge.version is defined %}
  version: {{ current_cp4d_cartridge.version }}
{% endif %}