apiVersion: ca.cpd.ibm.com/v1
kind: CAService
metadata:
  name: ca-addon-cr
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  namespace: {{ _p_current_cp4d_cluster.project }}
  license:
    accept: {{ cpd_accept_licenses | default(False) }}
    license: Enterprise
{% if selected_openshift_storage.storage_type == "pwx" %}
  storage_class: portworx-shared-gp3
{% else %} 
  storage_class: {{ ocp_storage_class_file }}
{% endif %}
{% if _current_cp4d_cartridge.version is defined %}
  version: {{ _current_cp4d_cartridge.version }}
{% endif %}