apiVersion: cde.cpd.ibm.com/v1
kind: CdeProxyService
metadata:
  name: cdeproxyservice-cr
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  license:
    accept: {{ _cpd_accept_licenses | default(False) }}
    license: Enterprise
{% if _storage_type == "pwx" %}
  storageClass: portworx-shared-gp3
{% else %} 
  storageClass: {{ ocp_storage_class_file }}
{% endif %}
  version: {{ _current_cp4d_cartridge.version | default(_current_cp4d_cartridge.CR_Version) }}