apiVersion: v1
kind: Secret
metadata:
  name: postgresql-operator-controller-manager-config
  namespace: {{ foundational_services_project }} 
type: Opaque
data:
  EDB_LICENSE_KEY: {{ _cpd_edb_license_key }}