oc patch --filename=/tmp/ibm-appconnect/inventory/ibmAppconnect/files/op-olm/catalog_source.yaml \
    --type=merge \
    -o yaml \
    --patch='{"metadata": {"namespace": "{{ _app_connect.app_connect_project }}"}}' \
    --dry-run=client | oc apply -n {{ _app_connect.app_connect_project }} -f -