apiVersion: datagate.cpd.ibm.com/v1
kind: DatagateService
metadata:
  name: datagateservice-cr
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  license:
    accept: {{ _cpd_accept_licenses | default(False) }}
    license: Enterprise
  datagate: yes
{% if selected_openshift_storage.storage_type == "pwx" %}
  storageVendor: portworx
  storageClass: portworx-db2-rwx-sc
{% else %} 
  storageClass: {{ ocp_storage_class_file }}
{% endif %}
  version: {{ _current_cp4d_cartridge.version | default(_current_cp4d_cartridge.CR_Version) }}