apiVersion: ds.cpd.ibm.com/v1alpha1
kind: DataStage
metadata:
  name: datastage
  namespace: {{ current_cp4d_cluster.project }}
spec:
  license:
    accept: true
    license: Enterprise
{% if current_cp4d_cartridge.version is defined %}
  version: {{ current_cp4d_cartridge.version }}
  storageClass: {{ ocp_storage_class_file }}
{% endif %}
