apiVersion: datagate.cpd.ibm.com/v1
kind: DatagateService
metadata:
  name: datagateservice-cr
  namespace: {{ current_cp4d_cluster.project }}
spec:
  license:
    accept: true
    license: Enterprise
  datagate: yes
  {% if selected_openshift_storage.storage_type == "pwx" %}
  storageVendor: portworx
  storageClass: portworx-db2-rwx-sc
  {% else %} 
  storageClass: {{ ocp_storage_class_file }}
  {% endif %}
{% if current_cp4d_cartridge.version is defined %}
  version: {{ current_cp4d_cartridge.version }}
{% endif %}