apiVersion: databases.cpd.ibm.com/v1
kind: Db2oltpService
metadata:
  name: db2oltp-cr     
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  namespace: {{ _p_current_cp4d_cluster.project }}
  license:
    accept: true
    license: Advanced
{% if _current_cp4d_cartridge.version is defined %}
  version: {{ _current_cp4d_cartridge.version }}
{% endif %}