apiVersion: databases.cpd.ibm.com/v1
kind: Db2aaserviceService
metadata:
  name: db2aaservice-cr
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  namespace: {{ _p_current_cp4d_cluster.project }}
  size: {{ current_cp4d_cartridge.size }}
  scaleConfig: {{ current_cp4d_cartridge.size }}
  storage_class_name: {{ ocp_storage_class_file }}
  storageClass: {{ ocp_storage_class_file }}
  storageOverride:
  license:
    accept: true
{% if current_cp4d_cartridge.version is defined %}
  version: {{ current_cp4d_cartridge.version }}
{% endif %}