apiVersion: dmc.databases.ibm.com/v1
kind: Dmcaddon
metadata:
  name: dmc-addon
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  license:
    accept: {{ _cpd_accept_licenses | default(False) }}
    license: Enterprise
  version: {{ _current_cp4d_cartridge.version | default(_current_cp4d_cartridge.CR_Version) }}