apiVersion: dmc.databases.ibm.com/v1
kind: Dmcaddon
metadata:
  name: dmc-addon
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  license:
    accept: true
    license: Enterprise
{% if _current_cp4d_cartridge.version is defined %}
  version: {{ _current_cp4d_cartridge.version }}
{% endif %}
