apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    app.kubernetes.io/instance:  ibm-cpd-dp-operator-catalog-subscription
    app.kubernetes.io/managed-by: ibm-cpd-dp-operator
    app.kubernetes.io/name:  ibm-cpd-dp-operator-catalog-subscription
  namespace: {{ foundational_services_project }}
  name: ibm-cpd-dp-operator-catalog-subscription
spec:
  channel: {{ current_cp4d_cartridge.subscription_channel }}
  installPlanApproval: Automatic
  name: ibm-cpd-dp
{% if not (_use_case_files | bool) %}
  source: ibm-operator-catalog
  sourceNamespace: openshift-marketplace
{% else %}
  source: ibm-cpd-dp-operator-catalog
  sourceNamespace: openshift-marketplace
{% endif %}