dpra_spark_instance_version: {{ _p_cp4d_version }}
file_storage_class: {{ ocp_storage_class_file }}
block_storage_class: {{ ocp_storage_class_block }}
dpra_profile_name: {{ _current_cp4d_cartridge.installation_options.dpra_profile_name | default('default') }}
dpra_scaling_profile_name: {{ _current_cp4d_cartridge.installation_options.dpra_scaling_profile_name | default('default') }}
dpra_enable_spark_history_server: {{ _current_cp4d_cartridge.installation_options.dpra_enable_spark_history_server | default('true') }}