apiVersion: db2u.databases.ibm.com/v1
kind: DvService
metadata:
  name: dv-service
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  license:
    accept: {{ _cpd_accept_licenses | default(False) }}
    license: Enterprise
  size: {{ _current_cp4d_cartridge.size }}
{% if _current_cp4d_cartridge.version is defined %}
  version: {{ _current_cp4d_cartridge.version }}
{% endif %}

