apiVersion: hadoop.cpd.ibm.com/v1
kind: Hadoop
metadata:
  name: hadoop-cr
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  docker_registry_prefix: cp.icr.io/cp/cpd
  size: {{ current_cp4d_cartridge.size }}
  license:
    accept: true
    license: Enterprise
{% if _current_cp4d_cartridge.version is defined %}
  version: {{ _current_cp4d_cartridge.version }}
{% endif %}
{% if selected_openshift_storage.storage_type == "pwx" %}
  storageVendor: portworx
  storageClass: portworx-shared-gp3
{% else %}
  storageClass: {{ ocp_storage_class_file }}
{% endif %}