apiVersion: iis.cpd.ibm.com/v1alpha1
kind: IIS
metadata:
  name: iis-cr
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  size: {{ current_cp4d_cartridge.size }}
  scaleConfig: {{ current_cp4d_cartridge.size }}
  storage_class_name: {{ ocp_storage_class_file }}
  storageClass: {{ ocp_storage_class_file }}
  storageOverride:
  license:
    license: Enterprise
    accept: true
  docker_registry_prefix: cp.icr.io/cp/cpd
  use_dynamic_provisioning: true
  cert_manager_enabled: true
  # iis_db2u_set_kernel_params: True
{% if current_cp4d_cartridge.version is defined %}
  version: {{ current_cp4d_cartridge.version }}
{% endif %}