apiVersion: mdm.cpd.ibm.com/v1
kind: MasterDataManagement
metadata:
  name: mdm-cr
  namespace: {{ current_cp4d_cluster.project }}
spec:
  license:
    accept: true
    license: Enterprise
{% if selected_openshift_storage.storage_type == "pwx" %}
  persistence:
    storage_vendor: portworx
    storage_class: portworx-shared-gp3 
{% else %} 
  persistence:
    storage_class: {{ ocp_storage_class_block }}
  shared_persistence:
    storage_class: {{ ocp_storage_class_file }}
{% endif %}
  wkc:
    enabled: {{ current_cp4d_cartridge.wkc_enabled }}
{% if current_cp4d_cartridge.version is defined %}
  version: {{ current_cp4d_cartridge.version }}
{% endif %}
