apiVersion: mdm.cpd.ibm.com/v1
kind: MasterDataManagement
metadata:
  name: mdm-cr
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  license:
    accept: true
    license: Enterprise
  persistence:
{% if selected_openshift_storage.storage_type == "pwx" %}
    storage_vendor: portworx
    storage_class: portworx-shared-gp3 
{% elif selected_openshift_storage.storage_type == "ocs" %}
    storage_vendor: ocs
    storage_class: {{ ocp_storage_class_block }}
  shared_persistence:
    storage_class: {{ ocp_storage_class_file }}
{% else %} 
    storage_class: {{ ocp_storage_class_block }}
{% endif %}
  wkc:
    enabled: {{ _current_cp4d_cartridge.wkc_enabled }}
{% if _current_cp4d_cartridge.version is defined %}
  version: {{ _current_cp4d_cartridge.version }}
{% endif %}
