apiVersion: openpages.cpd.ibm.com/v1 
kind: OpenPagesService 
metadata:
  name: openpages-cr
  namespace: {{ _p_current_cp4d_cluster.project }}
  labels:
    app.kubernetes.io/name: openpages
    app.kubernetes.io/instance: openpages-service
    app.kubernetes.io/version: {{ _current_cp4d_cartridge.version }}
    app.kubernetes.io/managed-by: ibm-cpd-openpages-operator 
spec:
  license:
    accept: {{ cpd_accept_licenses | default(False) }}
    license: Enterprise
{% if _current_cp4d_cartridge.version is defined %}
  version: {{ _current_cp4d_cartridge.version }}
{% endif %}
