apiVersion: pa.cpd.ibm.com/v1
kind: PAService
metadata:
  namespace: {{ _p_current_cp4d_cluster.project }}
  name: ibm-planning-analytics-service
  labels:
    app.kubernetes.io/instance: ibm-planning-analytics-service
    app.kubernetes.io/managed-by: ibm-planning-analytics-operator
    app.kubernetes.io/name: ibm-planning-analytics-service 
  annotations:
    ansible.sdk.operatorframework.io/verbosity: '3'
spec:
  license:
    accept: {{ _cpd_accept_licenses | default(False) }}
{% if _current_cp4d_cartridge.version is defined %}
  version: {{ _current_cp4d_cartridge.version }}
{% endif %}
  
