apiVersion: productmaster.cpd.ibm.com/v1
kind: ProductMaster
metadata:
  name: productmaster-cr
  namespace: {{ current_cp4d_cluster.project }}
spec:
  license:
    accept: true
    license: Enterprise
{% if selected_openshift_storage.storage_type == "pwx" %}
  storageClass: portworx-shared-gp3
{% else %} 
  storageClass: {{ ocp_storage_class_file }}
{% endif %}
  scaleConfig: {{ current_cp4d_cartridge.size }}
  quiesce: false
  registry_secret_name: ""
  app_secret_name: "app-secret"
  domain_name: ""
{% if current_cp4d_cartridge.version is defined %}
  version: {{ current_cp4d_cartridge.version }}
{% endif %}