apiVersion: productmaster.cpd.ibm.com/v1
kind: ProductMaster
metadata:
  name: productmaster-cr
  namespace: {{ current_cp4d_cluster.project }}
spec:
  license:
    accept: true
    license: Enterprise
  version: {{ current_cp4d_cartridge.version }}
  storageClass: {{ ocp_storage_class_file }}
  scaleConfig: {{ current_cp4d_cartridge.size }}
  quiesce: false
  registry_secret_name: ""
  app_secret_name: "app-secret"
  domain_name: ""
