oc patch {{ _current_cp4d_cartridge.CR_Kind }} {{ _current_cp4d_cartridge.CR_Name }}  \
    -n {{ _p_current_cp4d_cluster.project }} \ 
    --type merge \
    -p '{"spec": {{ _current_cp4d_cartridge.installation_options | to_json }} }'