setup-wxo-assistant \
    --cpd_instance_ns={{ _p_current_cp4d_cluster.project }} \
    --create_assistants=true \
    --user={{ _cp4d_user }} \
    --password={{ _cp4d_admin_password_vault }} \
    --auth_type=password