set -o pipefail
setup-mcg \
    --components={{ _p_component }} \
    --cpd_instance_ns={{ _p_current_cp4d_cluster.project }} \
    --noobaa_account_secret={{ _current_cp4d_cartridge.noobaa_account_secret | default('noobaa-admin') }} \
    --noobaa_cert_secret={{ _current_cp4d_cartridge.noobaa_cert_secret | default('noobaa-s3-serving-cert') }}