apiVersion: voicegateway.watson.ibm.com/v1
kind: VoiceGateway
metadata:
  name: voicegateway-cr
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  license:
    accept: {{ cpd_accept_licenses | default(False) }}
    license: Enterprise
  replicas: {{ _current_cp4d_cartridge.replicas }}
  sslConfig:
    disableSslCertValidation: true
  resources:
    sipOrchestrator:
      requests:
        cpu: "1.0"
        memory: 2Gi
      limits:
        cpu: "1.0"
        memory: 2Gi
    mediaRelay:
      requests:
        cpu: "0.5"
        memory: 1Gi
      limits:
        cpu: "0.5"
        memory: 1Gi 
{% if _current_cp4d_cartridge.version is defined %}
  version: {{ _current_cp4d_cartridge.version }}
{% endif %}        