apiVersion: knowledgestudio.watson.ibm.com/v1
kind: KnowledgeStudio
metadata:
  name: wks
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  license:
    accept: {{ _cpd_accept_licenses | default(False) }}
  global:
    storageClassName: {{ ocp_storage_class_file }}
    size: {{ _current_cp4d_cartridge.size | default('small') }}