---
apiVersion: assistant.watson.ibm.com/v1
kind: TemporaryPatch
metadata:
  name: wa-fix-clu-certs
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  apiVersion: assistant.watson.ibm.com/v1
  kind: WatsonAssistantClu
  name: wa
  patchType: patchJson6902
  patch:
      certmanager:
        cert-nlu:
          - op: remove
            path: /spec/dnsNames/3
          - op: remove
            path: /spec/dnsNames/2
          - op: add
            path: /spec/ipAddresses
            value: ["127.0.0.1", "::1"]
        cert-clu-embedding:
          - op: remove
            path: /spec/dnsNames/3
          - op: remove
            path: /spec/dnsNames/2
          - op: add
            path: /spec/ipAddresses
            value: ["127.0.0.1", "::1"]
        cert-clu-serving:
          - op: remove
            path: /spec/dnsNames/3
          - op: remove
            path: /spec/dnsNames/2
          - op: add
            path: /spec/ipAddresses
            value: ["127.0.0.1", "::1"]
        cert-clu-training:
          - op: remove
            path: /spec/dnsNames/3
          - op: remove
            path: /spec/dnsNames/2
          - op: add
            path: /spec/ipAddresses
            value: ["127.0.0.1", "::1"]
        cert-dragonfly-clu-mm:
          - op: remove
            path: /spec/dnsNames/3
          - op: remove
            path: /spec/dnsNames/2
          - op: add
            path: /spec/ipAddresses
            value: ["127.0.0.1", "::1"]
        cert-ed:
          - op: remove
            path: /spec/dnsNames/4
          - op: remove
            path: /spec/dnsNames/3
          - op: add
            path: /spec/ipAddresses
            value: ["127.0.0.1", "::1"]
        cert-master:
          - op: remove
            path: /spec/dnsNames/3
          - op: remove
            path: /spec/dnsNames/2
          - op: add
            path: /spec/ipAddresses
            value: ["127.0.0.1", "::1"]
        cert-recommends:
          - op: remove
            path: /spec/dnsNames/2
          - op: remove
            path: /spec/dnsNames/1
          - op: add
            path: /spec/ipAddresses
            value: ["127.0.0.1", "::1"]
        cert-spellchecker-mm:
          - op: remove
            path: /spec/dnsNames/15
          - op: remove
            path: /spec/dnsNames/14
          - op: remove
            path: /spec/dnsNames/3
          - op: remove
            path: /spec/dnsNames/2
          - op: add
            path: /spec/ipAddresses
            value: ["127.0.0.1", "::1"]
        cert-system-entities:
          - op: remove
            path: /spec/dnsNames/3
          - op: remove
            path: /spec/dnsNames/2
          - op: add
            path: /spec/ipAddresses
            value: ["127.0.0.1", "::1"]
        cert-tfmm:
          - op: remove
            path: /spec/dnsNames/3
          - op: remove
            path: /spec/dnsNames/2
          - op: add
            path: /spec/ipAddresses
            value: ["127.0.0.1", "::1"]
---
apiVersion: assistant.watson.ibm.com/v1
kind: TemporaryPatch
metadata:
  name: wa-fix-analytics-certs
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  apiVersion: assistant.watson.ibm.com/v1
  kind: WatsonAssistantAnalytics
  name: wa
  patchType: patchJson6902
  patch:
      certmanager:
        cert-analytics:
          - op: remove
            path: /spec/dnsNames/3
          - op: remove
            path: /spec/dnsNames/2
          - op: add
            path: /spec/ipAddresses
            value: ["127.0.0.1", "::1"]
---
apiVersion: assistant.watson.ibm.com/v1
kind: TemporaryPatch
metadata:
  name: wa-fix-integrations-certs
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  apiVersion: assistant.watson.ibm.com/v1
  kind: WatsonAssistantIntegrations
  name: wa
  patchType: patchJson6902
  patch:
      certmanager:
        cert-integrations:
          - op: remove
            path: /spec/dnsNames/2
          - op: remove
            path: /spec/dnsNames/1
          - op: add
            path: /spec/ipAddresses
            value: ["127.0.0.1", "::1"]
---
apiVersion: assistant.watson.ibm.com/v1
kind: TemporaryPatch
metadata:
  name: wa-fix-recommends-certs
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  apiVersion: assistant.watson.ibm.com/v1
  kind: WatsonAssistantRecommends
  name: wa
  patchType: patchJson6902
  patch:
      certmanager:
        cert-recommends:
          - op: remove
            path: /spec/dnsNames/2
          - op: remove
            path: /spec/dnsNames/1
          - op: add
            path: /spec/ipAddresses
            value: ["127.0.0.1", "::1"]
---
apiVersion: assistant.watson.ibm.com/v1
kind: TemporaryPatch
metadata:
  name: wa-fix-ui-certs
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  apiVersion: assistant.watson.ibm.com/v1
  kind: WatsonAssistantUi
  name: wa
  patchType: patchJson6902
  patch:
      certmanager:
        cert-ui:
          - op: remove
            path: /spec/dnsNames/2
          - op: remove
            path: /spec/dnsNames/1
          - op: add
            path: /spec/ipAddresses
            value: ["127.0.0.1", "::1"]
---
apiVersion: assistant.watson.ibm.com/v1
kind: TemporaryPatch
metadata:
  name: wa-fix-wa-certs
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  apiVersion: assistant.watson.ibm.com/v1
  kind: WatsonAssistant
  name: wa
  patchType: patchJson6902
  patch:
      certmanager:
        cert-elasticSearch-store:
          - op: remove
            path: /spec/dnsNames/1
          - op: add
            path: /spec/ipAddresses
            value: ["127.0.0.1"]
          - op: add
            path: /spec/commonName
            value: localhost
        cert-cos:
          - op: remove
            path: /spec/dnsNames/1
          - op: add
            path: /spec/ipAddresses
            value: ["127.0.0.1"]
---
apiVersion: assistant.watson.ibm.com/v1
kind: WatsonAssistant
metadata:
  name: wa
  namespace: {{ _p_current_cp4d_cluster.project }}
  annotations:
    oppy.ibm.com/disable-rollback: "true"
    oppy.ibm.com/log-default-level: "debug"
    oppy.ibm.com/log-filters: ""
    oppy.ibm.com/log-thread-id: "false"
    oppy.ibm.com/log-json: "false"
    oppy.ibm.com/temporary-patches: '{"wa-fix-wa-certs": {"timestamp": "2021-10-13T18:45:57.959534", "api_version": "assistant.watson.ibm.com/v1"}}'
  labels:
    app.kubernetes.io/managed-by: "Ansible"
    app.kubernetes.io/name: "watson-assistant"
    app.kubernetes.io/instance: "wa"    # This should match the value for metadata.name
spec:
  backup:
    offlineQuiesce: false
    onlineQuiesce: false
  cluster:
    dockerRegistryPrefix: ""

{% if _current_cp4d_cartridge.version < "4.0.5" %}
    imagePullSecrets:
    - wa-pull-secret
{% else %}
    imagePullSecrets: []
{% endif %}

{% if selected_openshift_storage.storage_type == "pwx" %}
    storageClassName: portworx-watson-assistant-sc
{% else %}  
    storageClassName: {{ ocp_storage_class_block }}
{% endif %}

    type: private
    name: prod # Do not change this value 
  cpd:
    namespace: {{ _p_current_cp4d_cluster.project }}
  datastores:
    cos:
      storageClassName: ""
      storageSize: 20Gi
    datagovernor:
      elasticSearch:
        storageSize: 55Gi
      etcd:
        storageSize: 55Gi
      kafka:
        storageSize: 55Gi
{% if selected_openshift_storage.storage_type == "pwx" %}
        storageClassName: portworx-watson-assistant-sc
{% else %}
        storageClassName: {{ ocp_storage_class_block }}
{% endif %}
      zookeeper:
        storageSize: 55Gi
    elasticSearch:
      analytics:
        storageClassName: ""
        storageSize: ""
      store:
        storageClassName: ""
        storageSize: ""
    etcd:
      storageClassName: ""
      storageSize: 1Gi
    kafka:
      storageClassName: ""
      storageSize: 5Gi
      zookeeper:
        storageSize: 1Gi
    modelTrain:
      postgres:
{% if selected_openshift_storage.storage_type == "pwx" %}
        storageClassName: portworx-watson-assistant-sc
{% else %}
        storageClassName: {{ ocp_storage_class_block }}
{% endif %}
        storageSize: 55Gi
      rabbitmq:
{% if selected_openshift_storage.storage_type == "pwx" %}
        storageClassName: portworx-watson-assistant-sc
{% else %}
        storageClassName: {{ ocp_storage_class_block }}
{% endif %}
        storageSize: 55Gi
    postgres:
      backupStorageClassName: ""
      storageClassName: ""
      storageSize: 5Gi
    redis:
      storageClassName: ""
      storageSize: ""
  features:
    analytics:
      enabled: true
    recommends:
      enabled: true
    tooling:
      enabled: true
    voice:
      enabled: false
  labels: {}
  languages:
  - en
  #- es
  #- pt-br
  #- fr
  #- it
  #- ja
  #- de
  #- ko
  #- ar
  #- nl
  #- zh-tw
  #- zh-cn
  #- cs
  license:
    accept: {{ _cpd_accept_licenses | default(False) }}
  size: {{ _current_cp4d_cartridge.size }}
{% if _current_cp4d_cartridge.version is defined %}
  version: {{ _current_cp4d_cartridge.version }}
{% endif %}