apiVersion: discovery.watson.ibm.com/v1
kind: WatsonDiscovery
metadata:
  name: wd
  namespace: {{ current_cp4d_cluster.project }}
spec:
  license:
    accept: true
  shared:
    deploymentType: Production
    storageClassName: {{ ocp_storage_class_block }}
  watsonGateway:
    version: main
{% if current_cp4d_cartridge.version is defined %}
  version: {{ current_cp4d_cartridge.version }}
{% endif %}