apiVersion: speech.watson.ibm.com/v1
kind: WatsonSpeech
metadata:
  name: speech-cr     # The recommended name of the custom resource, which you can change
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  license:
    accept: {{ _cpd_accept_licenses | default(False) }}
  version: {{ _current_cp4d_cartridge.version | default(_current_cp4d_cartridge.CR_Version) }}
################
# Storage class
################
{% if _storage_type == "pwx" %}
  storageClass: portworx-shared-gp3
{% else %}
  storageClass: {{ ocp_storage_class_file }}
{% endif %}
########################
# Configuration scaling
########################
  scaleConfig:  
    stt:  
      size: {{ _current_cp4d_cartridge.stt_size }}
    tts:  
      size: {{ _current_cp4d_cartridge.tts_size }}
#############################
# Speech services components
#############################
  tags:
    sttRuntime: true         # Enables the Speech to Text runtime component
    sttAsync: true           # Enables the Speech to Text asynchronous HTTP component
    sttCustomization: true   # Enables the Speech to Text customization component
    ttsRuntime: true         # Enables the Text to Speech runtime component
    ttsCustomization: true   # Enables the Text to Speech customization component
############################################
# Speech to Text previous-generation models
############################################
  global:
    sttModels:
      enUsBroadbandModel:            # US English (en-US) Broadband model
        enabled: true
      enUsNarrowbandModel:           # US English (en-US) Narrowband model
        enabled: true
      enUsShortFormNarrowbandModel:  # US English (en-US) Short-Form Narrowband model
        enabled: true
########################################
# Text to Speech enhanced neural voices
########################################
    ttsVoices:
      enUSAllisonV3Voice:  # US English (en-US) Allison enhanced neural voice 
        enabled: true
      enUSLisaV3Voice:     # US English (en-US) Lisa enhanced neural voice 
        enabled: true
      enUSMichaelV3Voice:  # US English (en-US) Michael enhanced neural voice 
        enabled: true
