apiVersion: wkc.cpd.ibm.com/v1beta1
kind: WKC
metadata:
  name: wkc-cr
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  license:
    accept: {{ _cpd_accept_licenses | default(False) }}
    license: Enterprise
{% if selected_openshift_storage.storage_type == "pwx" %}
  storageClass: portworx-shared-gp3
{% else %}
  storageClass: {{ ocp_storage_class_file }}
{% endif %}
  # install_wkc_core_only: true     # To install the core version of the service, remove the comment tagging from the beginning of the line.
  # wkc_db2u_set_kernel_params: True     
  version: {{ _current_cp4d_cartridge.version | default(_current_cp4d_cartridge.CR_Version) }}
