apiVersion: wml.cpd.ibm.com/v1beta1
kind: WmlBase
metadata:
  name: wml-cr  
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  license:
    accept: {{ cpd_accept_licenses | default(False) }}
    license: Enterprise
  ignoreForMaintenance: false
#  is_35_upgrade: false
{% if selected_openshift_storage.storage_type == "pwx" %}
  storageVendor: portworx
  storageClass: portworx-shared-gp3
{% else %}
  storageVendor: "" 
  storageClass: {{ ocp_storage_class_file }}
{% endif %}
{% if _current_cp4d_cartridge.version is defined %}
  version: {{ _current_cp4d_cartridge.version }}
{% endif %}