apiVersion: spectrumcomputing.ibm.com/v1
kind: Wmla-add-on
metadata:
  name: wmla
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  serviceReplicas: {{ current_cp4d_cartridge.replicas }}
  scaleConfig: {{ current_cp4d_cartridge.size }}
{% if current_cp4d_cartridge.version is defined %}
  version: {{ current_cp4d_cartridge.version }}
{% endif %}