---
apiVersion: operator.ibm.com/v1alpha1
kind: OperandRequest
metadata:
  name: wo-operand-request
  namespace: {{ _p_current_cp4d_cluster.project }}
spec:
  requests:
  - operands:
    - name: ibm-events-operator-v5.1
    registry: common-service