{% for item in _db2_service_key_json.stdout_lines %}
{% if item.strip().startswith('"hostname":') or item.strip().startswith('"port":') or item.strip().startswith('"database":') or item.strip().startswith('"username":') or item.strip().startswith('"password":') %}
{% if item.strip().endswith(',') %}
{{ item.strip()[:-1] }}
{% else %}
{{ item.strip() }}
{% endif %}
{% endif %}
{% endfor %}
