  CP4D URL: https://{{ cp4d_url.stdout }}
  CP4D User: {{ _cp4d_admin_user }}
  CP4D {{ _cp4d_admin_user }} password: {{ _cp4d_admin_password }}
  CP4D {{ _cp4d_admin_user }} API key {{ _cp4d_admin_api_key }}
