{
   "datasource_type":"{{ _cp4d_connection_type }}",
   "description":"{{ _cp4d_connection_description }} ",
   "name":"{{ _cp4d_connection_name }}",
   "origin_country": "us",
   "properties":{
      "database":"{{ _cp4d_connection_database }}",
      "port":"{{ _cp4d_connection_port }}",
      "host":"{{ _cp4d_connection_hostname }}",
      "username":"{{ _cp4d_connection_username }}",
      "password":"{{ _cp4d_connection_password }}",
      "inherit_access_token":"{{ _cp4d_connection_inherit_access_token }}",
{% if not ( _cp4d_connection_ssl_certificate == "") %}
      "ssl_certificate":"{{ _cp4d_connection_ssl_certificate }}",
{% endif %}
      "ssl":"{{ _cp4d_connection_port_ssl|lower }}",
      "username_password_security":	"default",
      "username_password_encryption": "default"
   }
}