resource "ibm_is_floating_ip" "{{ generator.attributes.name | replace("-", "_") }}" {
  name           = "{{ generator.attributes.name }}"
  zone           = "{{ generator.attributes.zone }}"
  resource_group = data.ibm_resource_group.thisresourcegroup.id
  lifecycle {
    ignore_changes = [ resource_group ]
  }
}