## The following requirements were added by mkdocs-get-deps
mkdocs
mkdocs-awesome-pages-plugin
mkdocs-material
mkdocs-minify-plugin
mkdocs-open-in-new-tab
mkdocs-pdf-export-plugin
mkdocs-table-reader-plugin
pymdown-extensions