resource "ibm_is_instance" "vsi_{{generator.attributes.name}}" {
  name    = "{{generator.attributes.name}}"
  image   = "{{generator.attributes.image}}"
  profile = "{{generator.attributes.profile}}"

  primary_network_interface {
    subnet = ibm_is_subnet.testacc_subnet.id
    primary_ipv4_address = "10.240.0.6"
    allow_ip_spoofing = true
  }

  network_interfaces {
    name   = "eth1"
    subnet = ibm_is_subnet.testacc_subnet.id
    allow_ip_spoofing = false
  }

  vpc  = ibm_is_vpc.testacc_vpc.id
  zone = "us-south-1"
  keys = [ibm_is_ssh_key.testacc_sshkey.id]

  //User can configure timeouts
  timeouts {
    create = "15m"
    update = "15m"
    delete = "15m"
  }
}