data "ibm_is_image" "{{generator.attributes.name | replace("-", "_") }}" {
    name = "{{generator.attributes.infrastructure.image}}"
}

resource "ibm_is_instance" "{{generator.attributes.name | replace("-", "_") }}" {
    name = "{{generator.attributes.name }}-vsi"
    resource_group =  data.ibm_resource_group.thisresourcegroup.id
    profile = "{{generator.attributes.infrastructure.profile}}"
    keys = [
        {% for item in generator.attributes.infrastructure.get('keys',[]) %}
            ibm_is_ssh_key.{{item | replace("-", "_") }}.id
        {% endfor %}
    ]
    zone = "{{generator.attributes.infrastructure.zone }}"
    vpc = ibm_is_vpc.{{generator.attributes.infrastructure.vpc_name | replace("-", "_")}}.id
    image = data.ibm_is_image.{{generator.attributes.name | replace("-", "_") }}.id
    
    boot_volume {
        name = "{{generator.attributes.name }}-disk-boot"
    }
    primary_network_interface {
        name = "{{generator.attributes.name }}-nic"
        subnet = ibm_is_subnet.{{generator.attributes.infrastructure.subnet | replace("-", "_") }}.id
        primary_ipv4_address = "{{generator.attributes.infrastructure.primary_ipv4_address}}"
    }
}

{% if generator.attributes.infrastructure.public_ip is defined and generator.attributes.infrastructure.public_ip is sameas true %}
resource "ibm_is_floating_ip" "{{generator.attributes.name | replace("-", "_") }}" {
  name           = "{{generator.attributes.name}}"
  target         = ibm_is_instance.{{generator.attributes.name | replace("-", "_")}}.primary_network_interface[0].id
  resource_group = data.ibm_resource_group.thisresourcegroup.id
}
{% endif %}


{# nice to have for debugging #}

/* generator.attributes:
{{generator.attributes | to_nice_json}}
*/