{
    "addon_type": "{{ cp4d_wd_instance_addon_type }}",
    "display_name": "{{ _wd_instance.name }}",
    "addon_version": "{{ _wd_version.stdout }}",
    "namespace": "{{ current_cp4d_cluster.project }}",
    "create_arguments": {
        "deployment_id": "{{ current_cp4d_cluster.project }}-wd",
        "parameters": {
            "serviceId": "discovery",
            "url": "https://wd-discovery-gateway.{{ current_cp4d_cluster.project }}.svc.cluster.local:60443/v2/service_instances",
            "watson": true
        }
    }
}