apiVersion: charts.helm.k8s.io/v1
kind: Xl
metadata:
  name: xl-release
  namespace: turbonomic
spec:
  global:
    customImageNames: false
    repository: registry.connect.redhat.com/turbonomic
    storageClassName: {{ WAIOPS_STORAGE_CLASS_LARGE_BLOCK }}
    storageSelector: false
    tag: 8.5.5
  openshiftingress:
    enabled: true
  kubeturbo:
    enabled: true
    
  grafana:
    adminPassword: "{{global_config.global_password}}"
    enabled: true
  extractor:
    enabled: true
    serviceAccountName: t8c-operator
  reporting:
    enabled: true
  timescaledb:
    enabled: true
    serviceAccountName: t8c-operator
  kafka:
    #resources:
    #  limits:
    #    memory: 6Gi
    persistence:
      size: 30Gi
  db:
    #resources:
    #  limits:
    #    memory: 6Gi
    persistence:
      size: 30Gi
  rsyslog:
    #resources:
    #  limits:
    #    memory: 6Gi
    persistence:
      size: 30Gi
  webhook:
    enabled: true
  servicenow:
    enabled: true
  websphere:
    enabled: true
  jvm:
    enabled: true
  actionscript:
    enabled: true
  xen:
    enabled: false
  mysql:
    enabled: true
  tomcat:
    enabled: true
  netapp:
    enabled: true
  hyperflex:
    enabled: true
  ucs:
    enabled: true
  udt:
    enabled: true
  mssql:
    enabled: true
  nutanix:
    enabled: true
  weblogic:
    enabled: false
  hyperv:
    enabled: true
  vcenter:
    enabled: true
  hpe3par:
    enabled: true
  oneview:
    enabled: true
  vmax:
    enabled: true
  instana:
    enabled: true
  azure:
    enabled: true
  actionstream-kafka:
    enabled: false
  scaleio:
    enabled: false
  wmi:
    enabled: true
  newrelic:
    enabled: true
  gcp:
    enabled: true
  appdynamics:
    enabled: true
  vmm:
    enabled: true
  jboss:
    enabled: true
  pure:
    enabled: true
  ibmstorage-flashsystem:
    enabled: true
  horizon:
    enabled: true
  appinsights:
    enabled: true
  dynatrace:
    enabled: true
  aws:
    enabled: true

  snmp:
    enabled: true
  oracle:
    enabled: true

  prometheus:
    enabled: true
  prometurbo:
    enabled: true

