apiVersion: edb.cpd.ibm.com/v1
kind: CPDEdbService
metadata:
  name: {{ _postgresql_instance_name }}
  annotations:
    managedByCpDeployer: "yes"
spec:
  type: {{ _postgresql_instance_type }}    
  members: {{ _postgresql_instance_members }}
  version: "{{ _cp4d_postgresql_version }}"
  storageClass: {{ _postgresql_instance_storage_class }}
  storageSize: {{ _postgresql_instance_storage_size_gb }}Gi
  resources:
    requests:
      cpu: {{ _postgresql_instance_resource_request_cpu }}
      memory: {{ _postgresql_instance_resource_request_memory }}
    limits:
      cpu: {{ _postgresql_instance_resource_limit_cpu }}
      memory: {{ _postgresql_instance_resource_limit_memory }}