{
   "datasource_type":"{{ cp4d_datasource_db2_type[0] }}",
   "description":"",
   "name":"{{ cp4d_cognos_connection_name }}",
   "origin_country": "us",
   "properties":{
      "database":"{{ db2_service_key.database }}",
      "password":"{{ db2_service_key.password }}",
      "port":"{{ db2_service_key.port }}",
      "host":"{{ db2_service_key.hostname }}",
      "ssl":"true",
      "username":"{{ db2_service_key.username }}"
   }
}
