cloudctl case save \
    --repo {{ case_github_url }} \
    --case {{ _p_case }} \
    --version {{ _p_case_version }} \
    --outputdir {{ _case_dir }} {% if not (_p_download_dependent_case | default(True) | bool) %} --no-dependency {% endif %}