{{ current_image_registry.registry_host_name }}{% if current_image_registry.registry_port | default('') != '' %}:{{ current_image_registry.registry_port }}{% endif %}{% if current_image_registry.registry_namespace | default('') != '' %}/{{ current_image_registry.registry_namespace }}{% endif %}