kind: Secret
apiVersion: v1
metadata:
  name: "{{current_cp4ba_cluster.project}}-global-ca"
  namespace: "{{ global_ca_output_namespace }}"
type: Opaque
data:
  global_ca_tls.crt: "{{_global_ca_crt}}"
  global_ca_tls.key: "{{_global_ca_key}}"
