{
  "name": "LDAP",
  "protocol": "{{ 'ldap' if not lc_ldap_ssl_enabled else 'ldaps' }}",
  "host": "{{ lc_ldap_server }}",
  "port": "{{ lc_ldap_port }}",
  "searchBase": "{{ lc_ldap_base_dn }}",
  "authScheme": "SIMPLE",
  "authRealm": "{{ lc_ldap_domain }}",
  "authUsername": "{{ lc_bind_admin_user }}",
  "authPassword": "{{ lc_bind_admin_password }}",
  "connectionTimeoutSeconds": 30,
  "connectionRetryDelaySeconds": 300,
  "maxIncidentsCount": 3,
  "userBaseDn": "{{ lc_ldap_user_base_dn | regex_replace('^(.+?)(,)(([Oo]|[Dd][Cc])=.*)$', '\\1') }}",
  "userSubtree": false,
  "userObjectClass": "{{ lc_ldap_user_object_class }}",
  "userLdapFilter": "",
  "userIdAttribute": "{{ lc_ldap_user_id_attribute }}",
  "userRealNameAttribute": "{{ lc_ldap_user_display_name_attr }}",
  "userEmailAddressAttribute": "mail",
  "userPasswordAttribute": "",
  "ldapGroupsAsRoles": true,
  "groupType": "static",
  "groupBaseDn": "{{ lc_ldap_group_base_dn | regex_replace('^(.+?)(,)(([Oo]|[Dd][Cc])=.*)$', '\\1') | regex_replace() }}",
  "groupSubtree": false,
  "groupObjectClass": "{{ lc_ldap_group_object_class }}",
  "groupIdAttribute": "{{ lc_ldap_group_id_attribute }}",
  "groupMemberAttribute": "member",
  "groupMemberFormat": "{{ lc_ldap_user_id_attribute }}=${username},{{ lc_ldap_user_base_dn }}"
}