apiVersion: v1
kind: ConfigMap
metadata:
  name: "000-{{ _current_cp4ba_cluster.project }}-nexus-maven-settings"
  namespace: "{{ nexus_output_namespace }}"
  labels:
    app: nexus  
data:
  settings.xml: |- 
    {{ lookup('file', nexus_output_directory+'/maven-settings.xml') | indent(4) }}
