{
  "id": "{{ lc_principal_admin_group }}",
  "name": "{{ lc_principal_admin_group }}",
  "description": "{{ lc_principal_admin_group }}",
  "privileges": [
    "nx-all"
  ],
  "roles": [
    "nx-admin"
  ]
}