apiVersion: v1
kind: ConfigMap
metadata:
  name: cp4ba-nexus-maven-settings
  namespace: "{{ nexus_output_namespace }}"
data:
  settings.xml: |- 
    {{ lookup('file', nexus_output_directory+'/maven-settings.xml') | indent(4) }}
