kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: nexusrepo-sonatype-nexus-data
  namespace: "{{ nexus_project_name }}"
  labels:
    app: nexus
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 8Gi
  storageClassName: "{{ nexus_storage_class_name }}"
  volumeMode: Filesystem
