kind: Service
apiVersion: v1
metadata:
  name: nexusrepo-sonatype-nexus-service
  namespace: "{{ nexus_project_name }}"
  labels:
    app: nexus
spec:
  ports:
    - name: application
      protocol: TCP
      port: 8081
      targetPort: 8081
  selector:
    app: nexus
