kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: nexus
  namespace: "{{ nexus_project_name }}"
  labels:
    app: nexus
spec:
  serviceName: nexus
  replicas: 1
  selector:
    matchLabels:
      app: nexus
  template:
    metadata:
      labels:
        app: nexus
    spec:
      containers:
        - name: nexus
          image: "{{ nexus_image }}"
          resources:
            requests:
              cpu: 300m
              memory: 2048Mi
            limits:
              cpu: 500m
              memory: 3048Mi
          startupProbe:
            httpGet:
              path: /
              port: 8081
              scheme: HTTP
            timeoutSeconds: 1
            periodSeconds: 45
            successThreshold: 1
            failureThreshold: 12
          readinessProbe:
            httpGet:
              path: /
              port: 8081
              scheme: HTTP
            timeoutSeconds: 1
            periodSeconds: 45
            successThreshold: 1
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /
              port: 8081
              scheme: HTTP
            timeoutSeconds: 1
            periodSeconds: 45
            successThreshold: 1
            failureThreshold: 6
          env:
            - name: install4jAddVmParams
              value: >-
                -Xms500M -Xmx1200M
                -XX:+UnlockExperimentalVMOptions
                -XX:+UseCGroupMemoryLimitForHeap
            - name: NEXUS_SECURITY_RANDOMPASSWORD
              value: 'false'
          securityContext:
            capabilities:
              drop:
                - ALL
            allowPrivilegeEscalation: false
          ports:
            - name: nexus-docker-g
              containerPort: 5003
              protocol: TCP
            - name: nexus-http
              containerPort: 8081
              protocol: TCP
          volumeMounts:
            - name: nexus-data
              mountPath: /nexus-data
            - name: nexus-backup
              mountPath: /nexus-data/backup
      restartPolicy: Always
      terminationGracePeriodSeconds: 120
      volumes:
        - name: nexus-backup
          emptyDir: {}
  volumeClaimTemplates:
    - kind: PersistentVolumeClaim
      apiVersion: v1
      metadata:
        name: nexus-data
        labels:
          app: nexus
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: "{{ nexus_storage_class_name }}"
        resources:
          requests:
            storage: 8Gi
        volumeMode: Filesystem          
